<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-link-heading">Create or edit a Link</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!link.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="link.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="link.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_bound">bound</label>
                    <input type="text" class="form-control" name="bound" id="field_bound"
                        [(ngModel)]="link.bound" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_transport">Transport</label>
                    <input type="text" class="form-control" name="transport" id="field_transport"
                        [(ngModel)]="link.transport" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_rule">Rule</label>
                    <input type="text" class="form-control" name="rule" id="field_rule"
                        [(ngModel)]="link.rule" />
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
