
<div *ngIf="toEndpoint">
    <h2><span>To Endpoint</span> {{toEndpoint.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Type</span></dt>
        <dd>
            <span>{{toEndpoint.type}}</span>
        </dd>
        <dt><span>Uri</span></dt>
        <dd>
            <span>{{toEndpoint.uri}}</span>
        </dd>
        <dt><span>Options</span></dt>
        <dd>
            <span>{{toEndpoint.options}}</span>
        </dd>
        <dt><span>Camel Route</span></dt>
        <dd>
            <div *ngIf="toEndpoint.camelRouteId">
                <a [routerLink]="['/camel-route', toEndpoint.camelRouteId]">{{toEndpoint.camelRouteId}}</a>
            </div>
        </dd>
        <dt><span>Service</span></dt>
        <dd>
            <div *ngIf="toEndpoint.serviceId">
                <a [routerLink]="['/service', toEndpoint.serviceId]">{{toEndpoint.serviceId}}</a>
            </div>
        </dd>
        <dt><span>Header</span></dt>
        <dd>
            <div *ngIf="toEndpoint.headerId">
                <a [routerLink]="['/header', toEndpoint.headerId]">{{toEndpoint.headerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'to-endpoint/'+ toEndpoint.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
