<div>
    <h2>
        <span>To Endpoints</span>
        <button class="btn btn-primary float-right jh-create-entity create-to-endpoint" [routerLink]="['/', { outlets: { popup: ['to-endpoint-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create To Endpoint
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="toEndpoints">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Uri</span></th>
            <th><span>Options</span></th>
            <th><span>Flow</span></th>
            <th><span>Service</span></th>
            <th><span>Header</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let toEndpoint of toEndpoints ;trackBy: trackId">
                <td><a [routerLink]="['../to-endpoint', toEndpoint.id ]">{{toEndpoint.id}}</a></td>
                <td>{{toEndpoint.type}}</td>
                <td>{{toEndpoint.uri}}</td>
                <td>{{toEndpoint.options}}</td>
                <td>
                    <div *ngIf="toEndpoint.flowId">
                        <a [routerLink]="['../flow', toEndpoint.flowId  ]" >{{toEndpoint.flowId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="toEndpoint.serviceId">
                        <a [routerLink]="['../service', toEndpoint.serviceId  ]" >{{toEndpoint.serviceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="toEndpoint.headerId">
                        <a [routerLink]="['../header', toEndpoint.headerId  ]" >{{toEndpoint.headerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../to-endpoint', toEndpoint.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'to-endpoint/'+ toEndpoint.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'to-endpoint/'+ toEndpoint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
