<div>
  <jhi-search-toolbar [(query)]="searchText" placeholder="Filter by login or email" inputId="searchUsersId">
    <ng-container actions>
      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-fx btn-fx-primary jh-create-entity create-user-management"
        [routerLink]="['/user-management/new']"
        aria-label="Add"
      >
        <fa-icon icon="plus" />
        <span class="d-none d-md-inline" jhiTranslate="userManagement.home.createLabel">Add</span>
      </button>
      <button class="btn btn-fx btn-fx-secondary" type="button" (click)="load()" [disabled]="isLoading()" aria-label="Refresh">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="userManagement.home.refreshListLabel">Refresh</span>
      </button>
    </ng-container>
  </jhi-search-toolbar>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-data-table
    [columns]="columns"
    [(sortState)]="sortState"
    (sortChange)="navigateToWithComponentValues($event)"
    [loading]="isLoading() && userManagements().length === 0"
    [hasRows]="filteredUsers().length > 0"
    [emptyMessage]="'No user found'"
    ariaLabel="Users"
  >
    @for (userManagement of filteredUsers(); track trackLogin(userManagement)) {
      <tr data-cy="entityTable">
        <td class="table-fx-identity">
          <a [routerLink]="['/user-management', userManagement.login, 'view']">
            <jhi-truncate [text]="userManagement.login" />
          </a>
        </td>
        <td class="table-fx-identity">
          <jhi-truncate [text]="userManagement.email" />
        </td>
        <td>
          @if (!userManagement.activated) {
            <button class="btn btn-danger btn-sm" (click)="setActive(userManagement, true)" jhiTranslate="userManagement.deactivated">
              Deactivated
            </button>
          } @else {
            <button
              class="btn btn-success btn-sm"
              (click)="setActive(userManagement, false)"
              [disabled]="!currentAccount() || currentAccount()?.login === userManagement.login"
              jhiTranslate="userManagement.activated"
            >
              Activated
            </button>
          }
        </td>
        <td>{{ userManagement.createdDate | formatMediumDatetime }}</td>
        <td>{{ userManagement.lastModifiedBy }}</td>
        <td>{{ userManagement.lastModifiedDate | formatMediumDatetime }}</td>
        <td>
          @for (authority of userManagement.authorities; track $index; let last = $last) {
            <span>
              <a class="badge bg-info" [routerLink]="['/authority', authority, 'view']">{{ authority }}</a
              >{{ last ? '' : ', ' }}
            </span>
          }
        </td>
        <td class="text-end">
          <jhi-row-actions>
            <button
              jhiPrimaryAction
              type="button"
              class="btn btn-fx btn-fx-sm btn-fx-ghost"
              [routerLink]="['/user-management', userManagement.login, 'view']"
              data-cy="entityDetailsButton"
              aria-label="View"
            >
              <fa-icon icon="eye" />
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
            <button
              jhiPrimaryAction
              type="button"
              class="btn btn-fx btn-fx-sm btn-fx-ghost"
              [routerLink]="['/user-management', userManagement.login, 'edit']"
              data-cy="entityEditButton"
              aria-label="Edit"
            >
              <fa-icon icon="pencil-alt" />
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
            <button
              jhiOverflowAction
              type="button"
              ngbDropdownItem
              class="btn-fx-dropdown-item btn-fx-dropdown-danger"
              (click)="delete(userManagement)"
              [disabled]="!currentAccount() || currentAccount()?.login === userManagement.login"
              data-cy="entityDeleteButton"
            >
              <fa-icon icon="times" />
              <span jhiTranslate="entity.action.delete">Delete</span>
            </button>
          </jhi-row-actions>
        </td>
      </tr>
    }
  </jhi-data-table>

  @if (userManagements().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
