<div>
    <h2 id="page-heading">
        <span>Gateways</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gateway" [routerLink]="['/gateway/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Gateway
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="gateways">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Type</span></th>
            <th><span>Environment Name</span></th>
            <th><span>Stage</span></th>
            <th><span>Default From Endpoint Type</span></th>
            <th><span>Default To Endpoint Type</span></th>
            <th><span>Default Error Endpoint Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gateway of gateways ;trackBy: trackId">
                <td><a [routerLink]="['/gateway', gateway.id, 'view' ]">{{gateway.id}}</a></td>
                <td>{{gateway.name}}</td>
                <td>{{gateway.type}}</td>
                <td>{{gateway.environmentName}}</td>
                <td>{{gateway.stage}}</td>
                <td>{{gateway.defaultFromEndpointType}}</td>
                <td>{{gateway.defaultToEndpointType}}</td>
                <td>{{gateway.defaultErrorEndpointType}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/gateway', gateway.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gateway', gateway.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gateway/'+ gateway.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
