<div>
	<ng-template #restartGatewayModal>
			<div class="modal-header">
		      <h4 class="modal-title">Restart Gateway</h4>
		      <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
		        <span aria-hidden="true">&times;</span>
		      </button>
		    </div>
		    <div class="modal-body">
		     	<div class="row">
			     	<div class="col-12">
			     		Are you sure? This will restart Assimbly gateway (and shutdown its flows).
				 	</div>
				</div>
			 	<div [innerHtml]="restartGatewayMessage"></div>
		    </div>
		    <div class="modal-footer">
		      <button type="button" class="btn btn-secondary" (click)="cancelModal()">Close</button>
		      <button type="button" class="btn btn-primary" (click)="restartGateway(1)">Restart</button>
		    </div>
	</ng-template>
    <div class="row">
        <div class="col-6">
            <h2>
                <span>Gateway</span>
            </h2>
        </div>
       	<div class="col-6"  *ngIf='gateways.length > 0'>
			<a role="button" class="btn btn-sm right-border-radius-0 assimbly-link assimbly-gateway-img" href="https://github.com/assimbly/gateway/wiki/Gateway" placement="right" title="Assimbly Documentation" target="_blank">
				<picture>
					<source srcset="../../../content/images/assimbly_transparant.webp">
					<img src="../../../content/images/assimbly_transparant.png" alt="assibmly-logo">
				</picture>
			</a>
	   </div>
        <div class="col-6" *ngIf='gateways.length === 0'>
            <button type="submit" class="btn btn-primary float-right jh-create-entity create-gateway" id="newButton" [routerLink]="['/gateway/new']"
                *jhiHasAnyAuthority="'ROLE_ADMIN'">
	            <fa-icon [icon]="'plus'"></fa-icon>
                <span>Create Gateway</span>
            </button>
        </div>
    </div>
    <hr>
    <div class="d-block pull-right">
        <button type="button" (click)="openRestartGatewayModal(restartGatewayModal)" style="margin-right: 5px;"
            class="btn btn-info btn-sm mb-3 "  *jhiHasAnyAuthority="'ROLE_ADMIN'" >
            <span class="fa fa-refresh"></span>
            <span class="d-none d-md-inline">Restart</span>

        </button>
    </div>

    <!-- <jhi-alert></jhi-alert>-->
    <div class="table-responsive" *ngIf="gateways">
        <table class="table table-bordered table-sm" *ngFor="let gateway of gateways ;trackBy: trackId" style="margin-bottom: 30px;">
            <thead>
                <tr>
                    <th class="bg-secondary text-white font-weight-bold" colspan="2">
                        <span>
                            <h4>General</h4>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="w-25">
                        <span class="font-weight-bold">ID:</span>
                    </td>
                    <td class="w-75">
                        {{gateway.id}}
                    </td>
                </tr>
                <tr>
                    <td lass="w-25">
                        <span class="font-weight-bold">Name:</span>
                    </td>
                    <td class="w-75">
                        {{gateway.name}}
                    </td>
                </tr>
                <tr>
                    <td lass="w-25">
                        <span class="font-weight-bold">Type:</span>
                    </td>
                    <td class="w-75">
                        {{gateway.type}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Environment Name:</span>
                    </td>
                    <td>
                        {{gateway.environmentName}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Stage:</span>
                    </td>
                    <td>
                        {{gateway.stage}}
                    </td>
                </tr>
                <tr>
                    <td class="bg-secondary text-white font-weight-bold" colspan="2">
                        <span><h5>Endpoint defaults</h5></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">From:</span>
                    </td>
                    <td>
                        {{gateway.defaultFromComponentType}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">To:</span>
                    </td>
                    <td>
                        {{gateway.defaultToComponentType}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Error:</span>
                    </td>
                    <td>
                        {{gateway.defaultErrorComponentType}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <div class="d-block pull-right">
                            <button type="submit" *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLink]="['/gateway', gateway.id, 'edit']" replaceUrl="true" queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gateway/'+ gateway.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
