<form name="importForm"></form>
    <div class="modal-header">
        <h4 class="modal-title" id="myGatewayLabel">Import XML Configuration</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-control-label font-weight-bold" for="field_id">Gateway id</label>
            <select class="form-control" name="id" [(ngModel)]="gatewayId" id="field_id" [disabled]="gateways.length === 1">
                <option *ngFor="let gateway of gateways" value="{{gateway.id}}">{{gateway.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label font-weight-bold">XML configuration</label>
            <div class="custom-file">
                <input type="file" id="file" class="custom-file-input" (change)='openFile($event)'>
                <label for="file" class="custom-file-label">{{fileName}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!gatewayId || !xmlConfiguration" (click)="importConfiguration()">
            <span class="fa fa-upload"></span>&nbsp;
            <span>Import</span>
        </button>
    </div>
</form>