<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        	<ng-template #generalPopover let-message="message">
					<div [innerHtml]="generalPopoverMessage"></div>
				</ng-template>
                <ng-template #typePopover let-message="message">
                    <div [innerHtml]="typePopoverMessage"></div>
                </ng-template>
				<ng-template #environmentPopover let-message="message">
					<div [innerHtml]="environmentPopoverMessage"></div>
				</ng-template>
				<ng-template #defaultPopover let-message="message">
					<div [innerHtml]="defaultPopoverMessage"></div>
			</ng-template>
            <h2 id="jhi-gateway-heading">Edit Gateway</h2>
			    <div>
			        <jhi-alert-error></jhi-alert-error>
			        <h4>General
					<i placement="right" triggers="mouseenter:mouseleave"
						popoverTitle="Info"
						data-placement="bottom"
						 [popover]="generalPopover"
						class="fa fa-info-circle"></i>
					</h4>
			        <div class="form-group" [hidden]="!gateway.id">
			            <label for="id" class="font-weight-bold">ID</label>
			            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="gateway.id" readonly />
			        </div>
			        <div class="form-group">
			            <label class="form-control-label font-weight-bold" for="field_name">Name</label>
			            <input type="text" class="form-control" name="name" id="field_name"
			                [(ngModel)]="gateway.name" />
			        </div>
			        <div class="form-group">
                      <!--  <h4>
                        <i placement="right" triggers="mouseenter:mouseleave"
                           popoverTitle="Info"
                           [popover]="typePopover"
                           class="fa fa-info-circle"></i>
                        </h4>-->
			            <label class="form-control-label font-weight-bold" for="field_type">Type</label>
                        <input type="text" class="form-control" name="type" id="type" [(ngModel)]="gateway.type" readonly/>
                        <!--
			            <select class="form-control" name="type" [(ngModel)]="gateway.type" id="field_type" (change)="setTypeGateway()">
			                <option *ngFor="let gatewayType of gatewayListType" [ngValue]="gatewayType">{{gatewayType}}</option>
			            </select>-->
			        </div>
              <br/>
			        <h4>Environment
					<i placement="right" triggers="mouseenter:mouseleave"
						popoverTitle="Info"
						 [popover]="environmentPopover"
						class="fa fa-info-circle"></i>
					</h4>
			        <div class="form-group">
			            <label class="form-control-label font-weight-bold" for="field_environmentName">Name</label>
			            <input type="text" class="form-control" name="environmentName" id="field_environmentName" [(ngModel)]="gateway.environmentName" />
			        </div>
			        <div class="form-group">
			            <label class="form-control-label font-weight-bold" for="field_stage">Stage</label>
			            <select class="form-control" name="stage" [(ngModel)]="gateway.stage" id="field_stage" >
			                <option *ngFor="let gatewayStage of gatewayListStage" [ngValue]="gatewayStage">{{gatewayStage}}</option>
			            </select>
			        </div>
					<br/>
			        <h4>Default components
					<i placement="right" triggers="mouseenter:mouseleave"
						popoverTitle="Info"
						 [popover]="defaultPopover"
						class="fa fa-info-circle"></i>
					</h4>
			        <div class="form-group">
			            <label class="form-control-label font-weight-bold" for="field_defaultFromComponentType">From</label>
			            <select class="form-control" name="type"  name="defaultFromComponentType" id="field_defaultFromComponentType" [(ngModel)]="gateway.defaultFromComponentType">
			                <option *ngFor="let fromType of consumerComponentsNames" [ngValue]="fromType">{{fromType}}</option>
			            </select>
			        </div>
			        <div class="form-group">
			            <label class="form-control-label font-weight-bold" for="field_defaultToComponentType">To</label>
			            <select class="form-control" name="type"  name="defaultToComponentType" id="field_defaultToComponentType" [(ngModel)]="gateway.defaultToComponentType">
			                <option *ngFor="let toType of producerComponentsNames" [ngValue]="toType">{{toType}}</option>
			            </select>
			        </div>
			        <div class="form-group">
			            <label class="form-control-label font-weight-bold" for="field_defaultErrorComponentType">Error</label>
			            <select class="form-control" name="type" name="defaultErrorComponentType" id="field_defaultErrorComponentType" [(ngModel)]="gateway.defaultErrorComponentType" >
			                <option *ngFor="let errorType of producerComponentsNames" [ngValue]="errorType">{{errorType}}</option>
			            </select>
			        </div>

			    </div>
				<br/>
                <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
