<div *ngIf="gateway" class="container">
    <h2>
        <span>Gateway</span> {{gateway.id}}
    </h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th class="bg-gray" colspan="2">
                    <span class="text-center">
                        <i>{{gateway.name}}</i>
                    </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="font-weight-bold">Type:</span>
                </td>
                <td>{{gateway.type}}</td>
            </tr>
            <tr>
                <td>
                    <span class="font-weight-bold">Environment Name:</span>
                </td>
                <td>{{gateway.environmentName}}</td>
            </tr>
            <tr>
                <td>
                    <span class="font-weight-bold">Stage:</span>
                </td>
                <td>{{gateway.stage}}</td>
            </tr>
            <tr>
                <td>
                    <span class="font-weight-bold">Default To Endpoint:</span>
                </td>
                <td>{{gateway.defaultToEndpointType}}</td>
            </tr>
            <tr>
                <td>
                    <span class="font-weight-bold">Default Error Endpoint:</span>
                </td>
                <td>{{gateway.defaultErrorEndpointType}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-block pull-right">
        <button type="submit" (click)="previousState()" class="btn btn-info btn-sm">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span> Back</span>
        </button>
        <button type="button" [routerLink]="['/', { outlets: { popup: 'gateway/'+ gateway.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
            class="btn btn-primary btn-sm">
            <span class="fa fa-pencil"></span>&nbsp;
            <span> Edit</span>
        </button>
    </div>
</div>