node_modules/
src/main/docker/
src/test/javascript/protractor.conf.js
src/test/javascript/jest.conf.js
webpack/
target/
build/
node/
postcss.config.js
src/**
src/integration/src/main/webapp/app/account/**
src/integration/src/main/webapp/app/admin/**
src/integration/src/main/webapp/app/config/**
src/integration/src/main/webapp/app/core/**
src/integration/src/main/webapp/app/entities/**
src/integration/src/main/webapp/app/layouts/**
src/integration/src/main/webapp/app/login/**
src/integration/src/main/webapp/app/shared/**
src/integration/src/test/**
