<div>
  <h2 id="page-heading">
    <span>Endpoints</span>
  </h2>	
  <br />
  <div class="table-responsive" *ngIf="endpoints">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>EndpointType</span></th>
          <th><span>ComponentType</span></th>
          <th><span>Uri</span></th>
          <th><span>Options</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let endpoint of endpoints; trackBy: trackId">
          <td>
            <a [routerLink]="['/endpoint', endpoint.id, 'view']">{{ endpoint.id }}</a>
          </td>
          <td>{{ endpoint.endpointType }}</td>
          <td>{{ endpoint.componentType }}</td>
          <td>{{ endpoint.uri }}</td>
          <td>{{ endpoint.options }}</td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit" [routerLink]="['/endpoint', endpoint.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
