<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="endpoint">
            <h2><span>Endpoint</span> {{endpoint.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{endpoint.type}}</span>
                </dd>
                <dt><span>Uri</span></dt>
                <dd>
                    <span>{{endpoint.uri}}</span>
                </dd>
                <dt><span>Options</span></dt>
                <dd>
                    <span>{{endpoint.options}}</span>
                </dd>
                <dt><span>Flow</span></dt>
                <dd>
                    <div *ngIf="endpoint.flowId">
                        <a [routerLink]="['/flow', endpoint.flowId, 'view']">{{endpoint.flowId}}</a>
                    </div>
                </dd>
                <dt><span>Service</span></dt>
                <dd>
                    <div *ngIf="endpoint.serviceId">
                        <a [routerLink]="['/service', endpoint.serviceId, 'view']">{{endpoint.serviceId}}</a>
                    </div>
                </dd>
                <dt><span>Header</span></dt>
                <dd>
                    <div *ngIf="endpoint.headerId">
                        <a [routerLink]="['/header', endpoint.headerId, 'view']">{{endpoint.headerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/endpoint', endpoint.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
