<div>
    <h2 id="page-heading">
        <span>Queues</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-queue" [routerLink]="['/queue/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Queue
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="addresses?.length === 0">
        <span>No queues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="addresses?.length > 0">
        <div class="col-3">
            <input type="text" align="left" style="margin-left: 0.3em"
                   [(ngModel)]="searchText"
                   id="searchTextId" name="searchText"
                   placeholder="Filter By Queue Name"/>
        </div>
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="name"><span>Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numberOfConsumers"><span>Consumers</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numberOfMessages"><span>Messages</span> <fa-icon icon="sort"></fa-icon></th>
<!--                    <th scope="col"  jhiSortBy="size"><span>Size</span> <fa-icon icon="sort"></fa-icon></th>-->
                    <th scope="col" ><span>Actions</span></th>
                </tr>
            </thead>

            <tbody *ngIf="addresses" infinite-scroll
                   (scrolled)="loadPage(page + 1)" (scrolledUp)="loadPage(page - 1)"
                   [infiniteScrollDisabled]="page >= links['last']"
                   [infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0">
            <tr jhi-queue-row
                *ngFor="let address of  (addresses | QueueSearchByName: searchText : ascending : predicate) ;trackBy: trackId"
                [address]="address" [isAdmin]="isAdmin"
                ng-init="$last && finished()"></tr>
            </tbody>
        </table>
    </div>
</div>
