<td id="queueRowID" [hidden]="!queueRowID"><a
	[routerLink]="['../queue', address.id ]">{{address.id}}</a>
</td>
<td>{{ address.name }}</td>
<td>{{ address.numberOfConsumers }}</td>
<td>{{ address.numberOfMessages }}</td>
<td class="text-left">
    <div class="btn-group">
        <button type="submit"
                class="btn btn-info btn-sm">
            <fa-icon icon="eye"></fa-icon>
            <span class="d-none d-md-inline">Browse</span>
        </button>

        <button type="submit"
                class="btn btn-primary btn-sm"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                [routerLink]="['../flow', 'message-sender' ]">
            <span class="fa fa-envelope"></span>
            <span class="d-none d-md-inline">Send</span>
        </button>

        <button type="submit"
                class="btn btn-danger btn-sm"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="delete(address)">
            <span class="fa fa-times"></span>
            <span class="d-none d-md-inline">Delete</span>
        </button>

        <button type="submit"
                class="btn btn-warning btn-sm"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="clear(address)">
            <span class="fa fa-trash"></span>
            <span class="d-none d-md-inline">Clear</span>
        </button>

<!--        <div ngbDropdown class="d-inline-block" placement="bottom-left" [hidden]="true">-->
<!--            <a class="btn" id="dropdownBasic1" ngbDropdownToggle>Other<i class="fa fa-angle-down"></i></a>-->
<!--            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
<!--                <a ngbDropdownItem role="button" (click)="delete(address)">-->
<!--                    <span><i class="fa fa-times"></i> Delete</span>-->
<!--                </a>-->
<!--                <a ngbDropdownItem role="button">-->
<!--                    <span><i class="fa fa-trash"></i> Clear</span>-->
<!--                </a>-->
<!--                <a ngbDropdownItem role="button" [hidden]="true">-->
<!--                    <span><i class="fa fa-save"></i> Save</span>-->
<!--                </a>-->
<!--                <a ngbDropdownItem role="button" [hidden]="true">-->
<!--                    <span><i class="fa fa-info"></i> Details</span>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</td>
