<div class="row justify-content-center">
    <div class="col-8">
    	<!-- 
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-queue-heading">Create or edit a Queue</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_itemsOnPage">Items On Page</label>
                    <input type="number" class="form-control" name="itemsOnPage" id="field_itemsOnPage"
                           formControlName="itemsOnPage"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_refreshInterval">Refresh Interval</label>
                    <input type="number" class="form-control" name="refreshInterval" id="field_refreshInterval"
                           formControlName="refreshInterval"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_selectedColumn">Selected Column</label>
                    <input type="text" class="form-control" name="selectedColumn" id="field_selectedColumn"
                           formControlName="selectedColumn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_orderColumn">Order Column</label>
                    <input type="text" class="form-control" name="orderColumn" id="field_orderColumn"
                           formControlName="orderColumn"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form> -->
    </div>
</div>
