<div>
  <jhi-search-toolbar
    [(query)]="searchQueueText"
    placeholder="Filter by queue name"
    persistKey="searchQueueText"
    inputId="searchTextId"
  >
    <ng-container actions>
      <button *ngIf="isBroker" class="btn btn-fx btn-fx-primary" type="button" [routerLink]="['/queue/new']" aria-label="Add">
        <fa-icon icon="plus"></fa-icon><span class="d-none d-md-inline"> Add</span>
      </button>
      <button
        *ngIf="isBroker && addresses?.length > 0"
        class="btn btn-fx btn-fx-secondary"
        type="button"
        (click)="updateAllQueues()"
        aria-label="Refresh"
      >
        <fa-icon icon="sync"></fa-icon><span class="d-none d-md-inline"> Refresh</span>
      </button>
    </ng-container>
  </jhi-search-toolbar>

  <jhi-data-table
    [columns]="columns"
    [(sortState)]="sortState"
    [loading]="isBroker === undefined"
    [hasRows]="!!filteredAddresses.length"
    [errorMessage]="isBroker === false ? 'No running broker found' : ''"
    [emptyMessage]="'No queues found'"
    ariaLabel="Queues"
  >
    <tr
      jhi-queue-row
      *ngFor="let address of filteredAddresses; trackBy: trackId"
      [address]="address"
      [brokerType]="brokerType"
    ></tr>
  </jhi-data-table>
</div>
