<h1>Deployment</h1>
<hr>

<div class="form-group">
    <button (click)="uploadConfiguration()" class="btn btn-info btn-sm" type="button">
        <span class="fa fa-upload"></span>
        <span class="d-none d-md-inline">Import Configuration (XML)</span>
    </button>
    <button (click)="downloadConfiguration()" type="button" class="btn btn-info btn-sm" >
        <span class="fa fa-download"></span>
        <span (click)="downloadConfiguration()" class="d-none d-md-inline">Export Configuration (XML)</span>
    </button>
</div>
