<td id="flowRowID" [hidden]="!flowRowID"><a
	[routerLink]="['../flow', flow.id ]">{{flow.id}}</a></td>
<td>
	<ng-template #detailsTemplate let-message="message">
		<div [innerHtml]="flowDetails"></div>
	</ng-template>
	<ng-template #statsTemplate let-message="message">
		<div [innerHtml]="flowStatistic"></div>
	</ng-template> 
	<div class="container">	
		<div class="row">
		    <div class="col-2" >
		    	<div class="row">
				  <div class="col">	
				    <button type="button" style="margin-top: 27px; margin-left:3.3em" data-container="body" class="btn btn-outline-primary btn-sm btn-block" triggers="mouseenter:mouseleave" placement="right" popoverTitle="From Endpoint" [popover]="fromEndpointTooltip">
						<span>{{fromEndpoint.type}}</span>
					</button>
		    	</div>
	  			<div class="w-100"></div>
				<div class="col"></div>		    	
	    	</div>
	    	</div>	
		    <div class="col-4">
		      	<a type="button" style="margin-top: 20px;" class="btn btn-link btn-block nounderline">
		      		<button *ngIf="statusFlow === 'active'" type="button" data-container="body" class="btn btn-success btn-sm btn-block btn-arrow-right" 
		      		(mouseenter)="p!=p" triggers="mouseenter" placement="right" popoverTitle="Status" [ngbPopover]="statusFlowButtonTemplate" [autoClose]="'outside'">
		      		       <span style="text-transform: uppercase;">{{flow.name}}</span>
					</button>
					<button *ngIf="statusFlow === 'paused'" type="button" data-container="body" class="btn btn-warning btn-sm btn-block btn-arrow-right" 
		      		(mouseenter)="p!=p" placement="right" triggers="mouseenter" popoverTitle="Status" [ngbPopover]="statusFlowButtonTemplate" [autoClose]="'outside'">
		      		       <span style="text-transform: uppercase;">{{flow.name}}</span>
					</button>

					<button *ngIf="statusFlow === 'inactive'" type="button" data-container="body" class="btn btn-primary btn-sm btn-block btn-arrow-right" 
		      		(mouseenter)="p!=p" placement="right" popoverTitle="Status" triggers="mouseenter" [ngbPopover]="statusFlowButtonTemplate" [autoClose]="'outside'">
		      		       <span style="text-transform: uppercase;">{{flow.name}}</span>
					</button>

					<button *ngIf="statusFlow === 'inactiveError'" type="button" data-container="body" class="btn btn-danger btn-sm btn-block btn-arrow-right" 
		      		(mouseenter)="p!=p" placement="right" triggers="mouseenter" popoverTitle="Status" [ngbPopover]="statusFlowButtonTemplate" [autoClose]="'outside'">
		      		       <span style="text-transform: uppercase;">{{flow.name}}</span>
					</button>
					<i  class="fa fa-info" aria-hidden="true" data-container="body"
						(mouseenter)="getFlowDetails()" triggers="mouseenter:mouseleave"
						placement="right"
						popoverTitle="Details" [popover]="detailsTemplate"></i>
					<i  style="padding-left: 1em" (mouseenter)="getFlowStatus(flow.id)" data-container="body"
						[hidden]="!isFlowStatusOK" triggers="mouseenter:mouseleave"
						placement="right" popoverTitle="Stats" [popover]="statsTemplate"
						class="fa fa-bar-chart"></i>
					 <i [hidden]="isFlowStatusOK" style="padding-left: 1em"
						placement="right"
						triggers="mouseenter:mouseleave"
						 popoverTitle="Stats"
						[popover]="statsTemplate" class="fa fa-bar-chart"></i>						
					<a style="padding-left: 1em" (click)="navigateToFlow('edit')" class="fa fa-edit" aria-hidden="true"
						placement="right" title="Edit flow"></a> 
					<a  style="padding-left: 1em" (click)="navigateToFlow('clone')"
						placement="right" title="Clone flow" class="fa fa-clone"></a>
					<a  style="padding-left: 1em" (click)="navigateToFlow('delete')" placement="right" title="Delete flow" class="fa fa-trash"></a>	
				</a>
			</div>
		    <div class="col-2" style="margin-top: 27px; margin-left:-2.8em">
			    <div class="row" *ngFor="let toEndpoint of toEndpoints; let i = index">
				  <div class="col btn-group">	
				   	<button type="button" class="btn btn-outline-primary btn-sm btn-block" data-container="body" triggers="mouseenter:mouseleave" placement="right" popoverTitle="To Endpoint" [popover]="toEndpointsTooltips[i]">
						<span>{{toEndpoint.type}}</span>
					</button>
				  </div>
				  <div class="w-100"></div>
				  <div class="col"></div>
				</div>		    
			</div>
			<div class="col-4">
		</div>
    </div>
</td>
<td id="flowRowID" [hidden]="!flowRowID"><a *ngIf="flow.gatewayId" [routerLink]="['../gateway', flow.gatewayId]">{{flow.gatewayId}}</a></td>
<td id="flowErrorEndpointID" [hidden]="!flowRowErrorEndpointID">
	<!-- <span triggers="mouseenter" placement="right" popoverTitle="URI" [popover]="errorEndpointTooltip">{{errorEndpointId.type}}</span> -->
</td>
<td class="text-right">
  <div class="float-left" >
<ng-template #statusFlowButtonTemplate let-message="message">
	<div [innerHtml]="flowStatusButton"></div>
	</ng-template>
	<p style="margin-top: 27px;">
	<h4 class="float-left">
	<ng-template #alertsFlowButtonTemplate let-message="message">
	       <div [innerHtml]="flowAlertsButton"></div>
	</ng-template>
	<h4 class="float-left" style="margin-left: 10px;">
		<span
			class="badge badge-warning" *ngIf="flowAlerts === 'true'"
			(mouseenter)="p!=p" placement="right" on-mouseover='getFlowAlerts(flow.id)'
			triggers="mouseenter" popoverTitle="Show last alerts"
			[ngbPopover]="alertsFlowButtonTemplate" [autoClose]="'outside'">{{numberOfAlerts}} Alerts</span>
	</h4>
	</p>	
	   </div>
</td>
<td>
  <div class="float-left" >
	<p style="margin-top: 27px;">
		<div class="btn-group flex-btn-group-container flow-btns">
			<button type="button" (click)="start()" class="btn btn-info btn-sm"
				[disabled]="disableActionBtns" *ngIf="!isFlowStarted">
				<span class="fa fa-play"></span> <span class="d-none d-md-inline">Start</span>
			</button>
			<button type="button" (click)="restart()"
				class="btn btn-primary btn-sm" [disabled]="disableActionBtns"
				*ngIf="!isFlowRestarted">
				<span class="fa fa-refresh"></span> <span class="d-none d-md-inline">Restart</span>
			</button>
			<button type="button" (click)="pause()" class="btn btn-warning btn-sm"
				[disabled]="!isFlowPaused && isFlowStopped || disableActionBtns"
				*ngIf="!isFlowPaused">
				<span class="fa fa-pause"></span> <span class="d-none d-md-inline">Pause</span>
			</button>
			<button type="button" (click)="resume()" class="btn btn-info btn-sm"
				[disabled]="disableActionBtns" *ngIf="!isFlowResumed">
				<span class="fa fa-step-forward"></span> <span
					class="d-none d-md-inline">Resume</span>
			</button>
			<button type="button" (click)="stop()" class="btn btn-danger btn-sm"
				[disabled]="isFlowStopped || disableActionBtns">
				<span class="fa fa-stop"></span> <span class="d-none d-md-inline">Stop</span>
			</button>
		</div>
		</p>
	</div>
</td>