<div>
	<div class="row mt-3" style="margin-left: 0.1em">
		<h2>Flows</h2>
	</div>

	<div *ngIf="multipleGateways">
		<label class="col-xl-2 col-md-4 col-12 col-form-label">Showing
			flows for gateway</label> <select
			class="col-xl-4 col-md-4 col-sm-12 form-control"
			(change)="getFlowsForSelectedGateway($event.target.value)">
			<option *ngFor="let gateway of gateways" [value]="gateway.id">{{gateway.name}}</option>
		</select>
	</div>
	<div class="col-12 text-right">
		<button class="btn btn-primary" type="submit"
			*jhiHasAnyAuthority="'ROLE_ADMIN'"
			[routerLink]="['../flow', 'edit-all' ]">
			<span class="fa fa-plus"></span> <span>Create flow</span>
		</button>
	</div>
	<div class="col-1.5">
		<input type="text" align="left" id="searchTextId"
			[(ngModel)]="searchText" name="searchText"
			placeholder="Filter By Flow Name"></input>
	</div>
	<br />
	<div *ngIf="flows?.length == 0">
		<div class="card-block pt-4">
			<blockquote class="card-blockquote">
				<br />
				<p class="tab">No flows yet. Start creating new flows by clicking on <a [routerLink]="['../flow', 'edit-all' ]">'Create flow'</a>. For more info check the <a target="_blank" href="https://github.com/assimbly/gateway/wiki">Assimbly Wiki</a></p>
			</blockquote>
		</div>
	</div>
	<div class="table-responsive" *ngIf="flows?.length > 0"
		[ngStyle]="{'visibility':finished ? 'visible' : 'hidden'}">
		<table class="table table-striped table-condensed">
			<thead class="transparant">
				<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
					[callback]="reset.bind(this)">
					<th [style.display]="'none'"><span>ID</span></th>
					<th jhiSortBy="name" class="border-bottom-none"><span></span>
						<span class="fa fa-sort"></span></th>
					<th [style.display]="'none'"><span>Gateway</span></th>
					<!-- <th class="border-bottom-none">
                           <span>To</span>
                       </th> -->
					<th [style.display]="'none'"><span>Error</span></th>
					<th class="border-bottom-none">
						<!-- <th class="row border-bottom-none">                        
	                   	<div class="col-7"> </div>
	                   	
                       	<div  class="input-group float-right col-5">
						 	<ng-select [items]="flowActions" id="field_header" [(ngModel)]="selectedAction" [hideSelected]=true></ng-select>
							<div class="input-group-append">
								<button type="button" class="btn btn btn-sm"
									(click)="trigerAction(selectedAction)">
									<span>All</span>
								</button>
							</div> 
						</div>-->
					</th>
				</tr>
			</thead>
			<tbody *ngIf="fromEndpoints" infinite-scroll
				(scrolled)="loadPage(page + 1)" (scrolledUp)="loadPage(page - 1)"
				[infiniteScrollDisabled]="page >= links['last']"
				[infiniteScrollDistance]="0" [infiniteScrollUpDistance]="0">
				<!-- <tbody *ngIf="fromEndpoints" infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0"> -->
				<tr jhi-flow-row
					*ngFor="let flow of  (flows | FlowSearchByName: searchText) ;trackBy: trackId"
					[flow]="flow" [fromEndpoints]="fromEndpoints" [isAdmin]="isAdmin"
					ng-init="$last && finished()"></tr>
			</tbody>
		</table>
	</div>
</div>
