<ng-template #errorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Install error</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p class="mb-3">{{ flowName }}</p>
    <div class="flow-error-detail" [innerHtml]="flowErrorButton"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-fx btn-fx-secondary" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

<button
  type="button"
  class="badge bg-danger text-white border-0"
  *ngIf="flowError"
  (click)="openError(errorModal)"
>
  <fa-icon icon="exclamation-triangle"></fa-icon>
  Error
</button>
<button
  type="button"
  class="badge bg-warning text-dark border-0"
  *ngIf="numberOfAlerts > 0"
  (click)="alertsOpen.emit()"
>
  <fa-icon icon="exclamation-triangle"></fa-icon>
  Alert ({{ numberOfAlerts }})
</button>
