<div class="container" *ngIf="!!flow">
    <h2><span>Flow {{flow.name}}</span></h2>
    <jhi-alert-error></jhi-alert-error>

    <div class="table-responsive">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th class="detailsTable">ID</th>
                    <td class="detailsTable">{{flow.id}}</td>
                </tr>
                <tr>
                    <th>Autostart</th>
                    <td>{{flow.autoStart}}</td>
                </tr>
                <tr>
                    <th>Maximum Redeliveries</th>
                    <td>{{flow.maximumRedeliveries}}</td>
                </tr>
                <tr>
                    <th>Redelivery Delay</th>
                    <td>{{flow.redeliveryDelay}}</td>
                </tr>
                <tr>
                    <th>Log Level</th>
                    <td>{{flow.logLevel}}</td>
                </tr>
                <tr>
                    <th class="lastItemBorder">Gateway name</th>
                    <td class="lastItemBorder"><a [routerLink]="['/gateway', flow.gatewayId, 'view']" *ngIf="!!gateway">{{gateway.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <ngb-tabset>

        <ngb-tab title="Endpoint ({{endpointIndex+1}})" id="endpointTab{{endpointIndex}}" *ngFor="let endpoint of endpoints; index as endpointIndex">
            <ng-template ngbTabContent>
                <jhi-alert-error></jhi-alert-error>
                <div row id="tabBackground">
                    <table class="table table-sm">
                        <tbody *ngIf="!!endpoint">
                            <tr>
                                <th class="detailsTable">ID</th>
                                <td class="detailsTable">
                                    <a [routerLink]="['/endpoint', endpoint.id]">{{endpoint.id}}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>ComponentType</th>
                                <td>
                                    {{endpoint.componentType}}
                                    <span class="float-right">
                                        <a role="button" class="btn btn-primary p-question-button btn-sm" href="{{componentTypeAssimblyLinks[endpointIndex]}}" target="_blank" title="Assimbly {{endpoint?.componentType}} component documentation"><span class="fa fa-question"></span></a>
                                        <a role="button" class="btn btn-outline-secondary camel-link btn-sm flow-assimbly-button" href="{{componentTypeCamelLinks[endpointIndex]}}" target="_blank" title="Camel {{endpoint?.componentType}} component documentation">
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Uri</th>
                                <td>{{endpoint.uri}}</td>
                            </tr>
                            <tr>
                                <th>Options</th>
                                <td>{{endpoint.options}}</td>
                            </tr>
                            <tr [style.display]="'none'">
                                <th>Flow</th>
                                <td>{{endpoint.flowId}}</td>
                            </tr>
                            <tr>
                                <th>Service</th>
                                <td>{{endpoint.serviceId}}</td>
                            </tr>
                            <tr>
                                <th class="lastItemBorder">Header</th>
                                <td class="lastItemBorder">{{endpoint.headerId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>

    <div class="float-right">
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span> Back</span>
        </button>
    </div>
    <br/>
</div>
