<div class="container" *ngIf="!!flow">
    <h2><span>Flow {{flow.name}}</span></h2>
    <jhi-alert-error></jhi-alert-error>

    <div class="table-responsive">
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th class="detailsTable">ID</th>
                    <td class="detailsTable">{{flow.id}}</td>
                </tr>
                <tr>
                    <th>Autostart</th>
                    <td>{{flow.autoStart}}</td>
                </tr>
                <tr>
                    <th>Offloading</th>
                    <td>{{flow.offLoading}}</td>
                </tr>
                <tr>
                    <th>Maximum Redeliveries</th>
                    <td>{{flow.maximumRedeliveries}}</td>
                </tr>
                <tr>
                    <th>Redelivery Delay</th>
                    <td>{{flow.redeliveryDelay}}</td>
                </tr>
                <tr>
                    <th class="lastItemBorder">Gateway name</th>
                    <td class="lastItemBorder"><a [routerLink]="['/gateway', flow.gatewayId, 'view']" *ngIf="!!gateway">{{gateway.name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <ngb-tabset>

        <ngb-tab title="From" id="fromTab">
            <ng-template ngbTabContent>
                <div row id="tabBackground">
                    <table class="table table-sm">
                        <tbody *ngIf="!!fromEndpoint">
                            <tr>
                                <th class="detailsTable">ID</th>
                                <td class="detailsTable">
                                    <a [routerLink]="['/from-endpoint', fromEndpoint.id]">{{fromEndpoint.id}}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    {{fromEndpoint.type}} 
                                    <span class="float-right">
                                        <a role="button" class="btn btn-primary p-question-button btn-sm" href="{{fromTypeAssimblyLink}}" target="_blank" title="Assimbly {{errorEndpoint?.type}} component documentation"><span class="fa fa-question"></span></a>
                                        <a role="button" class="btn btn-outline-secondary camel-link btn-sm" href="{{fromTypeCamelLink}}" target="_blank" title="Camel {{errorEndpoint?.type}} component documentation">
                                            <img src="../../../content/images/apache-camel.png" />
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Uri</th>
                                <td>{{fromEndpoint.uri}}</td>
                            </tr>
                            <tr>
                                <th>Options</th>
                                <td>{{fromEndpoint.options}}</td>
                            </tr>
                            <tr>
                                <th>Service</th>
                                <td>{{fromEndpoint.serviceId}}</td>
                            </tr>
                            <tr>
                                <th class="lastItemBorder">Header</th>
                                <td class="lastItemBorder">{{fromEndpoint.headerId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="To ({{toIndex+1}})" id="toTab{{toIndex}}" *ngFor="let toEndpoint of toEndpoints; index as toIndex">
            <ng-template ngbTabContent>
                <jhi-alert-error></jhi-alert-error>
                <div row id="tabBackground">
                    <table class="table table-sm">
                        <tbody *ngIf="!!toEndpoint">
                            <tr>
                                <th class="detailsTable">ID</th>
                                <td class="detailsTable">
                                    <a [routerLink]="['/to-endpoint', toEndpoint.id]">{{toEndpoint.id}}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    {{toEndpoint.type}}
                                    <span class="float-right">
                                        <a role="button" class="btn btn-primary p-question-button btn-sm" href="{{toTypeAssimblyLinks[toIndex]}}" target="_blank" title="Assimbly {{errorEndpoint?.type}} component documentation"><span class="fa fa-question"></span></a>
                                        <a role="button" class="btn btn-outline-secondary camel-link btn-sm" href="{{toTypeCamelLinks[toIndex]}}" target="_blank" title="Camel {{errorEndpoint?.type}} component documentation">
                                            <img src="../../../content/images/apache-camel.png" />
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Uri</th>
                                <td>{{toEndpoint.uri}}</td>
                            </tr>
                            <tr>
                                <th>Options</th>
                                <td>{{toEndpoint.options}}</td>
                            </tr>
                            <tr [style.display]="'none'">
                                <th>Flow</th>
                                <td>{{toEndpoint.flowId}}</td>
                            </tr>
                            <tr>
                                <th>Service</th>
                                <td>{{toEndpoint.serviceId}}</td>
                            </tr>
                            <tr>
                                <th class="lastItemBorder">Header</th>
                                <td class="lastItemBorder">{{toEndpoint.headerId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Error" id="errorTab">
            <ng-template ngbTabContent>
                <div row id="tabBackground">
                    <table class="table table-sm">
                        <tbody *ngIf="!!errorEndpoint">
                            <tr>
                                <th class="detailsTable">ID</th>
                                <td class="detailsTable">
                                    <a [routerLink]="['/error-endpoint', errorEndpoint.id]">{{errorEndpoint.id}}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Type</th>
                                <td>
                                    {{errorEndpoint.type}}
                                    <span class="float-right">
                                        <a role="button" class="btn btn-primary p-question-button btn-sm" href="{{errorTypeAssimblyLink}}" target="_blank" title="Assimbly {{errorEndpoint?.type}} component documentation"><span class="fa fa-question"></span></a>
                                        <a role="button" class="btn btn-outline-secondary camel-link btn-sm" href="{{errorTypeCamelLink}}" target="_blank" title="Camel {{errorEndpoint?.type}} component documentation">
                                            <img src="../../../content/images/apache-camel.png" />
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>Uri</th>
                                <td>{{errorEndpoint.uri}}</td>
                            </tr>
                            <tr>
                                <th>Options</th>
                                <td>{{errorEndpoint.options}}</td>
                            </tr>
                            <tr>
                                <th>Service</th>
                                <td>{{errorEndpoint.serviceId}}</td>
                            </tr>
                            <tr>
                                <th class="lastItemBorder">Header</th>
                                <td class="lastItemBorder">{{errorEndpoint.headerId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <div class="float-right">
        <button type="submit" (click)="previousState()" class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;
            <span> Back</span>
        </button>
    </div>
</div>
