<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-flow-heading">Create or edit a Flow</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!flow.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="flow.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="flow.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_autoStart">Auto Start</label>
                    <input type="checkbox" class="form-control" name="autoStart" id="field_autoStart"
                        [(ngModel)]="flow.autoStart" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_offLoading">Off Loading</label>
                    <input type="checkbox" class="form-control" name="offLoading" id="field_offLoading"
                        [(ngModel)]="flow.offLoading" />
                </div>           <div class="form-group">
                    <label class="form-control-label" for="field_maximumRedeliveries">Maximum Redeliveries</label>
                    <input type="checkbox" class="form-control" name="maximumRedeliveries" id="field_maximumRedeliveries"
                        [(ngModel)]="flow.maximumRedeliveries" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_redeliveryDelay">Redelivery Delay</label>
                    <input type="checkbox" class="form-control" name="redeliveryDelay" id="field_redeliveryDelay"
                        [(ngModel)]="flow.redeliveryDelay" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gateway">Gateway</label>
                    <select class="form-control" id="field_gateway" name="gateway" [(ngModel)]="flow.gatewayId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gatewayOption.id" *ngFor="let gatewayOption of gateways; trackBy: trackGatewayById">{{gatewayOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_fromEndpoint">From Endpoint</label>
                    <select class="form-control" id="field_fromEndpoint" name="fromEndpoint" [(ngModel)]="flow.fromEndpointId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fromEndpointOption.id" *ngFor="let fromEndpointOption of fromendpoints; trackBy: trackFromEndpointById">{{fromEndpointOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_errorEndpoint">Error Endpoint</label>
                    <select class="form-control" id="field_errorEndpoint" name="errorEndpoint" [(ngModel)]="flow.errorEndpointId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="errorEndpointOption.id" *ngFor="let errorEndpointOption of errorendpoints; trackBy: trackErrorEndpointById">{{errorEndpointOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
