<div>
	<textarea rows="20" cols="200" style="border:none;">
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<id>example</id>
	<type>file_gateway</type>
	<connectors>
		<!-- SONICESB Producer Examples -->
		<!-- error message are send to the faultbox, no need to set error handler -->

		<!-- example sonicesb to wastebin (same as terminate step) --> 		
		<connector>
			<id>example.sonicesbtowastebin</id>
		</connector>

		<!-- example sonicesb to file --> 		
		<connector>
			<id>example.sonicesbtofile</id>
			<to>
				<uri>file://C:/Test2</uri>
			</to>
			<error>
				<uri>file://C:/Test3</uri>
			</error>
		</connector>
		
		<!-- example sonicesb to sonicmq queue --> 		
		<connector>
			<id>example.sonicesbtosonicmq2</id>
			<to>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</to>	
		</connector>

		<!-- example sonicesb to sonicmq queue --> 		
		<connector>
			<id>example.sonicesbtosonicmq</id>
			<to>
				<uri>sonicmq:Sample.Q1</uri>
				<connection_id>local.mgmt</connection_id>
			</to>
		</connector>
		
		<!-- example sonicesb to sonicmq topic -->
		<connector>
			<id>example.sonicesbtosonicmqtopic</id>
			<to>
				<uri>sonicmq:topic:Sample.T01</uri>
				<connection_id>local.mgmt</connection_id>
			</to>
		</connector>		

		<!-- example sonicmq queue (domain test) to sonicmq topic (domain test)  -->
		<connector>
			<id>example.sonicesbtosonicmqtopic2</id>
			<to>
				<uri>sonicmq:topic:t.2.actieverkopen.mediation.inbox</uri>
				<connection_id>test.br2</connection_id>
			</to>	
		</connector>

		<!-- example sonicesb to http url  -->
		<connector>
			<id>example.sonicesbtohttp</id>
			<to>
				<uri>http4://drsas187t.drs.intra:8085/mipro/bonusfacturen</uri>
			</to>	
		</connector>

		<!-- example sonicesb to sftp  -->
		<connector>
			<id>example.sonicesbtosftp</id>
			<to>
				<uri>sftp://sonictest@drsas031.drs.intra/test1?password=S0n1c2015!</uri>
			</to>	
		</connector>

		<!-- example esb to sql  -->
		<!-- note the variables in the query need to be set in header of message on the esb -->
		<connector>
			<id>example.esbosql</id>
			<to>
				<uri>sql:insert into history (MESSAGE,`DATE`,MESSAGE_ID,TYPE) values (:#message,:#date,:#message_id,:#type)</uri>
				<options>
					<dataSource>myds</dataSource>					
				</options>
				<connection_id>test.slmdev</connection_id>
			</to>	
		</connector>

		<!-- example esb to sql (insert complete message into database with store procedure) -->
		<connector>
			<id>example.esbosql2</id>		
			<to>
				<uri><![CDATA[sql:BEGIN DRSPK_OSA_XML.INSERT_XML(XMLTYPE(:#${bodyAs(String)})); END;]]></uri>
				<options>
					<dataSource>test.scs</dataSource>					
				</options>
				<connection_id>test.scs</connection_id>
			</to>	
		</connector>


		<!-- FILE Producer Examples -->

		<!-- example file to wastebin -->
		<connector>
			<id>exampe.filetowastebin</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>
			<to>
				<uri>wastebin</uri>
			</to>	
		</connector>
		
		<!-- example file to file --> 		
		<connector>
			<id>example.filetofile</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>
			<to>
				<uri>file://C:/Test2</uri>
			</to>
		</connector>

		<!-- example file to streamm (prints message) --> 		
		<connector>
			<id>example.filetostream</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>
			<to>
				<uri>stream:out</uri>
			</to>
		</connector>

		<!-- example file to sonicmq --> 		
		<connector>
			<id>example.filetosonicmq</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>
			<to>
				<uri>sonicmq:Sample.Q1</uri>
				<options>
					<jmsMessageType>text</jmsMessageType>
				</options>
				<connection_id>local.mgmt</connection_id>
			</to>
			<error>
				<uri>file://C:/Test2</uri>
			</error>
		</connector>


		<!-- example file to sonicmq2 --> 		
		<connector>
			<id>example.filetosonicmq2</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>
			<to>
				<uri>sonicmq:Sample.Q1</uri>
				<options>
					<jmsMessageType>text</jmsMessageType>
				</options>
				<connection_id>local.mgmt</connection_id>
			</to>
			<error>
				<uri>sonicmq:Sample.Q2</uri>
				<options>
					<jmsMessageType>text</jmsMessageType>
				</options>
				<connection_id>local.mgmt</connection_id>
			</error>
		</connector>

		<!-- example file to sftp  -->
		<connector>
			<id>example.filetosftp</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>			
			<to>
				<uri>sftp://sonictest@drsas031.drs.intra/test1</uri>
				<options>
					<password>S0n1c2015!</password>
				</options>
			</to>	
		</connector>

		<!-- example file to sql  -->
		<connector>
			<id>example.filetosql</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>			
			<to>
				<uri>sql:insert into history (MESSAGE,`DATE`,MESSAGE_ID,TYPE) values (:#message,:#date,:#message_id,:#type)</uri>
				<options>
					<dataSource>test.slmdev</dataSource>					
				</options>
				<connection_id>test.slmdev</connection_id>
				<header_id>mapper</header_id>
			</to>	
		</connector>

		<!-- example file to sql (insert complete message into database) -->
		<connector>
			<id>example.filetosql2</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>			
			<to>
				<uri><![CDATA[sql:insert into history (MESSAGE,`DATE`,MESSAGE_ID,TYPE) values (:#${bodyAs(String)},:#${date:now:yyyyMMdd},"803","ticket")]]></uri>
				<options>
					<dataSource>test.slmdev</dataSource>					
				</options>
				<connection_id>test.slmdev</connection_id>
			</to>	
		</connector>

		<!-- example file to sql (insert complete message into database with store procedure) -->
		<connector>
			<id>example.filetosql3</id>
			<from>
				<uri>file://C:/Test1</uri>
			</from>			
			<to>
				<uri><![CDATA[sql:BEGIN DRSPK_OSA_XML.INSERT_XML(XMLTYPE(:#${bodyAs(String)})); END;]]></uri>
				<options>
					<dataSource>test.scs</dataSource>					
				</options>
				<connection_id>test.scs</connection_id>
			</to>	
		</connector>

		<!-- SONICMQ Producer Examples -->

		<!-- example sonicmq queue to file --> 
		<connector>
			<id>example.sonicmqtofile</id>
			<from>
				<uri>sonicmq:Sample.Q1</uri>
				<connection_id>local.mgmt</connection_id>
			</from>
			<to>
				<uri>file://C:/test2</uri>			
			</to>	
		</connector>

		<connector>
			<id>example.sonicmqtofile2</id>
			<from>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</from>
			<to>
				<uri>file://C:/test2</uri>			
			</to>	
		</connector>

		<!-- example sonicmq topic to file --> 
		<connector>
			<id>example.sonicmqtopictofile</id>
			<from>
				<uri>sonicmq:topic:Sample.T01</uri>
				<connection_id>local.mgmt</connection_id>
			</from>
			<to>
				<uri>file://C:/test1</uri>			
			</to>	
		</connector>

		<!-- example sonicmq queue to sonicmq queue (same domain, same broker) --> 
		<connector>
			<id>example.sonicmqtosonicmq</id>
			<from>
				<uri>sonicmq:Sample.Q1</uri>
				<connection_id>local.mgmt</connection_id>
			</from>
			<to>
				<uri>sonicmq:Sample.Q2</uri>
				<connection_id>local.mgmt</connection_id>
			</to>	
		</connector>	
	
		<!-- example sonicmq queue (domain local) to sonicmq queue (domain test)  -->
		<connector>
			<id>example.sonicmqtosonicmq2</id>
			<from>
				<uri>sonicmq:Sample.Q1</uri>
				<connection_id>local.mgmt</connection_id>
			</from>
			<to>
				<uri>sonicmq:Sample.Q1</uri>
				<connection_id>test.mgmt</connection_id>
			</to>	
		</connector>	


		<!-- example sonicmq queue (domain test) to sonicmq queue (domain test)  -->
		<connector>
			<id>example.sonicmqtosonicmq3</id>
			<from>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</from>
			<to>
				<uri>sonicmq:q.2.ubschema.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</to>	
		</connector>

		<!-- example sonicmq queue (domain test) to sonicmq topic (domain test)  -->
		<connector>
			<id>example.sonicmqtosonicmq4</id>
			<from>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</from>
			<to>
				<uri>sonicmq:topic:t.2.actieverkopen.mediation.inbox</uri>
				<connection_id>test.br2</connection_id>
			</to>	
		</connector>
		
				<!-- example file to sftp  -->
		<connector>
			<id>example.sonicmqtosftp</id>
			<from>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</from>		
			<to>
				<uri>sftp://sonictest@drsas031.drs.intra/test1</uri>
				<options>
					<password>S0n1c2015!</password>
				</options>
			</to>	
		</connector>
		
		<!-- example sonicmq queue (domain local) to http url -->
		<connector>
			<id>example.sonicmqtohttp</id>
			<from>
				<uri>sonicmq:Sample.Q1</uri>
				<connection_id>local.mgmt</connection_id>
			</from>
			<to>
				<uri>http4://drsas187t.drs.intra:8085/mipro/bonusfacturen</uri>
			</to>	
		</connector>
					
		<!-- example file to sql (insert complete message into database) -->
		<connector>
			<id>example.sonicmqtosql</id>
			<from>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</from>
			<to>
				<uri><![CDATA[sql:BEGIN DRSPK_OSA_XML.INSERT_XML(XMLTYPE(:#${bodyAs(String)})); END;]]></uri>
				<options>
					<dataSource>test.scs</dataSource>					
				</options>
				<connection_id>test.scs</connection_id>
			</to>	
		</connector>					
				
		<!-- example sonicmq to http url  -->
		<connector>
			<id>example.sonicmqtohttp2</id>
			<from>
				<uri>sonicmq:q.2.vbs.faultbox</uri>
				<connection_id>test.br2</connection_id>
			</from>								
			<to>
				<uri>http4://drsas187t.drs.intra:8085/mipro/bonusfacturen</uri>
			</to>	
		</connector>				
					
	</connectors>
	
	<!-- connections with for example MQ or Databases -->
	<connections>
		<connection>
			<id>local.mgmt</id>
			<username>Administrator</username>
			<password>secret</password>
			<url>tcp://localhost:2506</url>
		</connection>
		<connection>
			<id>local.br1</id>
			<username>Administrator</username>
			<password>secret</password>
			<url>tcp://localhost:2516</url>
		</connection>
		<connection>
			<id>test.scs</id>
			<username>osa</username>
			<password>secret</password>
			<url>jdbc:oracle:thin:@scstst.drs.intra:1521:SCSTST</url>
			<driver>oracle.jdbc.driver.OracleDriver</driver>
		</connection>
		
		<connection>
			<id>test.slmdev</id>
			<username>slm</username>
			<password>secret</password>
			<url>jdbc:mysql://10.70.9.76:3306/slmdev?zeroDateTimeBehavior=convertToNull</url>
			<driver>com.mysql.jdbc.Driver</driver>
		</connection>		
		<connection>
			<id>test.mgmt</id>
			<username>Administrator</username>
			<password>secret</password>
			<url>tcp://drsas246t:2606</url>
		</connection>
		<connection>
			<id>test.br1</id>
			<username>Administrator</username>
			<password>secret</password>
			<url>tcp://drsas246t:2616</url>
		</connection>
		<connection>
			<id>test.br2</id>
			<username>Administrator</username>
			<password>secret</password>
			<url>tcp://drsas246t:2626,tcp://drsas247t:2626</url>
		</connection>				
	</connections>
	
	<!-- headers -->
	<headers>
		<header>
			<id>mapper</id>
			<x type="constant">y</x>
			<message type="xpath">/root/message/text()</message>
			<date type="xpath">/root/date/text()</date>
			<message_id type="xpath">/root/message_id/text()</message_id>
			<type type="xpath">/root/type/text()</type>
		</header>
	</headers>
		
</configuration>
</textarea>
</div>