<div class="container">
	<div class="row justify-content-center">
		<div class="col-9">

			<form [formGroup]="editFlowForm" (ngSubmit)="save(false)" *ngIf="finished" novalidate class="needs-validation">
				<div>
					<h2 *ngIf="flow.id">
						<span>Edit Flow</span>
					</h2>
					<h2 *ngIf="!flow.id">
						<span>Create Flow</span>
					</h2>
				</div>
				<br/>
				<div class="border-bottom my-3"><h3>General</hr3></div>
				<div>
					<jhi-alert-error></jhi-alert-error>
					<div class="form-group" [style.display]="'none'">
						<label for="id">ID</label>
						<input type="text" class="form-control" id="id" *ngIf="flow" readonly formControlName="id" />
					</div>
					<ng-template #namePopover let-message="message">
						<div [innerHtml]="namePopoverMessage"></div>
					</ng-template>
					<div class="form-group w-50">
						<label class="form-control-label" for="name">Name</label>
						<i class="fa fa-info-circle" triggers="mouseenter:mouseleave" placement="right" 
							popoverTitle="Info" [popover]="namePopover"></i>
						<input type="text" class="form-control" id="name" *ngIf="flow" formControlName="name" />
						
						<div *ngIf="editFlowForm['controls'].name.errors && (editFlowForm['controls'].name.dirty || editFlowForm['controls'].name.touched)">
							<div *ngIf="editFlowForm['controls'].name.errors.required" class="invalid-field-message">Name is required.</div>
						</div>
					</div>
					<ng-template #autoStartPopover let-message="message">
						<div [innerHtml]="autoStartPopoverMessage"></div>
					</ng-template>
					<ng-template #offloadingPopover let-message="message">
						<div [innerHtml]="offloadingPopoverMessage"></div>
					</ng-template>
					<ng-template #maximumRedeliveriesPopover let-message="message">
						<div [innerHtml]="maximumRedeliveriesPopoverMessage"></div>
					</ng-template>
					<ng-template #redeliveryDelayPopover let-message="message">
						<div [innerHtml]="redeliveryDelayPopoverMessage"></div>
					</ng-template>
					<ng-template #logLevelPopover let-message="message">
						<div [innerHtml]="logLevelPopoverMessage"></div>
					</ng-template>					
					<div class="form-group w-25">
						<label class="form-control-label" for="field_autostart">Autostart</label>
						<i triggers="mouseenter:mouseleave"
							placement="right"
							popoverTitle="Info"
							 [popover]="autoStartPopover" 
							class="fa fa-info-circle"></i>
						<select type="text" class="form-control" id="field_autostart" *ngIf="flow" formControlName="autoStart">
							<option value="true">true</option>
							<option value="false">false</option>
						</select>
						</div>
						<div class="form-group w-25">
							<label class="form-control-label" for="field_offloading">Offloading</label>
							<i  triggers="mouseenter:mouseleave"
								placement="right" triggers="mouseenter:mouseleave"
								popoverTitle="Info"
								 [popover]="offloadingPopover" 
								class="fa fa-info-circle"></i>
							<select type="text" class="form-control" id="field_offloading" *ngIf="flow" formControlName="offloading">
								<option value="true">true</option>
								<option value="false">false</option>
							</select>
						</div>
						<div class="form-group w-25">
							<label class="form-control-label" for="field_maximumredeliveries">Maximum Redeliveries</label>
							<i  triggers="mouseenter:mouseleave"
								placement="right" triggers="mouseenter:mouseleave"
								popoverTitle="Info"
								 [popover]="maximumRedeliveriesPopover" 
								class="fa fa-info-circle"></i>
							<input min="0" max="1000" size="0" maxlength="4" type="number" name="maximumRedeliveries" class="form-control" id="maximumRedeliveries" *ngIf="flow" formControlName="maximumRedeliveries" required>
						</div>							
						<div class="form-group w-25">
							<label class="form-control-label" for="field_redeliverydelay">Redelivery Delay</label>
							<i  triggers="mouseenter:mouseleave"
								placement="right" triggers="mouseenter:mouseleave"
								popoverTitle="Info"
								 [popover]="redeliveryDelayPopover" 
								class="fa fa-info-circle"></i>
							<input min="0" max="1000" size="0" maxlength="4" type="number" name="redeliveryDelay" class="form-control" id="redeliveryDelay" *ngIf="flow" formControlName="redeliveryDelay" required>
						</div>
						<div class="form-group w-25">
							<label class="form-control-label" for="field_logLevel">Log Level</label>
							<i  triggers="mouseenter:mouseleave"
								placement="right" triggers="mouseenter:mouseleave"
								popoverTitle="Info"
								 [popover]="logLevelPopover" 
								class="fa fa-info-circle"></i>
								<select class="form-control" name="logLevel" formControlName="logLevel" id="field_logLevel" >
								
								<option *ngFor="let logLevel of logLevelListType" [ngValue]="logLevelListType[logLevel]" [value]="logLevel">
								    {{logLevel}}
								</option>
								
			            </select>
			            <!-- 
							<select class="form-control" id="field_logLevel" formControlName="logLevel">
									<option *ngFor="let id of logLevelListType" [ngValue]="logLevel[id]">{{logLevel[id]}}</option>
							</select>-->	
						</div> 					
						<div class="form-group" *ngIf="!singleGateway">
							<label class="form-control-label" for="field_gateway">Gateway</label>
							<select class="form-control" id="field_gateway" *ngIf="flow" formControlName="gateway">
								<option [ngValue]="gateway.id" *ngFor="let gateway of gateways">{{gateway.name}}</option>
							</select>
						</div>
					<br/>
					<div class="border-bottom my-3"><h3>Endpoints</hr3></div>
					<ng-template #componentPopover let-message="message">
								<div [innerHtml]="componentPopoverMessage"></div>
					</ng-template>
					<ng-template #optionsPopover let-message="message">
								<div [innerHtml]="optionsPopoverMessage"></div>
					</ng-template>
					<ng-template #headerPopover let-message="message">
								<div [innerHtml]="headerPopoverMessage"></div>
					</ng-template>
					<ng-template #servicePopover let-message="message">
								<div [innerHtml]="servicePopoverMessage"></div>
					</ng-template>
					<ng-template #fromPopover let-message="message">
						<div [innerHtml]="fromPopoverMessage"></div>
					</ng-template>
					<ng-template #toPopover let-message="message">
						<div [innerHtml]="toPopoverMessage"></div>
					</ng-template>						
					<ng-template #errorPopover let-message="message">
						<div [innerHtml]="errorPopoverMessage"></div>
					</ng-template>
					<ng-template #hostnamePopover let-message="message">
								<div [innerHtml]="hostnamePopoverMessage"></div>
					</ng-template>
					<ng-template #portPopover let-message="message">
								<div [innerHtml]="portPopoverMessage"></div>
					</ng-template>
					<ng-template #timeoutPopover let-message="message">
								<div [innerHtml]="timeoutPopoverMessage"></div>
					</ng-template>
					
					<ng-template #testConnectionModal>
							<div class="modal-header">
						      <h4 class="modal-title">Test Connection</h4>
						      <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
						        <span aria-hidden="true">&times;</span>
						      </button>
						    </div>
						    <div class="modal-body" [formGroup]="testConnectionForm">						    
						     	<div class="form-group row">							     	
							     	<div class="col-8">
							     		<label class="form-control-label" for="field_header">Host name</label>
							     		<i triggers="mouseenter:mouseleave" popoverTitle="Info" [popover]="hostnamePopover"  container="body" placement="right" class="fa fa-info-circle"></i>
							    		<input type="text" class="form-control" formControlName="connectionHost" id="connectionHost" required />
								 	</div>
								   <div class="col-3">
								     <label class="form-control-label" for="example-number-input">Port</label>				  
	   					     		 <i triggers="mouseenter:mouseleave" popoverTitle="Info" [popover]="portPopover"  container="body" placement="right" class="fa fa-info-circle"></i>								     
							    	 <input type="number" class="form-control" min="1" max="65535" formControlName="connectionPort" id="connectionPort" />
								  </div>
								  <div class="col-1"></div>
								</div>  
						    	<div class="form-group row">								  
								  <div class="col-8">
								  		<label class="form-control-label" for="example-number-input">Timeout</label>
							     		<i triggers="mouseenter:mouseleave" popoverTitle="Info" [popover]="timeoutPopover"  container="body" placement="right" class="fa fa-info-circle"></i>
								    	<input type="number" class="form-control" formControlName="connectionTimeout" id="connectionTimeout" />
								 	</div>
								 	<div class="col-4"></div>								 	
								</div>
							 	<div [innerHtml]="testConnectionMessage">
							 	</div>							 								
						    </div>
						    <div class="modal-footer">
						      <button type="button" class="btn btn-secondary" (click)="cancelModal()">Close</button>
						      <button type="button" class="btn btn-primary" (click)="testConnection()">Test</button>						      
						    </div>
					</ng-template>


					
					<!-- styling of tabset is in global.scss -->
					<ngb-accordion [closeOthers]="true" activeIds="From" formArrayName="endpointsData" (tabChange)="next(false, false, $event)" #tabs>
						<ngb-panel ngbPanelTitle id="fromTab">
							 <ng-template ngbPanelTitle>
								<span><b>From</b></span>
						      <i triggers="mouseenter:mouseleave"
							placement="right" triggers="mouseenter:mouseleave"
							popoverTitle="Info"
							 [popover]="fromPopover" 
							class="fa fa-info-circle"></i>
						    </ng-template>
							<ng-template ngbPanelContent>
								<jhi-alert-error></jhi-alert-error>
									<div class="col-12" style="padding-left: 20px;" [formGroupName]="'0'">
										<div class="input-group">
											<a class="col-11"></a>
											<a class="col-1">
												 <div ngbDropdown class="d-inline-block" placement="bottom-right">
								      				<a class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h" style="color:#FFFFFF;"></i></a>								      				
								      				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
											        <a ngbDropdownItem role="button" href="{{fromTypeCamelLink}}" [ngClass]="{'disabled': !fromTypeCamelLink}" target="_blank" title="Apache Camel online documentation on the component used for scheme: {{fromEndpoint?.type}}.">
														<span>Camel Documentation</span>
													</a>
													<a ngbDropdownItem role="button" href="{{fromTypeAssimblyLink}}" target="_blank" title="Assimbly Gateway online documentation on the component used for scheme: {{fromEndpoint?.type}}.">
														<span>Assimbly Documentation</span>
													</a>
													<a ngbDropdownItem role="button" (click)="openTestConnectionModal(testConnectionModal)" title="Test if connection is available">
														<span>Test Connection</span>
													</a>													
											      </div>
											   </div>   
											</a>
										</div>
										<div class="form-group" [style.display]="'none'">
											<label for="id">ID</label>
											<input type="text" class="form-control" id="id" readonly formControlName="id" />
										</div>		
										<ng-template #uriPopover let-message="message">
													<div [innerHtml]="fromUriPopoverMessage"></div>
										</ng-template>
										<ng-template #uriFromEditor>
												<div class="modal-header">
											      <h4 class="modal-title">URI (context path)</h4>
											      <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
											        <span aria-hidden="true">&times;</span>
											      </button>
											    </div>
											    <div class="modal-body">
											    	 <textarea class="form-control" id="field_uri" formControlName="uri" placeholder="{{fromUriPlaceholder}}" rows="5" [(ngModel)]="fromEndpoint.uri"></textarea>
											    </div>
											    <div class="modal-footer">
											      <button type="button" class="btn btn-outline-dark"  (click)="cancelModal()">Close</button>
											    </div>
										</ng-template>
										
										<div class="form-group">
											<div class="input-group border-bottom my-3">
												<h5>URI&ensp;</h5>
												<i triggers="mouseenter:mouseleave" popoverTitle="Info" container="body" [popover]="uriPopover" class="fa fa-info-circle"></i>	
											</div>
											<div class="input-group" style="margin-left: -14px;">
												<ng-select class="col-3" [items]="components.fromTypes" [clearable]="false" formControlName="type" id="field_from_type" (change)="setTypeLinks(fromEndpoint, 0, $event)"></ng-select>
												<a>:</a><span style="display:inline-block; width: 14px;"></span>
												<input type="text" class="form-control col-6.5" id="field_uri" formControlName="uri" placeholder="{{fromUriPlaceholder}}" [(ngModel)]="fromEndpoint.uri"/>
												<button type="button" class="col-2 btn btn-primary left-border-radius-0" title="Enlarge" (click)="openModal(uriFromEditor)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
											</div>	
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].type.errors && (editFlowForm['controls'].endpointsData['controls'][0]['controls'].type.dirty || editFlowForm['controls'].endpointsData['controls'][0]['controls'].type.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].type.errors.required" class="invalid-field-message">Type is required. Please select one.</div>
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].uri.errors && (editFlowForm['controls'].endpointsData['controls'][0]['controls'].uri.dirty || editFlowForm['controls'].endpointsData['controls'][0]['controls'].uri.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].uri.errors.required" class="invalid-field-message">Context path is required.</div>
										</div>										
										<div class="form-group" formArrayName="options">
											<label class="form-control-label" for="field_options">Options</label>
											<i triggers="mouseenter:mouseleave" popoverTitle="Info" [popover]="optionsPopover"  container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="row mx-0 mb-1" *ngFor="let fromOption of fromEndpointOptions; let idx = index" [formGroupName]="idx">
												<!-- <input type="text" class="col-5 right-border-radius-0 d-inline-block form-control" id="field_options-key-{{idx}}" formControlName="key" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx])"/> -->
												<ng-select [items]="fromComponentOptions" [addTag]="true" [ngStyle]="{'display':'block', 'width': '300px'}" formControlName="key" id="field_options-key-{{idx}}" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx])"></ng-select>
												<input type="text" class="col-5 rounded-0 d-inline-block form-control" id="field_options-value-{{idx}}" formControlName="value" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx])"/>
												<button title="Add option" type="button" class="col-1 rounded-0 btn btn-primary" (click)="addOption(fromEndpointOptions, '0')"><span class="fa fa-plus"></span></button>
												<button title="Remove option" type="button" class="col-1 left-border-radius-0 btn btn-danger" (click)="removeOption(fromEndpointOptions, fromOption, '0')" [disabled]="fromEndpointOptions.length === 1"><span class="fa fa-remove"></span></button>
												<div class="col-5 d-inline-block px-0">
													<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].key.errors && (editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].key.dirty || editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].key.touched)">
														<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].key.errors.required" class="invalid-field-message">Option key is required.</div>
													</div>
												</div>
												<div class="col-5 d-inline-block px-0">
													<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].value.errors && (editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].value.dirty || editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].value.touched)">
														<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].options['controls'][idx]['controls'].value.errors.required" class="invalid-field-message">Option value is required.</div>
													</div>
												</div>
											</div>
										</div>
										<br/>
										<div class="border-bottom my-3"><h5>Header & Service </h5></div>
										<div class="form-group">
											<label class="form-control-label" for="field_header">Header</label>
											<i triggers="mouseenter:mouseleave" popoverTitle="Info" [popover]="headerPopover"  container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="input-group">
												<ng-select [items]="headers" bindLabel="name" bindValue="id" formControlName="header" id="field_header" dropdownPosition="top"></ng-select>
												<button type="button" *ngIf="headerCreated && editFlowForm['controls'].endpointsData['controls'][0]['controls'].header.value" class="col-2 btn btn-primary left-border-radius-0" title="Edit header" (click)="createOrEditHeader(fromEndpoint, editFlowForm['controls'].endpointsData['controls'][0]['controls'].header)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
												<button type="button" *ngIf="headerCreated && !editFlowForm['controls'].endpointsData['controls'][0]['controls'].header.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New header" (click)="createOrEditHeader(fromEndpoint, editFlowForm['controls'].endpointsData['controls'][0]['controls'].header)">
												</button>
												<button type="button" *ngIf="!headerCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create header" (click)="createOrEditHeader(fromEndpoint, editFlowForm['controls'].endpointsData['controls'][0]['controls'].header)">
													<span class="fa fa-plus padding-button"></span>&nbsp;
												</button>
											</div>
										</div>
										<div class="form-group">
											<label class="form-control-label" for="field_service">Service</label>
											<i triggers="mouseenter:mouseleave" popoverTitle="Info" [popover]="servicePopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="input-group">
												<ng-select [items]="fromFilterService" bindLabel="name" bindValue="id" formControlName="service" id="field_service" dropdownPosition="top"></ng-select>
												<button type="button" *ngIf="serviceCreated && editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0" title="Edit service" (click)="createOrEditService(fromEndpoint, fromServiceType, editFlowForm['controls'].endpointsData['controls'][0]['controls'].service)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
												<button type="button" *ngIf="serviceCreated && !editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New service" (click)="createOrEditService(fromEndpoint, fromServiceType, editFlowForm['controls'].endpointsData['controls'][0]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.disabled">
												</button>
												<button type="button" *ngIf="!serviceCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create service" (click)="createOrEditService(fromEndpoint, fromServiceType, editFlowForm['controls'].endpointsData['controls'][0]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.disabled">
													<span class="fa fa-plus padding-button"></span>&nbsp;
												</button>
											</div>
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.errors && (editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.dirty || editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][0]['controls'].service.errors.required" class="invalid-field-message">Service is required for this component</div>
										</div>										
									</div>
							</ng-template>
						</ngb-panel>

						<ngb-panel ngbPanelTitle id="toTab" *ngFor="let toEndpoint of toEndpoints; index as toIndex">
							 <ng-template ngbPanelTitle>
								<span><b>To ({{toIndex+1}})</b></span>
						      	<i triggers="mouseenter:mouseleave"
							placement="right" triggers="mouseenter:mouseleave"
							popoverTitle="Info"
							 [popover]="toPopover" 
							class="fa fa-info-circle"></i>
						    </ng-template>
							<ng-template ngbPanelContent>
								<jhi-alert-error></jhi-alert-error>								
									<div  class="col-12" style="padding-left: 20px;" [formGroupName]="toIndex+2">
										<div class="input-group">
											<a class="col-11"></a>
											<a class="col-1">
												 <div ngbDropdown class="d-inline-block" placement="bottom-right">
								      				<a class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h" style="color:#FFFFFF;"></i></a>								      				
								      				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
											        <a ngbDropdownItem role="button" href="{{toTypeCamelLinks[toIndex]}}" [ngClass]="{'disabled': !toTypeCamelLinks[toIndex]}" target="_blank" title="Apache Camel online documentation on the component used for scheme: {{toEndpoint?.type}}.">
														<span>Camel Documentation</span>
													</a>
													<a ngbDropdownItem role="button" href="{{toTypeAssimblyLinks[toIndex]}}" target="_blank" title="Assimbly Gateway online documentation on the component used for scheme: {{toEndpoint?.type}}.">
														<span>Assimbly Documentation</span>
													</a>
													<a ngbDropdownItem role="button" (click)="openTestConnectionModal(testConnectionModal)" title="Test if connection is available">
														<span>Test Connection</span>
													</a>													
											      </div>
											   </div>   
											</a>
										</div>
										<div class="form-group" [style.display]="'none'">
											<label for="id">ID</label>
											<input type="text" class="form-control" id="id" formControlName="id" readonly />
										</div>
										<ng-template #uriPopover let-message="message">
											<div style="min-width:300px;" [innerHtml]="toUriPopoverMessages[toIndex]"></div>
										</ng-template>
										<ng-template #uriToEditor>
												<div class="modal-header">
											      <h4 class="modal-title">URI (context path)</h4>
											      <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
											        <span aria-hidden="true">&times;</span>
											      </button>
											    </div>
											    <div class="modal-body">
											    	 <textarea class="form-control" id="field_uri" formControlName="uri" placeholder="{{toUriPlaceholders[toIndex]}}" rows="5" [(ngModel)]="toEndpoint.uri"></textarea>
											    </div>
											    <div class="modal-footer">
											      <button type="button" class="btn btn-outline-dark"  (click)="cancelModal()">Close</button>
											    </div>
										</ng-template>
										<div class="form-group">
											<div class="input-group border-bottom my-3">
												<h5>URI&ensp;</h5>
												<i triggers="mouseenter:mouseleave" popoverTitle="Info" container="body" [popover]="uriPopover" class="fa fa-info-circle"></i>
												</div>
											<div class="input-group" style="margin-left: -14px;">
												<ng-select class="col-3" [items]="components.toTypes" [clearable]="false" formControlName="type" id="field_to_type" (change)="setTypeLinks(toEndpoint, toIndex+2, $event)"></ng-select>
												<a>:</a><span style="display:inline-block; width: 14px;"></span>
												<input type="text" class="form-control" id="field_uri" formControlName="uri" placeholder="{{toUriPlaceholders[toIndex]}}"  [(ngModel)]="toEndpoint.uri"/>
												<button type="button" class="col-2 btn btn-primary left-border-radius-0" title="Enlarge" (click)="openModal(uriToEditor)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
											</div>	
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.errors && (editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.dirty || editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.errors.required" class="invalid-field-message">Type is required. Please select one.</div>
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].uri.errors && (editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].uri.dirty || editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].uri.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].uri.errors.required" class="invalid-field-message">Context path is required.</div>
										</div>
										<div class="form-group" formArrayName="options">
											<label class="form-control-label" for="field_options">Options</label>
											<i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="optionsPopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="row mx-0 mb-1" *ngFor="let toOption of toEndpointsOptions[toIndex]; index as idx" [formGroupName]="idx">
												<!-- <input type="text" class="col-5 right-border-radius-0 d-inline-block form-control" id="field_options-key-{{idx}}" formControlName="key" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx])" data-toggle="tooltip" title="Name of the option. Click the Camel component button for documentation on valid options."/> -->
												<ng-select [items]="toComponentOptions[toIndex]" [addTag]="true" [ngStyle]="{'display':'block', 'width': '300px'}" formControlName="key" id="field_options-key-{{idx}}" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx])"></ng-select>
												<input type="text" class="col-5 rounded-0 d-inline-block form-control" id="field_options-value-{{idx}}" formControlName="value" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx])" data-toggle="tooltip" title="Value of the option. Click the Camel component button for documentation on valid options."/>
												<button title="Add option" type="button" class="col-1 rounded-0 btn btn-primary" (click)="addOption(toEndpointsOptions[toIndex], toIndex+2)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN'"><span class="fa fa-plus"></span></button>
												<button title="Remove option" type="button" class="col-1 left-border-radius-0 btn btn-danger" (click)="removeOption(toEndpointsOptions[toIndex], toOption, toIndex+2)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN' || toEndpointsOptions[toIndex].length === 1"><span class="fa fa-remove"></span></button>
												<div class="col-5 d-inline-block px-0">
													<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].key.errors && (editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].key.dirty || editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].key.touched)">
														<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].key.errors.required" class="invalid-field-message">Option key is required.</div>
													</div>
												</div>
												<div class="col-5 d-inline-block px-0">
													<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].value.errors && (editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].value.dirty || editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].value.touched)">
														<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].options['controls'][idx]['controls'].value.errors.required" class="invalid-field-message">Option value is required.</div>
													</div>
												</div>
											</div>
										</div>
										<br/>
										<div class="border-bottom my-3"><h5>Header & Service</h5></div>
										<div class="form-group">
											<label class="form-control-label" for="field_header">Header</label>
											<i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="headerPopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="input-group">
												<ng-select  [items]="headers" bindLabel="name" bindValue="id" formControlName="header" id="field_header" dropdownPosition="top"></ng-select>
												<button type="button" *ngIf="headerCreated && editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].header.value" title="Edit header" class="col-2 btn btn-primary left-border-radius-0" (click)="createOrEditHeader(toEndpoint, editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].header)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN'">
													<span class="fa fa-pencil  padding-button"></span>&nbsp;
												</button>
												<button type="button" *ngIf="headerCreated && !editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].header.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New header" (click)="createOrEditHeader(toEndpoint, editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].header)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN'">
												</button>
												<button type="button" *ngIf="!headerCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create header" (click)="createOrEditHeader(toEndpoint, editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].header)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN'">
													<span class="fa fa-plus padding-button"></span>&nbsp;
												</button>
											</div>
										</div>

										<div class="form-group">
											<label class="form-control-label" for="field_service">Service</label>
											<i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="servicePopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="input-group">
												<ng-select [items]="toFilterService[toIndex]" bindLabel="name" bindValue="id" formControlName="service" id="field_service" dropdownPosition="top"></ng-select>
												<button type="button" *ngIf="serviceCreated && editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0" title="Edit service" (click)="createOrEditService(toEndpoint, toServiceType[toIndex], editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN'">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
												<button type="button" *ngIf="serviceCreated && !editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New service" (click)="createOrEditService(toEndpoint, toServiceType[toIndex], editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.disabled">
												</button>
												<button type="button" *ngIf="!serviceCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create service" (click)="createOrEditService(toEndpoint, toServiceType[toIndex], editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].type.value === 'WASTEBIN'">
													<span class="fa fa-plus padding-button"></span>&nbsp;
												</button>
											</div>
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.errors && (editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.dirty || editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][toIndex+2]['controls'].service.errors.required" class="invalid-field-message">Service is required for this component</div>
										</div>
										<div class="text-right form-group" role="group">
											<button type="button" class="btn btn-danger" (click)="removeToEndpoint(toEndpoint, 'toEndpointData'+toIndex)" [disabled]="toEndpoints.length === 1">
												<span class="fa fa-remove"></span>&nbsp;
												<span>Remove To endpoint</span>
											</button>
											<button type="button" class="btn btn-primary" (click)="addNewToEndpoint()" [disabled]="toEndpoints.length > 2">
												<span class="fa fa-pencil"></span>&nbsp;
												<span>Add To endpoint</span>
											</button>
										</div>
									</div>
							</ng-template>
						</ngb-panel>

						<ngb-panel ngbPanelTitle id="errorTab">
							 <ng-template ngbPanelTitle>
								<span><b>Error</b></span>
						      <i triggers="mouseenter:mouseleave"
							placement="right" triggers="mouseenter:mouseleave"
							popoverTitle="Info"
							 [popover]="errorPopover" 
							class="fa fa-info-circle"></i>
						    </ng-template>
							<ng-template ngbPanelContent>
									<div  class="col-12" style="padding-left: 20px;" [formGroupName]="'1'">
										<div class="input-group">
											<a class="col-11"></a>
											<a class="col-1">
												 <div ngbDropdown class="d-inline-block" placement="bottom-right">
								      				<a class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-ellipsis-h" style="color:#FFFFFF;"></i></a>								      				
								      				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
											        <a ngbDropdownItem role="button" href="{{errorTypeCamelLink}}" [ngClass]="{'disabled': !errorTypeCamelLink}" target="_blank" title="Apache Camel online documentation on the component used for scheme: {{errorEndpoint?.type}}.">
														<span>Camel Documentation</span>
													</a>
													<a ngbDropdownItem role="button" href="{{errorTypeAssimblyLink}}" target="_blank" title="Assimbly Gateway online documentation on the component used for scheme: {{toEndpoint?.type}}.">
														<span>Assimbly Documentation</span>
													</a>
													<a ngbDropdownItem role="button" (click)="openTestConnectionModal(testConnectionModal)" title="Test if connection is available">
														<span>Test Connection</span>
													</a>													
											      </div>
											   </div>   
											</a>
										</div>
										<div class="form-group" [style.display]="'none'">
											<label for="id">ID</label>
											<input type="text" class="form-control" id="id" formControlName="id" readonly />
										</div>
										<ng-template #uriPopover let-message="message">
											<div style="min-width:300px;" [innerHtml]="errorUriPopoverMessage"></div>
										</ng-template>
										<ng-template #uriErrorEditor>
												<div class="modal-header">
											      <h4 class="modal-title">URI (context path)</h4>
											      <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
											        <span aria-hidden="true">&times;</span>
											      </button>
											    </div>
											    <div class="modal-body">
											    	 <textarea class="form-control" id="field_uri" formControlName="uri" placeholder="{{errorUriPlaceholder}}" rows="5" [(ngModel)]="errorEndpoint.uri"></textarea>
											    </div>
											    <div class="modal-footer">
											      <button type="button" class="btn btn-outline-dark"  (click)="cancelModal()">Close</button>
											    </div>
										</ng-template>

										<div class="form-group">
											<div class="input-group border-bottom my-3">
												<h5>URI&ensp;</h5>
												<i triggers="mouseenter:mouseleave" popoverTitle="Info" container="body" [popover]="uriPopover" class="fa fa-info-circle"></i>
											</div>
											<div class="input-group" style="margin-left: -14px;">
												<ng-select class="col-3" [items]="components.errorTypes" [clearable]="false" formControlName="type" id="field_error_type" (change)="setTypeLinks(errorEndpoint, 1, $event)"></ng-select>
												<a>:</a><span style="display:inline-block; width: 14px;"></span>
												<input type="text" class="form-control" id="field_uri" formControlName="uri" placeholder="{{errorUriPlaceholder}}" [(ngModel)]="errorEndpoint.uri"/>
												<button type="button" class="col-2 btn btn-primary left-border-radius-0" title="Enlarge" (click)="openModal(uriErrorEditor)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
											</div>	
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].type.errors && (editFlowForm['controls'].endpointsData['controls'][1]['controls'].type.dirty || editFlowForm['controls'].endpointsData['controls'][1]['controls'].type.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].type.errors.required" class="invalid-field-message">Type is required. Please select one.</div>
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].uri.errors && (editFlowForm['controls'].endpointsData['controls'][1]['controls'].uri.dirty || editFlowForm['controls'].endpointsData['controls'][1]['controls'].uri.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].uri.errors.required" class="invalid-field-message">Context path is required.</div>
										</div>
										<div class="form-group" formArrayName="options">
											<label class="form-control-label" for="field_options">Options</label>
											<i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="optionsPopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="row mx-0 mb-1" *ngFor="let errOption of errorEndpointOptions; let idx = index" [formGroupName]="idx">
												<!-- <input type="text" class="col-5 right-border-radius-0 d-inline-block form-control" id="field_options-key-{{idx}}" formControlName="key" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx])"  data-toggle="tooltip" title="Name of the option. Click the Camel component button for documentation on valid options."/>-->
												<ng-select [items]="errorComponentOptions" [addTag]="true" [ngStyle]="{'display':'block', 'width': '300px'}" formControlName="key" id="field_options-key-{{idx}}" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx])"></ng-select>
												<input type="text" class="col-5 rounded-0 d-inline-block form-control" id="field_options-value-{{idx}}" formControlName="value" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx])"  data-toggle="tooltip" title="Value of the option. Click the Camel component button for documentation on valid options."/>
												<button title="Add option" type="button" class="col-1 rounded-0 btn btn-primary" (click)="addOption(errorEndpointOptions, '1')"><span class="fa fa-plus"></span></button>
												<button title="Remove option" type="button" class="col-1 left-border-radius-0 btn btn-danger" (click)="removeOption(errorEndpointOptions, errOption, '1')" [disabled]="errorEndpointOptions.length === 1"><span class="fa fa-remove"></span></button>
												<div class="col-5 d-inline-block px-0">
													<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].key.errors && (editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].key.dirty || editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].key.touched)">
														<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].key.errors.required" class="invalid-field-message">Option key is required.</div>
													</div>
												</div>
												<div class="col-5 d-inline-block px-0">
													<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].value.errors && (editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].value.dirty || editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].value.touched)">
														<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].options['controls'][idx]['controls'].value.errors.required" class="invalid-field-message">Option value is required.</div>
													</div>
												</div>
											</div>
										</div>
										<br/>
										<div class="border-bottom my-3"><h5>Header & Service</h5></div>
										<div class="form-group">
											<label class="form-control-label" for="field_header">Header</label>
											<i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="headerPopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="input-group">
												<ng-select [items]="headers" bindLabel="name" bindValue="id" formControlName="header" id="field_header" dropdownPosition="top"></ng-select>
												<button type="button" *ngIf="headerCreated && editFlowForm['controls'].endpointsData['controls'][1]['controls'].header.value" class="col-2 btn btn-primary left-border-radius-0" title="Edit header" (click)="createOrEditHeader(errorEndpoint, editFlowForm['controls'].endpointsData['controls'][1]['controls'].header)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
												<button type="button" *ngIf="headerCreated && !editFlowForm['controls'].endpointsData['controls'][1]['controls'].header.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New header" (click)="createOrEditHeader(errorEndpoint, editFlowForm['controls'].endpointsData['controls'][1]['controls'].header)">
												</button>
												<button type="button" *ngIf="!headerCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create header" (click)="createOrEditHeader(errorEndpoint, editFlowForm['controls'].endpointsData['controls'][1]['controls'].header)">
													<span class="fa fa-plus padding-button"></span>&nbsp;
												</button>
											</div>
										</div>
										<div class="form-group">
											<label class="form-control-label" for="field_service">Service</label>
											<i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="servicePopover" container="body" placement="right" class="fa fa-info-circle"></i>
											<div class="input-group">
												<ng-select [items]="errorFilterService" bindLabel="name" bindValue="id" formControlName="service" id="field_service" dropdownPosition="top"></ng-select>
												<button type="button" *ngIf="serviceCreated && editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0" title="Edit service" (click)="createOrEditService(errorEndpoint, errorServiceType, editFlowForm['controls'].endpointsData['controls'][1]['controls'].service)">
													<span class="fa fa-pencil padding-button"></span>&nbsp;
												</button>
												<button type="button" *ngIf="serviceCreated && !editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New service" (click)="createOrEditService(errorEndpoint, errorServiceType, editFlowForm['controls'].endpointsData['controls'][1]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.disabled">
												</button>
												<button type="button" *ngIf="!serviceCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create service" (click)="createOrEditService(errorEndpoint, errorServiceType, editFlowForm['controls'].endpointsData['controls'][1]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.disabled">
													<span class="fa fa-plus padding-button"></span>&nbsp;
												</button>
											</div>
										</div>
										<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.errors && (editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.dirty || editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.touched)">
											<div *ngIf="editFlowForm['controls'].endpointsData['controls'][1]['controls'].service.errors.required" class="invalid-field-message">Service is required for this component</div>
										</div>
									</div>
							</ng-template>
						</ngb-panel>
					</ngb-accordion>
				</div>

				<br/>
				
				<div class="float-right">
					<button type="button" class="btn btn-secondary" [routerLink]="['/']">
						<span class="fa fa-ban"></span>&nbsp;
						<span>Cancel</span>
					</button>
					<button type="button" (click)="save(true)" [disabled]="editFlowForm.invalid || isSaving" class="btn btn-primary">
						<span class="fa fa-save"></span>&nbsp;
						<span>Save</span>
					</button>
					<button type="button" *ngIf="flow.id" (click)="clone()" class="btn btn-info">
						<span class="fa fa-clone"></span>&nbsp;
						<span>Clone</span>
					</button>
					<button type="button" *ngIf="flow.id" (click)="export(flow)" class="btn btn-primary">
						<span class="fa fa-download"></span>&nbsp;
						<span>Export</span>
					</button>
					<button type="button" *ngIf="flow.id" [routerLink]="['/', { outlets: { popup: 'flow/' + flow.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger">
						<span class="fa fa-remove"></span>
						<span class="d-none d-md-inline">Delete</span>
					</button>
				</div>
				
				<div *ngIf="savingFlowFailed">
					<span class="text-danger">*{{savingFlowFailedMessage}}</span>
				</div>
				<div *ngIf="savingFlowSuccess">
					<span class="text-success">*{{savingFlowSuccessMessage}}</span>
				</div>
				<div *ngIf="!!invalidUriMessage">
					<span class="text-danger">*{{invalidUriMessage}}</span>
				</div>
			</form>
		</div>
	</div>
</div>