<div class="container">
    <div class="row">

        <ng-template #componentPopover let-message="message">
            <div [innerHtml]="componentPopoverMessage"></div>
        </ng-template>
        <ng-template #optionsPopover let-message="message">
            <div [innerHtml]="optionsPopoverMessage"></div>
        </ng-template>
        <ng-template #headerPopover let-message="message">
            <div [innerHtml]="headerPopoverMessage"></div>
        </ng-template>
        <ng-template #servicePopover let-message="message">
            <div [innerHtml]="servicePopoverMessage"></div>
        </ng-template>
        <ng-template #popover let-message="message">
            <div [innerHtml]="popoverMessage"></div>
        </ng-template>
        <ng-template #hostnamePopover let-message="message">
            <div [innerHtml]="hostnamePopoverMessage"></div>
        </ng-template>
        <ng-template #portPopover let-message="message">
            <div [innerHtml]="portPopoverMessage"></div>
        </ng-template>
        <ng-template #timeoutPopover let-message="message">
            <div [innerHtml]="timeoutPopoverMessage"></div>
        </ng-template>

        <ng-template #testConnectionModal>
            <div class="modal-header">
                <h4 class="modal-title">Test Connection</h4>
                <button type="button" class="close" aria-label="Close"
                        (click)="cancelModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" [formGroup]="testConnectionForm">
                <div class="form-group row">
                    <div class="col-8">
                        <label class="form-control-label" for="field_header">Host
                            name</label> <i triggers="mouseenter:mouseleave" popoverTitle="Info"
                                            [popover]="hostnamePopover" container="body" placement="right"
                                            class="fa fa-info-circle"></i> <input type="text"
                                                                                  class="form-control" formControlName="connectionHost"
                                                                                  id="connectionHost" required/>
                    </div>
                    <div class="col-3">
                        <label class="form-control-label" for="example-number-input">Port</label>
                        <i triggers="mouseenter:mouseleave" popoverTitle="Info"
                           [popover]="portPopover" container="body" placement="right"
                           class="fa fa-info-circle"></i> <input type="number"
                                                                 class="form-control" min="1" max="65535"
                                                                 formControlName="connectionPort" id="connectionPort" />
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="form-group row">
                    <div class="col-8">
                        <label class="form-control-label" for="example-number-input">Timeout</label>
                        <i triggers="mouseenter:mouseleave" popoverTitle="Info"
                           [popover]="timeoutPopover" container="body" placement="right"
                           class="fa fa-info-circle"></i> <input type="number"
                                                                 class="form-control" formControlName="connectionTimeout"
                                                                 id="connectionTimeout" />
                    </div>
                    <div class="col-4"></div>
                </div>
                <div [innerHtml]="testConnectionMessage"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        (click)="cancelModal()">Close</button>
                <button type="button" class="btn btn-primary"
                        (click)="testConnection()">Test</button>
            </div>
        </ng-template>


        <!--<form [formGroup]="editFlowForm" (ngSubmit)="save()" *ngIf="finished" novalidate class="needs-validation">-->
        <form [formGroup]="editFlowForm" (ngSubmit)="save()" *ngIf="finished" novalidate>
            <jhi-alert-error></jhi-alert-error>
            <div class="form-group" [style.display]="'none'">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="id" *ngIf="flow" readonly formControlName="id" />
            </div>
            <ng-template #namePopover let-message="message">
                <div [innerHtml]="namePopoverMessage"></div>
            </ng-template>
            <div class="form-group">
                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <input style="border: none; font-weight:bold; font-size: 24px;" type="text" class="form-control" id="name" placeholder="Type flowname..." *ngIf="flow" formControlName="name" />
                        <div
                            *ngIf="editFlowForm['controls'].name.errors && (editFlowForm['controls'].name.dirty || editFlowForm['controls'].name.touched)">
                            <div *ngIf="editFlowForm['controls'].name.errors.required"
                                 class="invalid-field-message">Flowname is required.</div>
                        </div>
                    </div>
                    <div class="col-2">
                        <p>
                            <button type="button" class="btn" (click)="panelCollapsed=panelCollapsed == 'settings'?null:'settings'">
                                <span class="fa fa-caret-square-o-down"></span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseExample" [ngbCollapse]="panelCollapsed != 'settings'" [attr.aria-expanded]="!isCollapsed">
                <ng-template #autoStartPopover let-message="message">
                    <div [innerHtml]="autoStartPopoverMessage"></div>
                </ng-template>
                <ng-template #offloadingPopover let-message="message">
                    <div [innerHtml]="offloadingPopoverMessage"></div>
                </ng-template>
                <ng-template #maximumRedeliveriesPopover let-message="message">
                    <div [innerHtml]="maximumRedeliveriesPopoverMessage"></div>
                </ng-template>
                <ng-template #redeliveryDelayPopover let-message="message">
                    <div [innerHtml]="redeliveryDelayPopoverMessage"></div>
                </ng-template>
                <ng-template #logLevelPopover let-message="message">
                    <div [innerHtml]="logLevelPopoverMessage"></div>
                </ng-template>

                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-10">


                        <div class="form-group">
                            <label class="form-control-label" for="field_autostart">Autostart</label>
                            <i triggers="mouseenter:mouseleave" placement="right"
                               popoverTitle="Info" [popover]="autoStartPopover"
                               class="fa fa-info-circle"></i> <select type="text"
                                                                      class="form-control" id="field_autostart" *ngIf="flow"
                                                                      formControlName="autoStart">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_offloading">Offloading</label>
                            <i triggers="mouseenter:mouseleave" placement="right"
                               triggers="mouseenter:mouseleave" popoverTitle="Info"
                               [popover]="offloadingPopover" class="fa fa-info-circle"></i> <select
                            type="text" class="form-control" id="field_offloading"
                            *ngIf="flow" formControlName="offloading">
                            <option value="true">true</option>
                            <option value="false">false</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_maximumredeliveries">Maximum
                                Redeliveries</label> <i triggers="mouseenter:mouseleave"
                                                        placement="right" triggers="mouseenter:mouseleave"
                                                        popoverTitle="Info" [popover]="maximumRedeliveriesPopover"
                                                        class="fa fa-info-circle"></i> <input min="0" max="1000" size="0"
                                                                                              maxlength="4" type="number" name="maximumRedeliveries"
                                                                                              class="form-control" id="maximumRedeliveries" *ngIf="flow"
                                                                                              formControlName="maximumRedeliveries" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_redeliverydelay">Redelivery
                                Delay</label> <i triggers="mouseenter:mouseleave" placement="right"
                                                 triggers="mouseenter:mouseleave" popoverTitle="Info"
                                                 [popover]="redeliveryDelayPopover" class="fa fa-info-circle"></i>
                            <input min="0" max="1000" size="0" maxlength="4" type="number"
                                   name="redeliveryDelay" class="form-control" id="redeliveryDelay"
                                   *ngIf="flow" formControlName="redeliveryDelay" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_logLevel">Log
                                Level</label> <i triggers="mouseenter:mouseleave" placement="right"
                                                 triggers="mouseenter:mouseleave" popoverTitle="Info"
                                                 [popover]="logLevelPopover" class="fa fa-info-circle"></i> <select
                            class="form-control" name="logLevel" formControlName="logLevel"
                            id="field_logLevel">

                            <option *ngFor="let logLevel of logLevelListType"
                                    [ngValue]="logLevelListType[logLevel]" [value]="logLevel">
                                {{logLevel}}</option>


                        </select>
                        </div>
                        <div class="form-group" *ngIf="!singleGateway">
                            <label class="form-control-label" for="field_gateway">Gateway</label>
                            <select class="form-control" id="field_gateway" *ngIf="flow"
                                    formControlName="gateway">
                                <option [ngValue]="gateway.id" *ngFor="let gateway of gateways">{{gateway.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex">
                <ul ngbNav #nav="ngbNav" class="nav-pills"  [(activeId)]="active" orientation="vertical" formArrayName="endpointsData">
                    <ng-container *ngFor="let endpoint of endpoints; index as index">
                        <li ngbNavItem="{{index}}" [ngStyle]="{'padding-left': (endpoint.endpointType=='RESPONSE') ? '20px' : '10px' }" novalidate>
                            <a ngbNavLink>{{endpoint.endpointType}}</a>
                            <ng-template ngbNavContent>

                                <div  class="col-12" style="padding-left: 20px;" [formGroupName]="index" id="{{ 'tab' + index }}">
                                    <div class="input-group">
                                        <a class="col-10"></a>
                                        <a class="col-2">
                                            <div ngbDropdown class="d-inline-block" placement="bottom-right">
                                                <a class="btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-bars"></i> Docs</a>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                    <a ngbDropdownItem role="button" href="{{componentTypeCamelLinks[index]}}" [ngClass]="{'disabled': !componentTypeCamelLinks[index]}" target="_blank" title="Apache Camel online documentation on the component used for scheme: {{endpoint?.componentType}}.">
                                                        <span>Camel Documentation</span>
                                                    </a>
                                                    <a ngbDropdownItem role="button" href="{{componentTypeAssimblyLinks[index]}}" target="_blank" title="Assimbly Gateway online documentation on the component used for scheme: {{endpoint?.componentType}}.">
                                                        <span>Assimbly Documentation</span>
                                                    </a>
                                                    <a ngbDropdownItem role="button" (click)="openTestConnectionModal(testConnectionModal)" title="Test if connection is available">
                                                        <span>Test Connection</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="form-group" [style.display]="'none'">
                                        <label for="id">ID</label>
                                        <input type="text" class="form-control" id="id" formControlName="id" readonly />
                                    </div>
                                    <ng-template #uriPopover let-message="message">
                                        <div style="min-width:300px;" [innerHtml]="uriPopoverMessages[index]"></div>
                                    </ng-template>
                                    <ng-template #uriEditor>
                                        <div class="modal-header">
                                            <h4 class="modal-title">URI (context path)</h4>
                                            <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea class="form-control" id="field_uri" formControlName="uri" placeholder="{{uriPlaceholders[index]}}" rows="5" [(ngModel)]="endpoint.uri"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark"  (click)="cancelModal()">Close</button>
                                        </div>
                                    </ng-template>


                                    <div class="form-group">
                                        <div class="input-group border-bottom my-3">
                                            <h5>URI&ensp;</h5>
                                            <i triggers="mouseenter:mouseleave" popoverTitle="Info" container="body" [popover]="uriPopover" class="fa fa-info-circle"></i>
                                        </div>
                                        <div class="row mx-0 mb-1">
                                            <ng-select  *ngIf="endpoint.endpointType==='FROM'" [ngStyle]="{'display':'inline-block', 'width': '138px', 'align-left': '-14px'}" [items]="components.fromTypes" [clearable]="false" formControlName="componentType" id="field_component_type" (change)="setTypeLinks(endpoint, index, $event)"></ng-select>
                                            <ng-select  *ngIf="endpoint.endpointType==='TO'" [ngStyle]="{'display':'inline-block', 'width': '138px', 'align-left': '-14px'}" [items]="components.toTypes" [clearable]="false" formControlName="componentType" id="field_component_type" (change)="setTypeLinks(endpoint, index, $event)"></ng-select>
                                            <ng-select  *ngIf="endpoint.endpointType==='ERROR'" [ngStyle]="{'display':'inline-block', 'width': '138px', 'align-left': '-14px'}" [items]="components.errorTypes" [clearable]="false" formControlName="componentType" id="field_component_type" (change)="setTypeLinks(endpoint, index, $event)"></ng-select>
                                            <ng-select  *ngIf="endpoint.endpointType==='RESPONSE'" [ngStyle]="{'display':'inline-block', 'width': '138px', 'align-left': '-14px'}" [items]="components.toTypes" [clearable]="false" formControlName="componentType" id="field_component_type" (change)="setTypeLinks(endpoint, index, $event)"></ng-select>
                                            <span style="display:inline-block; width: 14px;"></span>
                                            <a>:</a>
                                            <ng-select [items]="URIList" bindLabel="uri" bindValue="uri" class="col-7" [addTag]="true" [ngStyle]="{'display':'inline-block'}" id="field_uri" formControlName="uri" placeholder="{{uriPlaceholders[0]}}"  [(ngModel)]="endpoint.uri" dropdownPosition="bottom"></ng-select>
                                            <button type="button" class="btn btn-primary left-border-radius-0" title="Enlarge" (click)="openModal(uriEditor)" style="margin-left : -16px; width : 90px; float : left;">
                                                <span class="fa fa-pencil padding-button"></span>&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.errors && (editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.dirty || editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.touched)">
                                        <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.errors.required" class="invalid-field-message">ComponentType is required. Please select one.</div>
                                    </div>
                                    <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].uri.errors && (editFlowForm['controls'].endpointsData['controls'][index]['controls'].uri.dirty || editFlowForm['controls'].endpointsData['controls'][index]['controls'].uri.touched)">
                                        <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].uri.errors.required" class="invalid-field-message">Context path is required.</div>
                                    </div>
                                    <div class="form-group" formArrayName="options">
                                        <label class="form-control-label" for="field_options">Options</label>
                                        <i triggers="mouseenter:mouseleave"	popoverTitle="Info" [popover]="optionsPopover" container="body" placement="right" class="fa fa-info-circle"></i>
                                        <div class="row mx-0 mb-1" *ngFor="let option of endpointsOptions[index]; index as idx" [formGroupName]="idx">
                                            <ng-select [items]="componentOptions[index]" bindLabel="displayName" bindValue="name" [addTag]="true" formControlName="key" [ngStyle]="{'display':'block', 'width': '280px'}" id="field_options-key-{{idx}}" (change)="changeOptionSelection(selectedOption[idx], index,idx)" [(ngModel)]="selectedOption[idx]" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx])">
                                                <ng-template ng-option-tmp let-item="item">
                                                    <div [ngbTooltip]="optionTooltip" tooltipClass="option-tooltip" [openDelay]="500" placement="bottom" data-container="body">{{item.displayName}}</div>
                                                    <ng-template #optionTooltip>
                                                        <div>
                                                            <b>Description: </b>{{item.description}}<br/><br/><b>Group: </b>{{item.group}}<br/><b>DataType: </b>{{item.type}}<br/><span *ngIf="item.hasOwnProperty('defaultValue')"><b>DefaultValue:</b> {{item.defaultValue}}</span>
                                                        </div>
                                                    </ng-template>
                                                </ng-template>
                                            </ng-select>
                                            <a> </a>
                                            <input type="text" class="col-4 rounded-0 d-inline-block form-control" id="field_options-value-{{idx}}" formControlName="value" [placeholder]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].defaultValue.value" (focusout)="validateOptions(editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx])" data-toggle="tooltip" title="Value of the option. Click the Camel component button for documentation on valid options."/>
                                            <button title="Add option" type="button" class="col-1 rounded-0 btn btn-primary" (click)="addOption(endpointsOptions[index], index)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN'"><span class="fa fa-plus"></span></button>
                                            <button title="Remove option" type="button" class="col-1 left-border-radius-0 btn btn-danger" (click)="removeOption(endpointsOptions[index], option, index)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN' || endpointsOptions[index].length === 1"><span class="fa fa-remove"></span></button>
                                            <div class="col-5 d-inline-block px-0">
                                                <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].key.errors && (editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].key.dirty || editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].key.touched)">
                                                    <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].key.errors.required" class="invalid-field-message">Option key is required.</div>
                                                </div>
                                            </div>
                                            <div class="col-5 d-inline-block px-0">
                                                <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].value.errors && (editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].value.dirty || editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].value.touched)">
                                                    <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].options['controls'][idx]['controls'].value.errors.required" class="invalid-field-message">Option value is required.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="border-bottom my-3"><h5>Header</h5></div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <ng-select [items]="headers" bindLabel="name" bindValue="id" formControlName="header" id="field_header" dropdownPosition="top"></ng-select>
                                            <button type="button" *ngIf="headerCreated && editFlowForm['controls'].endpointsData['controls'][index]['controls'].header.value" title="Edit header" class="col-2 btn btn-primary left-border-radius-0" (click)="createOrEditHeader(endpoint, editFlowForm['controls'].endpointsData['controls'][index]['controls'].header)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN'">
                                                <span class="fa fa-pencil  padding-button"></span>&nbsp;
                                            </button>
                                            <button type="button" *ngIf="headerCreated && !editFlowForm['controls'].endpointsData['controls'][index]['controls'].header.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New header" (click)="createOrEditHeader(endpoint, editFlowForm['controls'].endpointsData['controls'][index]['controls'].header)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN'">
                                            </button>
                                            <button type="button" *ngIf="!headerCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create header" (click)="createOrEditHeader(endpoint, editFlowForm['controls'].endpointsData['controls'][index]['controls'].header)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN'">
                                                <span class="fa fa-plus padding-button"></span>&nbsp;
                                            </button>
                                        </div>
                                    </div>

                                    <div class="border-bottom my-3"><h5>Service</h5></div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <ng-select [items]="filterService[index]" bindLabel="name" bindValue="id" formControlName="service" id="field_service" dropdownPosition="top"></ng-select>
                                            <button type="button" *ngIf="serviceCreated && editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0" title="Edit service" (click)="createOrEditService(endpoint, serviceType[index], editFlowForm['controls'].endpointsData['controls'][index]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN'">
                                                <span class="fa fa-pencil padding-button"></span>&nbsp;
                                            </button>
                                            <button type="button" *ngIf="serviceCreated && !editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.value" class="col-2 btn btn-primary left-border-radius-0 flow-header-button" title="New service" (click)="createOrEditService(endpoint, serviceType[index], editFlowForm['controls'].endpointsData['controls'][index]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.disabled">
                                            </button>
                                            <button type="button" *ngIf="!serviceCreated" class="col-2 btn btn-primary left-border-radius-0" title="Create service" (click)="createOrEditService(endpoint, serviceType[index], editFlowForm['controls'].endpointsData['controls'][index]['controls'].service)" [disabled]="editFlowForm['controls'].endpointsData['controls'][index]['controls'].componentType.value === 'WASTEBIN'">
                                                <span class="fa fa-plus padding-button"></span>&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                    <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.errors && (editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.dirty || editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.touched)">
                                        <div *ngIf="editFlowForm['controls'].endpointsData['controls'][index]['controls'].service.errors.required" class="invalid-field-message">Service is required for this component</div>
                                    </div>
                                    <div class="text-right form-group" role="group">
                                        <button type="button" class="btn btn-primary" style="visibility: hidden;">
                                            <span class="fa fa-pencil"></span>&nbsp;
                                            <span>Empty</span>
                                        </button>
                                        <button type="button" class="btn btn-danger" *ngIf="endpoint.endpointType==='TO' || (endpoint.endpointType==='FROM')" (click)="removeEndpoint(endpoint, 'endpointData'+index)" [disabled]="!((endpoint.endpointType==='TO' && numberOfToEndpoints > 1) || (endpoint.endpointType==='FROM' && numberOfFromEndpoints > 1))">
                                            <span class="fa fa-remove"></span>&nbsp;
                                            <span>Remove</span>
                                        </button>
                                        <button type="button" class="btn btn-primary" *ngIf="endpoint.endpointType==='TO' || (endpoint.endpointType==='FROM')" (click)="addEndpoint(endpoint, index)" [disabled]="(endpoint.endpointType==='FROM' && numberOfFromEndpoints > 2)" [ngbTooltip]="(endpoint.endpointType==='FROM' && numberOfFromEndpoints > 2) ? 'Only 3 FROM type endpoints allowed' : ''" placement="right">
                                            <span class="fa fa-pencil"></span>&nbsp;
                                            <span>Add</span>
                                        </button>
                                    </div>
                                    <div class="text-right form-group" role="group">
                                        <button type="button" class="btn btn-primary" *ngIf="(endpoint.endpointType==='TO' && endpoint.responseId==undefined)" [disabled]="numberOfResponseEndpoints>0" (click)="addResponseEndpoint(endpoint)">
                                            <span class="fa fa-pencil"></span>
                                            <span [ngbTooltip]="numberOfResponseEndpoints===0 ? '' : 'Only one Response endpoint per Flow allowed'" placement="right">Add Response Endpoint</span>
                                        </button>
                                        <button type="button" class="btn btn-danger" *ngIf="(endpoint.endpointType==='TO' && (endpoint.responseId!=undefined))" (click)="removeResponseEndpoint(endpoint)">
                                            <span class="fa fa-remove"></span>
                                            <span>Remove Response Endpoint</span>
                                        </button>
                                    </div>
                                </div>

                            </ng-template>
                        </li>
                    </ng-container>
                </ul>
                <div [ngbNavOutlet]="nav" class="ml-4"></div>
            </div>

            <br />
            <div class="float-right" style="margin-right: 14px;">
                <button type="button" class="btn btn-secondary"
                        [routerLink]="['/']">
                    <span class="fa fa-ban"></span>&nbsp; <span>Cancel</span>
                </button>
                <button type="button" (click)="save()"
                        [disabled]="isSaving"
                        class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp; <span>Save</span>
                </button>
            </div>
            <div *ngIf="savingFlowFailed">
                <span class="text-danger">*{{savingFlowFailedMessage}}</span>
            </div>
            <div *ngIf="savingFlowSuccess">
                <span class="text-success">*{{savingFlowSuccessMessage}}</span>
            </div>
            <div *ngIf="!!invalidUriMessage">
                <span class="text-danger">*{{invalidUriMessage}}</span>
            </div>
        </form>
    </div>
</div>
