<div class="container">
    <h2>Live mode</h2>
    <hr>
    <div>
        <form [formGroup]="liveModeForm" (ngSubmit)="setLiveConfiguration()">
            <div class="form-group">
                <label for="xmlEditor">XML configuration</label>
                <textarea class="form-control" id="xmlEditor" formControlName="xmlEditor"></textarea>
            </div>
            <div class="form-group">
                <label for="configId">Configuration ID</label>
                <input type="text" class="form-control" id="configId" formControlName="configId">
            </div>
            <button type="submit" class="btn btn-primary">Load configuration</button>
        </form>
    </div>

    <div *ngIf="isConfigurationSet">
        <hr>
        <p class="float-left">Live configuration is set. You can manage flow.</p>
        <div class="btn-group flex-btn-group-container flow-btns">    
            <button type="button" (click)="start()" class="btn btn-info btn-sm" *ngIf="!isFlowStarted">
                <span class="fa fa-play"></span>
                <span class="d-none d-md-inline">Start</span>
            </button>
            <button type="button" (click)="restart()" class="btn btn-primary btn-sm" *ngIf="!isFlowRestarted">
                <span class="fa fa-refresh"></span>
                <span class="d-none d-md-inline">Restart</span>
            </button>
            <button type="button" (click)="pause()" class="btn btn-warning btn-sm" [disabled]="!isFlowPaused && isFlowStopped" *ngIf="!isFlowPaused">
                <span class="fa fa-pause"></span>
                <span class="d-none d-md-inline">Pause</span>
            </button>
            <button type="button" (click)="resume()" class="btn btn-info btn-sm" *ngIf="!isFlowResumed">
                <span class="fa fa-step-forward"></span>
                <span class="d-none d-md-inline">Resume</span>
            </button>
            <button type="button" (click)="stop()" class="btn btn-danger btn-sm" [disabled]="isFlowStopped">
                <span class="fa fa-stop"></span>
                <span class="d-none d-md-inline">Stop</span>
            </button>
        </div>
        <hr>
    </div>
</div>