<td id="flowRowID" [hidden]="!flowRowID"><a
	[routerLink]="['../flow', flow.id ]">{{flow.id}}</a></td>
<td><ng-template #detailsTemplate let-message="message">
	<div [innerHtml]="flowDetails"></div>
	</ng-template> <ng-template #statsTemplate let-message="message">
	<div [innerHtml]="flowStatistic"></div>
	</ng-template> <span>{{flow.name}}</span>
	<p>
		<a (click)="navigateToFlow()" class="fa fa-edit" aria-hidden="true"
			(mouseenter)="getFlowDetails()" triggers="mouseenter:mouseleave"
			placement="right"
			popoverTitle="Details" [popover]="detailsTemplate"></a> 
		<i  style="padding-left: 1em" (mouseenter)="getFlowStatus(flow.id)"
			[hidden]="!isFlowStatusOK" triggers="mouseenter:mouseleave"
			placement="right" popoverTitle="Stats" [popover]="statsTemplate"
			class="fa fa-bar-chart"></i>
		 <i [hidden]="isFlowStatusOK"
			placement="right"
			triggers="mouseenter:mouseleave"
			 popoverTitle="Stats"
			[popover]="statsTemplate" class="fa fa-bar-chart"></i>
	</p></td>
<td id="flowRowID" [hidden]="!flowRowID"><a *ngIf="flow.gatewayId"
	[routerLink]="['../gateway', flow.gatewayId]">{{flow.gatewayId}}</a></td>
<td><span>{{fromEndpoint.type}}</span>
	<p>
		<i class="fa fa-info-circle" aria-hidden="true"
			triggers="mouseenter:mouseleave" placement="right" popoverTitle="URI"
			[popover]="fromEndpointTooltip"></i>
	</p></td>
<td><span *ngFor="let toEndpoint of toEndpoints; let i = index">
		<span>{{toEndpoint.type}}</span> <span
		*ngIf="i < toEndpoints.length - 1"></span>
		<p>
			<i class="fa fa-info-circle" aria-hidden="true"
				triggers="mouseenter:mouseleave" placement="right"
				popoverTitle="URI" [popover]="toEndpointsTooltips[i]"></i>
		</p>
</span></td>
<td id="flowErrorEndpointID" [hidden]="!flowRowErrorEndpointID">
	<!-- <span triggers="mouseenter" placement="right" popoverTitle="URI" [popover]="errorEndpointTooltip">{{errorEndpointId.type}}</span> -->
</td>
<td>
  <div class="float-left" >
<ng-template #statusFlowButtonTemplate let-message="message">
	<div [innerHtml]="flowStatusButton"></div>
	</ng-template>
	<p>
	<h4 class="float-left">
		<span class="badge badge-success" *ngIf="statusFlow === 'active'"
			(mouseenter)="p!=p" triggers="mouseenter"
			placement="right" popoverTitle="Status"
			[popover]="statusFlowButtonTemplate">Active</span>
			 <span
			class="badge badge-warning" *ngIf="statusFlow === 'paused'"
			(mouseenter)="p!=p" placement="right"
			triggers="mouseenter" popoverTitle="Status"
			[popover]="statusFlowButtonTemplate">Paused</span> 
			<span
			class="badge badge-primary" *ngIf="statusFlow === 'inactive'"
			(mouseenter)="p!=p" placement="right" popoverTitle="Status" triggers="mouseenter"
			[popover]="statusFlowButtonTemplate">Inactive</span>
			 <span
			class="badge badge-danger" *ngIf="statusFlow === 'inactiveError'"
			(mouseenter)="p!=p" placement="right"
			triggers="mouseenter" popoverTitle="Status"
			[popover]="statusFlowButtonTemplate">Inactive</span>
	</h4>
	<ng-template #alertsFlowButtonTemplate let-message="message">
	<div [innerHtml]="flowAlertsButton"></div>
	</ng-template>
	<h4 class="float-left" style="margin-left: 10px;">
		<span
			class="badge badge-warning" *ngIf="flowAlerts === 'true'"
			(mouseenter)="p!=p" placement="right" on-mouseover='getFlowAlerts(flow.id)'
			triggers="mouseenter" popoverTitle="Show last alerts"
			[popover]="alertsFlowButtonTemplate">{{numberOfAlerts}} Alerts</span>
	</h4>
	</p>	
	   </div>
	</td>
<td class="text-right">
	<p>
	<div class="btn-group flex-btn-group-container flow-btns">
		<button type="button" (click)="start()" class="btn btn-info btn-sm"
			[disabled]="disableActionBtns" *ngIf="!isFlowStarted">
			<span class="fa fa-play"></span> <span class="d-none d-md-inline">Start</span>
		</button>
		<button type="button" (click)="restart()"
			class="btn btn-primary btn-sm" [disabled]="disableActionBtns"
			*ngIf="!isFlowRestarted">
			<span class="fa fa-refresh"></span> <span class="d-none d-md-inline">Restart</span>
		</button>
		<button type="button" (click)="pause()" class="btn btn-warning btn-sm"
			[disabled]="!isFlowPaused && isFlowStopped || disableActionBtns"
			*ngIf="!isFlowPaused">
			<span class="fa fa-pause"></span> <span class="d-none d-md-inline">Pause</span>
		</button>
		<button type="button" (click)="resume()" class="btn btn-info btn-sm"
			[disabled]="disableActionBtns" *ngIf="!isFlowResumed">
			<span class="fa fa-step-forward"></span> <span
				class="d-none d-md-inline">Resume</span>
		</button>
		<button type="button" (click)="stop()" class="btn btn-danger btn-sm"
			[disabled]="isFlowStopped || disableActionBtns">
			<span class="fa fa-stop"></span> <span class="d-none d-md-inline">Stop</span>
		</button>
	</div>
	</p>
</td>
<td></td>