<form name="importForm">
    <div class="modal-header">
        <h4 class="modal-title" id="uploadCertificateLabel">Upload certificate</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
    	<div class="alert alert-danger" *ngIf="uploadError">
            <strong>Upload error!</strong>{{uploadErrorMessage}}
        </div>
        <div class="form-group">
            <label class="form-control-label font-weight-bold" for="certificate_store" style="margin-bottom: 4px;">Certificate Store</label>
            <select
                type="text" id="field_certificateStore" name="certificateStore" class="form-control form-select" [(ngModel)]="certificateStore">
                <option value="keystore">keystore</option>
                <option value="truststore">truststore</option>
            </select>
        </div>
        <div class="form-group" style="margin-top: 8px;">
            <label class="form-control-label font-weight-bold" style="margin-bottom: 4px;">Certificate File</label>
            <div class="custom-file">
                <input type="file" id="file" class="custom-file-input" (change)='openFile($event)'>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!certificateFile" (click)="uploadCertificate()">
            <span class="fa fa-upload"></span>&nbsp;
            <span>Upload</span>
        </button>
    </div>
</form>
