<form name="importForm" [formGroup]="importForm">
    <div class="modal-header">
        <h4 class="modal-title" id="selfSignLabel">Generate Self-Signed Cetificate</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
    	<div class="alert alert-danger" *ngIf="error">
            <strong>Upload error!</strong>{{errorMessage}}
        </div>
        <div class="form-group">
            <label class="form-control-label font-weight-bold" for="certificateStore">Certificatie Store</label>
            <select
                type="text" id="certificateStore" class="form-control form-select" formControlName="certificateStore">
                <option value="keystore">keystore</option>
                <option value="truststore">truststore</option>
            </select>
        </div>
        <br/>
        <div class="form-group" style="padding-left: 5px; padding-right: 5px;">
            <label for="cn" class="form-control-label font-weight-bold">Common Name (CN)</label>
            <input type="text" id="cn" formControlName="cn" class="form-control" [(ngModel)]="cn" placeholder="Example: localhost">
            <br/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" [disabled]="cn === '' || isSaving" (click)="generateCertificate()">
            <span class="fa fa-upload"></span>&nbsp;
            <span>Generate</span>
        </button>
    </div>
</form>
