<div>
  <div class="row">
    <div class="col-12">
      <h2>
        <span>Certificates</span>
      </h2>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-8"></div>
    <div class="col-3-5 text-right">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownMenuActions" ngbDropdownToggle style="min-width: 160px">Actions</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem [routerLink]="['/certificate/new']">Manage Whitelist</button>
          <button ngbDropdownItem (click)="generateCertificate()">Self-Sign</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownMenuActions2" ngbDropdownToggle style="min-width: 160px">Upload</button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
          <button ngbDropdownItem (click)="uploadCertificate()">Client Certificate (.cer)</button>
          <button ngbDropdownItem (click)="uploadP12Certificate()">Server Certificate (.p12)</button>
        </div>
      </div>
    </div>
    <div class="col-0-5"></div>
  </div>
  <br />
  <div class="table-responsive" *ngIf="securities">
    <table class="table table-striped">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
          <th jhiSortBy="id" [style.display]="'none'"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="url"><span>Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="certificateName"><span>Certificate Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th jhiSortBy="certificateExpiry"><span>Certificate Expiry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
          <th></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let certificate of securities; trackBy: trackId">
          <td [style.display]="'none'">
            <a [routerLink]="['/certificate', certificate.id, 'view']">{{ certificate.id }}</a>
          </td>
          <td>{{ certificate.url }}</td>
          <td>{{ certificate.certificateName }}</td>
          <td>{{ certificate.certificateExpiry }}</td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit" [routerLink]="['/certificate', certificate.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>
              <button (click)="exportCertificate(certificate.id)" class="btn btn-primary btn-sm">
                <fa-icon [icon]="faDownload"></fa-icon>
                <span class="d-none d-md-inline">Export</span>
              </button>
              <button
                type="submit"
				(click)="delete(certificate)"
                class="btn btn-danger btn-sm"
              >
                <fa-icon [icon]="'times'"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
