<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate #editForm="ngForm">
            <h2 id="jhi-certificate-heading">{{ certificate?.id ? 'Edit Certificate' : 'Create Certificate' }}</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                @if (errorMessage) {
                    <div class="alert alert-danger">{{ errorMessage }}</div>
                }
                <div class="form-group" [hidden]="!certificate.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="certificate.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="url" class="form-control" name="url" id="field_url" placeholder="https://mydomain.com" [(ngModel)]="certificate.url" pattern="https://.+" required />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_certificateType">Certificates to store</label>
                    <select class="form-control" name="certificateType" id="field_certificateType" [(ngModel)]="certificateType">
                        <option value="root">Root</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="leaf">Leaf</option>
                        <option value="all">All</option>
                    </select>
                </div>
            </div>
            <div class="form-fx-actions">
				<button type="button" id="cancel-save" class="btn btn-fx btn-fx-secondary"  (click)="previousState()">
					<fa-icon [icon]="'ban'"></fa-icon><span>Cancel</span>
				</button>
				<button type="button" id="remove-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-fx btn-fx-secondary" (click)="remove()">
					<fa-icon [icon]="'trash'"></fa-icon><span>Delete</span>
				</button>
				<button type="button" id="renew-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-fx btn-fx-secondary" (click)="renew()">
					<fa-icon [icon]="'sync'"></fa-icon><span>Renew</span>
				</button>
				<button type="button" id="add-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-fx btn-fx-primary" (click)="add()">
					<fa-icon [icon]="'save'"></fa-icon><span>Add</span>
				</button>
            </div>
        </form>
    </div>
</div>
