<div>
  <jhi-search-toolbar [(query)]="searchText" placeholder="Filter by name or URL" persistKey="searchCertificateText" inputId="searchCertificateId">
    <ng-container actions>
      <div ngbDropdown class="d-inline-block" placement="bottom-end">
        <button
          type="button"
          class="btn btn-fx btn-fx-primary"
          id="dropdownMenuCertificates"
          ngbDropdownToggle
          aria-label="Add certificate">
          <fa-icon icon="plus"></fa-icon>
          <span class="d-none d-md-inline"> Add</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownMenuCertificates">
          <h6 class="dropdown-header">Actions</h6>
          <button type="button" ngbDropdownItem id="jh-create-entity" [routerLink]="['/certificate/new']">Download certificate</button>
          <button type="button" ngbDropdownItem (click)="generateCertificate()">Self-signed identity</button>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Import</h6>
          <button type="button" ngbDropdownItem (click)="uploadCertificate()">Trusted certificate (.pem, .crt, .cer)</button>
          <button type="button" ngbDropdownItem (click)="uploadP12Certificate()">Server identity (.p12, .pfx)</button>
        </div>
      </div>
      <button class="btn btn-fx btn-fx-secondary" type="button" (click)="reset()" aria-label="Refresh">
        <fa-icon icon="sync"></fa-icon>
        <span class="d-none d-md-inline"> Refresh</span>
      </button>
    </ng-container>
  </jhi-search-toolbar>

  <jhi-data-table
    [columns]="columns"
    [(sortState)]="sortState"
    (sortChange)="onSortChange()"
    [hasRows]="!!filteredCertificates.length"
    [emptyMessage]="'No certificates found'"
    ariaLabel="Certificates"
  >
    <tr *ngFor="let certificate of filteredCertificates; trackBy: trackId">
      <td class="table-fx-identity">
        <a [routerLink]="['/certificate', certificate.id, 'edit']">
          <jhi-truncate [text]="certificate.certificateName" />
        </a>
      </td>
      <td class="table-fx-identity">
        <jhi-truncate [text]="certificate.url" />
      </td>
      <td>{{ certificate.certificateExpiry }}</td>
      <td class="text-end">
        <jhi-row-actions>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            [routerLink]="['/certificate', certificate.id, 'view']"
          >
            <fa-icon icon="eye"></fa-icon>
            <span>View</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            (click)="exportCertificate(certificate.id)"
          >
            <fa-icon icon="download"></fa-icon>
            <span>Export</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item btn-fx-dropdown-danger"
            (click)="delete(certificate)"
          >
            <fa-icon icon="times"></fa-icon>
            <span>Remove</span>
          </button>
        </jhi-row-actions>
      </td>
    </tr>
  </jhi-data-table>
</div>
