<div>
    <h2 id="page-heading">
        <span>Error Endpoints</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-error-endpoint" [routerLink]="['/error-endpoint/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create Error Endpoint
            </span>
        </button>
    </h2>
    <!-- <jhi-alert></jhi-alert> -->
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="errorEndpoints">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Type</span></th>
            <th><span>Uri</span></th>
            <th><span>Options</span></th>
            <th><span>Service</span></th>
            <th><span>Header</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let errorEndpoint of errorEndpoints ;trackBy: trackId">
                <td><a [routerLink]="['/error-endpoint', errorEndpoint.id, 'view' ]">{{errorEndpoint.id}}</a></td>
                <td>{{errorEndpoint.type}}</td>
                <td>{{errorEndpoint.uri}}</td>
                <td>{{errorEndpoint.options}}</td>
                <td>
                    <div *ngIf="errorEndpoint.serviceId">
                        <a [routerLink]="['../service', errorEndpoint.serviceId , 'view' ]" >{{errorEndpoint.serviceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="errorEndpoint.headerId">
                        <a [routerLink]="['../header', errorEndpoint.headerId , 'view' ]" >{{errorEndpoint.headerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/error-endpoint', errorEndpoint.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/error-endpoint', errorEndpoint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'error-endpoint/'+ errorEndpoint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
