<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myErrorEndpointLabel">Create or edit a Error Endpoint</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!errorEndpoint.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="errorEndpoint.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="errorEndpoint.type" id="field_type" >
                <option *ngFor="let errorType of components.errorTypes" [ngValue]="errorType">{{errorType}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_uri">Uri</label>
            <input type="text" class="form-control" name="uri" id="field_uri"
                [(ngModel)]="errorEndpoint.uri" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_options">Options</label>
            <input type="text" class="form-control" name="options" id="field_options"
                [(ngModel)]="errorEndpoint.options" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_service">Service</label>
            <select class="form-control" id="field_service" name="service" [(ngModel)]="errorEndpoint.serviceId">
                <option [ngValue]="null"></option>
                <option [ngValue]="serviceOption.id" *ngFor="let serviceOption of services; trackBy: trackServiceById">{{serviceOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_header">Header</label>
            <select class="form-control" id="field_header" name="header" [(ngModel)]="errorEndpoint.headerId">
                <option [ngValue]="null"></option>
                <option [ngValue]="headerOption.id" *ngFor="let headerOption of headers; trackBy: trackHeaderById">{{headerOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
