<div>
	<div>
		<div class="row">
			<div class="col-10">
				<h2 id="page-heading">
					<span>Messages</span>
				</h2>
			</div>
			<div class="col-2">
				<a role="button"
					class="btn btn-sm right-border-radius-0 assimbly-link assimbly-integration-img"
					href="https://github.com/assimbly/integration/wiki/Messages"
					placement="right" title="Assimbly Broker" target="_blank"> <picture>
					<source srcset="../../../content/images/assimbly_transparant.webp">
					<img src="../../../content/images/assimbly_transparant.png"
						alt="assibmly-logo"> </picture>
				</a>
			</div>
		</div>
		<div class="row">
			<button id="jh-create-entity"
				class="btn btn-primary float-right jh-create-entity create-message"
				[routerLink]="['/message/new']" *jhiHasAnyAuthority="'ROLE_ADMIN'">
				<span class="fa fa-plus"></span> <span>Create Message</span>
			</button>
		</div>
		<br />
		<div class="row">
			<div class="col-md-11">
				<ng-select [items]="messages" bindLabel="name" bindValue="id"
					id="field_message" [(ngModel)]="selectedMessageId"
					(change)="selectOption()"></ng-select>
			</div>
			<div class="col-md-1 text-right">
				<button type="submit"
					[routerLink]="['../message', selectedMessageId ]"
					class="btn btn-info" [disabled]="!selectedMessageId">
					<span class="fa fa-eye"></span>
				</button>
			</div>
		</div>
	</div>
	<br />
</div>

<jhi-header *ngIf="headers.length > 0" [header]="header"
                 [headerId]="selectedMessageId">Loading headers...</jhi-header>
