<form name="editForm" role="form" novalidate #editForm="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="myMessageLabel">Create or edit a Message</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
  </div>
  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <div class="form-group" [hidden]="!message.id">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" name="id" [(ngModel)]="message.id" readonly />
    </div>
    <div class="form-group">
      <label class="form-control-label" for="field_name">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="field_name"
        required
        maxlength="255"
        [jhiExistingMessageNames]="messageNames"
        [(ngModel)]="message.name"
        #name="ngModel"
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-field-message">
        <span *ngIf="name.errors.required">Name is required.</span>
        <span *ngIf="name.errors.existingMessageName">Name already exists.</span>
      </div>
    </div>

    <div>
      <div class="table-responsive" *ngIf="headers">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4" class="border-top-0">Header</th>
            </tr>
            <tr>
              <td><span>Key</span></td>
              <td><span>Value</span></td>
              <td><span>Type</span></td>
              <td><span>Language</span></td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let header of headers; let idx = index">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="header.key"
                  value="header.key"
                  name="headers-{{ idx }}"
                  id="headers-{{ idx }}"
                  required
                  maxlength="255"
                  [jhiExistingHeader]="headerArray"
                  #key="ngModel"
                />
                <div *ngIf="key.invalid && (key.dirty || key.touched)" class="invalid-field-message">
                  <span *ngIf="key.errors.required">Key is required.</span>
                  <span *ngIf="key.errors.existingHeaders">Key already exists.</span>
                </div>
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="header.value"
                  name="headers-value-{{ idx }}"
                  id="headers-value-{{ idx }}"
                  required
                  maxlength="1000"
                  value="header.value"
                  #value="ngModel"
                />
                <div *ngIf="value.invalid && (value.dirty || value.touched)" class="invalid-field-message">
                  <span *ngIf="value.errors.required">Value is required.</span>
                </div>
              </td>
              <td>
                <select
                  class="form-control form-select"
                  required
                  id="field_header"
                  name="headers-type-{{ idx }}"
                  id="headers-type-{{ idx }}"
                  [(ngModel)]="header.type"
                  #type="ngModel"
                >
                  <option [ngValue]="t" *ngFor="let t of typeHeader">{{ t }}</option>
                </select>
              </td>
              <td>
                <select
                  class="form-control form-select"
                  required
                  id="field_header_language"
                  name="headers-language-{{ idx }}"
                  id="headers-language-{{ idx }}"
                  [(ngModel)]="header.language"
                  #type="ngModel"
                >
                  <option [ngValue]="t" *ngFor="let t of languageHeader">{{ t }}</option>
                </select>
              </td>
              <td>
                <div class="btn-group flex-btn-group-container">
                  <div class="btn-group flex-btn-group-container">
                    <button type="button" class="btn btn-success" title="Add" (click)="addHeader()">
                      <span><fa-icon icon="plus" style="color: white;"></fa-icon></span>
                    </button>
                    <button
                      type="button"
                      title="Delete"
                      *ngIf="header.id"
                      queryParamsHandling="merge"
                      class="btn btn-danger"
                      (click)="deleteHeader(header)"
                    >
                      <span><fa-icon icon="trash" style="color: white;"></fa-icon></span>
                    </button>
                    <button type="button" title="Remove" *ngIf="!header.id" class="btn btn-danger" (click)="removeHeader(idx)">
                      <span><fa-icon icon="times" style="color: white;"></fa-icon></span>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span><fa-icon icon="ban" style="color: white;"></fa-icon></span>&nbsp;
      <span>Cancel</span>
    </button>
    <button type="button" (click)="save(true)" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
      <span><fa-icon icon="save" style="color: white;"></fa-icon></span>&nbsp;
      <span>Save</span>
    </button>
  </div>
</form>
