<form name="deleteForm" (ngSubmit)="confirmDelete(message.id)">
    <div class="modal-message">
        <h4 class="modal-title">Confirm delete operation</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
            <p id="jhi-delete-message-heading" *ngIf="!errorMessage">Are you sure you want to delete this message?</p>
        <p id="jhi-delete-message-heading" *ngIf="errorMessage">Cannot delete message. The message is used by a flow</p>
        <jhi-alert-error></jhi-alert-error>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button id="jhi-confirm-delete-message" type="submit" class="btn btn-danger" [disabled]="!deleteMode">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Delete</span>
        </button>
    </div>
</form>
