<div>
  <jhi-search-toolbar [(query)]="searchText" placeholder="Filter by key" persistKey="searchVariablesText" inputId="searchVariablesId">
    <ng-container actions>
      <button
        id="jh-create-entity"
        class="btn btn-fx btn-fx-primary jh-create-entity create-environment-variables"
        [routerLink]="['/environment-variables/new']"
        aria-label="Add variable"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="d-none d-md-inline"> Add</span>
      </button>
      <button class="btn btn-fx btn-fx-secondary" type="button" (click)="reset()" aria-label="Refresh">
        <fa-icon icon="sync"></fa-icon>
        <span class="d-none d-md-inline"> Refresh</span>
      </button>
    </ng-container>
  </jhi-search-toolbar>

  <jhi-data-table
    [columns]="columns"
    [(sortState)]="sortState"
    (sortChange)="onSortChange()"
    [hasRows]="!!filteredVariables.length"
    [emptyMessage]="'No variables found'"
    ariaLabel="Variables"
  >
    <tr *ngFor="let environmentVariables of filteredVariables; trackBy: trackId">
      <td class="table-fx-identity">
        @if (accountService.hasAnyAuthority('ROLE_ADMIN')) {
          <a [routerLink]="['/environment-variables', environmentVariables.id, 'edit']">
            <jhi-truncate [text]="environmentVariables.key" />
          </a>
        } @else {
          <jhi-truncate [text]="environmentVariables.key" />
        }
      </td>
      <td class="table-fx-identity">
        <jhi-truncate [text]="environmentVariables.value" />
      </td>
      <td class="text-end">
        <jhi-row-actions *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            [routerLink]="['/environment-variables', environmentVariables.id, 'edit']"
          >
            <fa-icon icon="pencil-alt"></fa-icon>
            <span>Edit</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            [routerLink]="['/environment-variables', environmentVariables.id, 'edit']"
            fragment="clone"
            queryParamsHandling="merge"
          >
            <fa-icon icon="clone"></fa-icon>
            <span>Clone</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item btn-fx-dropdown-danger"
            (click)="delete(environmentVariables)"
          >
            <fa-icon icon="times"></fa-icon>
            <span>Delete</span>
          </button>
        </jhi-row-actions>
      </td>
    </tr>
  </jhi-data-table>
</div>
