<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEnvironmentVariablesLabel">Create or edit a Environment Variables</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!environmentVariables.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="environmentVariables.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_key">Key</label>
            <input type="text" class="form-control" name="key" id="field_key"
                [(ngModel)]="environmentVariables.key" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                [(ngModel)]="environmentVariables.value" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_gateway">Gateway</label>
            <select *ngIf="gatewaysLength > 1; else oneGateway" class="form-control" id="field_gateway" name="gateway" [(ngModel)]="environmentVariables.gatewayId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gatewayOption.id" *ngFor="let gatewayOption of gateways; trackBy: trackGatewayById">{{gatewayOption.id}}</option>
            </select>
            <ng-template #oneGateway>
                    <input type="text" class="form-control" name="gatewayOne" id="field_value" readonly [(ngModel)]="gatewayid"/>
                </ng-template>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
