<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="environmentVariables">
            <h2><span>Environment Variables</span> {{environmentVariables.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{environmentVariables.key}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{environmentVariables.value}}</span>
                </dd>
                <dt><span>Gateway</span></dt>
                <dd>
                    <div *ngIf="environmentVariables.gatewayId">
                        <a [routerLink]="['/gateway', environmentVariables.gatewayId, 'view']">{{environmentVariables.gatewayId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/environment-variables', environmentVariables.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
