
<div *ngIf="environmentVariables">
    <h2><span>Environment Variables</span> {{environmentVariables.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Key</span></dt>
        <dd>
            <span>{{environmentVariables.key}}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
            <span>{{environmentVariables.value}}</span>
        </dd>
        <dt><span>Gateway</span></dt>
        <dd>
            <div *ngIf="environmentVariables.gatewayId">
                <a [routerLink]="['/gateway', environmentVariables.gatewayId]">{{environmentVariables.gatewayId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'environment-variables/'+ environmentVariables.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
