<div>
  <div class="row">
    <div class="col-9">
      <h2>
        <span>Environment Variables</span>
      </h2>
    </div>
    <div class="col-2">
      <a
        role="button"
        class="btn btn-sm right-border-radius-0 assimbly-link assimbly-integration-img"
        href="https://github.com/assimbly/gateway/wiki/Environment-Variables"
        placement="right"
        title="Assimbly Documentation"
        target="_blank"
      >
        <picture>
          <source srcset="../../../content/images/assimbly_transparant.webp" />
          <img src="../../../content/images/assimbly_transparant.png" alt="assibmly-logo" />
        </picture>
      </a>
    </div>
    <div class="col-1"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <button
        id="jh-create-entity"
        class="btn btn-primary float-right jh-create-entity create-environment-variables"
        [routerLink]="['/environment-variables/new']"
      >
        <fa-icon [icon]="'plus'"></fa-icon>
        <span> Create Variable</span>
      </button>
    </div>
  </div>
  <br />
  <div class="table-responsive" *ngIf="environmentVariables">
    <table class="table table-striped">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
          <th [style.display]="'none'"><span>ID</span></th>
          <th jhiSortBy="key"><span>Key</span> <span class="fa fa-sort"></span></th>
          <th><span>Value</span></th>
          <th [style.display]="'none'"><span>Integration</span></th>
          <th></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= last" [infiniteScrollDistance]="0">
        <tr *ngFor="let environmentVariables of environmentVariables; trackBy: trackId">
          <td [style.display]="'none'">
            <a [routerLink]="['/environment-variables', environmentVariables.id, 'view']">{{ environmentVariables.id }}</a>
          </td>
          <td>{{ environmentVariables.key }}</td>
          <td>{{ environmentVariables.value }}</td>
          <td [style.display]="'none'">
            <div *ngIf="environmentVariables.integrationId">
              <a [routerLink]="['../integration', environmentVariables.integrationId, 'view']">{{ environmentVariables.integrationId }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container" *jhiHasAnyAuthority="'ROLE_ADMIN'">
              <button
                type="submit"
                [routerLink]="['/environment-variables', environmentVariables.id, 'edit']"
                class="btn btn-primary btn-sm"
              >
                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>
              <button
                type="submit"
                [routerLink]="['/environment-variables', environmentVariables.id, 'edit']"
                fragment="clone"
                queryParamsHandling="merge"
                class="btn btn-info btn-sm"
              >
              <fa-icon [icon]="'clone'"></fa-icon>
			  <span class="d-none d-md-inline">Clone</span>
              </button>
              <button
                type="submit"
                (click)="delete(environmentVariables)"
                class="btn btn-danger btn-sm"
              >
                <fa-icon [icon]="'times'"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
