<form name="logsForm" #logsForm="ngForm" class="logviewer-toolbar">
  <jhi-search-toolbar
    [(query)]="searchText"
    (queryChange)="onFilterChange()"
    placeholder="Filter log"
    inputId="searchTextId"
  >
    <div
      extras
      class="input-group"
      style="max-width: 12rem"
      data-toggle="tooltip"
      title="The number of lines returned (default=250, max=10000). Only the last lines of the log file are shown (tail)."
    >
      <span class="input-group-text">Lines:</span>
      <input
        type="number"
        name="lines"
        class="form-control"
        [jhiLogViewerLineValidation]="lines"
        [(ngModel)]="lines"
        id="lines"
        min="1"
        max="10000"
        required
      />
    </div>
    <button
      actions
      type="button"
      (click)="getLogs()"
      [disabled]="logsForm.form.invalid"
      class="btn btn-fx btn-fx-secondary"
      aria-label="Refresh"
    >
      <fa-icon icon="sync"></fa-icon>
      <span>Refresh</span>
    </button>
  </jhi-search-toolbar>
</form>

<pre #logArea class="logviewer-output" [innerHTML]="coloredLog"></pre>
