<div>
  <h2 id="page-heading">
    <span>Steps</span>
  </h2>
  <br />
  <div class="table-responsive" *ngIf="steps">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span>ID</span></th>
          <th><span>Flow ID</span></th>
          <th><span>StepType</span></th>
          <th><span>ComponentType</span></th>
          <th><span>Uri</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let step of steps; trackBy: trackId">
          <td>
            <a [routerLink]="['/step', step.id, 'view']">{{ step.id }}</a>
          </td>
          <td>{{ step.flowId }}</td>
          <td>{{ step.stepType }}</td>
          <td>{{ step.componentType }}</td>
          <td>{{ step.uri }}</td>
          <td class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button type="submit" [routerLink]="['/step', step.id, 'view']" class="btn btn-info btn-sm">
                <fa-icon [icon]="'eye'"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
