<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="step">
            <h2><span>Step</span> {{step.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>StepType</span></dt>
                <dd>
                    <span>{{step.stepType}}</span>
                </dd>
                <dt><span>ComponentType</span></dt>
                <dd>
                    <span>{{step.componentType}}</span>
                </dd>
                <dt><span>Uri</span></dt>
                <dd>
                    <span>{{step.uri}}</span>
                </dd>
                <dt><span>Options</span></dt>
                <dd>
                    <span>{{step.options}}</span>
                </dd>
                <dt><span>Response ID</span></dt>
                <dd>
                    <span>{{step.responseId}}</span>
                </dd>
                <dt><span>Flow ID</span></dt>
                <dd>
                    <div *ngIf="step.flowId">
                        <a [routerLink]="['/flow', step.flowId, 'view']">{{step.flowId}}</a>
                    </div>
                </dd>
                <dt><span>Header ID</span></dt>
                <dd>
                    <div *ngIf="step.headerId">
                        <a [routerLink]="['/header', step.headerId, 'view']">{{step.headerId}}</a>
                    </div>
                </dd>
                <dt><span>Route ID</span></dt>
                <dd>
                  <div *ngIf="step.routeId">
                    <a [routerLink]="['/route', step.routeId, 'view']">{{step.routeId}}</a>
                  </div>
                </dd>
                <dt><span>Service ID</span></dt>
                <dd>
                  <div *ngIf="step.serviceId">
                    <a [routerLink]="['/service', step.serviceId, 'view']">{{step.serviceId}}</a>
                  </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <!--  <button type="button" *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/step', step.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>-->
        </div>
    </div>
</div>
