<div>
    <h2 id="page-heading">
        <span>Security (TLS whitelist)</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-security" [routerLink]="['/security/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Add URL
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="securities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id" id="securityHeaderId" [hidden]="!securityHeaderId"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="url"><span>Url</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="certificateName"><span>Certificate Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="certificateExpiry"><span>Certificate Expiry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let security of securities ;trackBy: trackId">
                <td id="securityId" [hidden]="!securityId"><a [routerLink]="['/security', security.id, 'view' ]">{{security.id}}</a></td>
                <td>{{security.url}}</td>
                <td>{{security.certificateName}}</td>
                <td>{{security.certificateExpiry | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/security', security.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <!-- <button type="submit"
                                [routerLink]="['/security', security.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button> -->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'security/'+ security.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
