<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="security">
            <h2><span>Security</span> {{security.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{security.url}}</span>
                </dd>
                <dt><span>Certificate Store</span></dt>
                <dd>
                    <span>{{security.certificateStore}}</span>
                </dd>
                <dt><span>Certificate Name</span></dt>
                <dd>
                    <span>{{security.certificateName}}</span>
                </dd>
                <dt><span>Certificate Expiry</span></dt>
                <dd>
                    <span>{{security.certificateExpiry}}</span>
                </dd>
                <dt><span>Details</span></dt>
                <dd>
                    <span>{{certificatieType}}</span>
                </dd>
                <dd>
                    <span>{{SigningAlgorithm}}</span>
                </dd>
                <dd>
                    <span>{{IssuerDNPrincipal}}</span>
                </dd>
                <dd>
                    <span>{{SubjectDNPrincipal}}</span>
                </dd>
            </dl>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
