<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate #editForm="ngForm">
            <h2 id="jhi-security-heading">Manage whitelist</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!security.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="security.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_url">Url</label>
                    <input type="url" class="form-control" name="url" id="field_url" placeholder="https://mydomain.com" [(ngModel)]="security.url" pattern="https://.+" required /> 
                </div>
                <!-- 
                <div class="form-group">
                    <label class="form-control-label" for="field_certificateName">Certificate Name</label>
                    <input type="text" class="form-control" name="certificateName" id="field_certificateName"
                        [(ngModel)]="security.certificateName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_certificateExpiry">Certificate Expiry</label>
                    <div class="d-flex">
                        <input id="field_certificateExpiry" type="datetime-local" class="form-control" name="certificateExpiry" [(ngModel)]="certificateExpiry"
                        />
                    </div>
                </div>  -->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="button" id="add-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="add()">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Add</span>
                </button>
                <button type="buton" id="remove-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="remove()">
                    <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>&nbsp;<span>Remove</span>
                </button>
                <button type="buton" id="renew-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" (click)="renew()">
                    <fa-icon [icon]="['fas', 'sync']"></fa-icon>&nbsp;<span>Renew</span>
                </button>                                
            </div>
        </form>
    </div>
</div>
