<form name="importForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myIntegrationLabel">Import XML Configuration</h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="clear()"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-control-label font-weight-bold" for="field_id">Integration id</label>
            <select class="form-control form-select" name="id" [(ngModel)]="integrationId" id="field_id" [disabled]="integrations.length === 1">
                <option *ngFor="let integration of integrations" value="{{integration.id}}">{{integration.id}}</option>
            </select>
        </div>
        <br/>
        <div class="form-group">
            <label class="form-control-label font-weight-bold">XML configuration</label>
            <div class="custom-file">
                <input type="file" id="file" class="custom-file-input" (change)='openFile($event)'>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;
            <span>Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" [disabled]="!integrationId || !xmlConfiguration" (click)="importConfiguration()">
            <span class="fa fa-upload"></span>&nbsp;
            <span>Import</span>
        </button>
        <jhi-alert-error></jhi-alert-error>
    </div>
</form>
