<div>
  <ng-template #restartIntegrationModal>
    <div class="modal-header">
      <h4 class="modal-title">Restart Integration</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="cancelModal()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">Are you sure? This will restart Assimbly gateway (and shutdown its flows).</div>
      </div>
      <div [innerHtml]="restartIntegrationMessage"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-fx btn-fx-secondary" (click)="cancelModal()">Close</button>
      <button type="button" class="btn btn-fx btn-fx-primary" (click)="restartIntegration(1)">Restart</button>
    </div>
  </ng-template>

  <ng-template #infoIntegrationModal>
    <div class="modal-header">
      <h4 class="modal-title">Gateway info</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="cancelModal()"></button>
    </div>
    <div class="modal-body" *ngIf="infoIntegration">
      <dl class="row mb-0">
        <dt class="col-sm-4">ID</dt>
        <dd class="col-sm-8">{{ infoIntegration.id }}</dd>
        <dt class="col-sm-4">Name</dt>
        <dd class="col-sm-8">{{ infoIntegration.name }}</dd>
        <dt class="col-sm-4">Type</dt>
        <dd class="col-sm-8">{{ infoIntegration.type }}</dd>
        <dt class="col-sm-4">Environment Name</dt>
        <dd class="col-sm-8">{{ infoIntegration.environmentName }}</dd>
        <dt class="col-sm-4">Stage</dt>
        <dd class="col-sm-8">{{ infoIntegration.stage }}</dd>
        <dt class="col-sm-4">Connector</dt>
        <dd class="col-sm-8">{{ infoIntegration.connectorType }}</dd>
      </dl>
      <h5 class="mt-3">Step defaults</h5>
      <dl class="row mb-0">
        <dt class="col-sm-4">Source</dt>
        <dd class="col-sm-8">{{ infoIntegration.defaultFromComponentType }}</dd>
        <dt class="col-sm-4">Sink</dt>
        <dd class="col-sm-8">{{ infoIntegration.defaultToComponentType }}</dd>
        <dt class="col-sm-4">Error</dt>
        <dd class="col-sm-8">{{ infoIntegration.defaultErrorComponentType }}</dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-fx btn-fx-secondary" (click)="cancelModal()">Close</button>
    </div>
  </ng-template>

  <jhi-search-toolbar [(query)]="searchText" placeholder="Filter by name" persistKey="searchGatewayText" inputId="searchGatewayId">
    <ng-container actions>
      <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <button
          *ngIf="integrations().length === 0"
          type="button"
          class="btn btn-fx btn-fx-primary jh-create-entity create-integration"
          id="newButton"
          [routerLink]="['/integration/new']"
          aria-label="Create Gateway"
        >
          <fa-icon icon="plus"></fa-icon>
          <span class="d-none d-md-inline"> Create Gateway</span>
        </button>
      </ng-container>
      <button
        type="button"
        (click)="openRestartIntegrationModal(restartIntegrationModal)"
        class="btn btn-fx btn-fx-secondary"
        aria-label="Restart"
      >
        <fa-icon icon="sync"></fa-icon>
        <span class="d-none d-md-inline"> Restart</span>
      </button>
    </ng-container>
  </jhi-search-toolbar>

  <jhi-data-table
    [columns]="columns"
    [(sortState)]="sortState"
    [hasRows]="!!filteredIntegrations.length"
    [emptyMessage]="'No gateway found'"
    ariaLabel="Gateway"
  >
    <tr *ngFor="let integration of filteredIntegrations; trackBy: trackId">
      <td class="table-fx-identity">
        <a [routerLink]="['/integration', integration.id, 'edit']" queryParamsHandling="merge">
          <jhi-truncate [text]="integration.name" />
        </a>
      </td>
      <td>{{ integration.type }}</td>
      <td>{{ integration.stage }}</td>
      <td class="text-end">
        <jhi-row-actions>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            [routerLink]="['/integration', integration.id, 'edit']"
            queryParamsHandling="merge"
          >
            <fa-icon icon="pencil-alt"></fa-icon>
            <span>Edit</span>
          </button>
          <button
            jhiPrimaryAction
            type="button"
            class="btn btn-fx btn-fx-sm btn-fx-ghost"
            (click)="openInfoModal(infoIntegrationModal, integration)"
            aria-label="Info"
          >
            <fa-icon icon="info"></fa-icon>
            <span class="d-none d-md-inline">Info</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item btn-fx-dropdown-danger"
            (click)="delete(integration)"
          >
            <fa-icon icon="times"></fa-icon>
            <span>Remove</span>
          </button>
        </jhi-row-actions>
      </td>
    </tr>
  </jhi-data-table>
</div>
