<div>
	<div class="row">
		<div class="col-10">
			<h2>
				<span>Offloading</span>
			</h2>
		</div>
		<div class="col-2">
			<a role="button"
				class="btn btn-sm right-border-radius-0 assimbly-link assimbly-gateway-img"
				href="https://github.com/assimbly/gateway/wiki/Offloading"
				placement="right" title="Assimbly Documentation" target="_blank">
				<picture>
				<source srcset="../../../content/images/assimbly_transparant.webp">
				<img src="../../../content/images/assimbly_transparant.png"
					alt="assibmly-logo"> </picture>
			</a>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-10"></div>
		<div class="col-2">
	        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wire-tap-endpoint" *ngIf="wireTapEndpoints.length === 0 && isAdmin" (click)="navigateToCreate()">
	            <span class="fa fa-plus"></span>
	            <span>
	                Create Wiretap Endpoint
	            </span>
	        </button>
        </div>
	</div>
	<br />
    <div *ngIf="wireTapEndpoints?.length === 0">
    			<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<b>No offloading is configured</b>
					</div>
					<div class="card-block pt-4">
						<blockquote class="card-blockquote text-left">
					    	<p> Offloading is a default destination where a copy of the source message is send. This copy can be used for example as backup or for data analytics.</p>
					    	<p> This destination is called a wiretap, because its tapping messaging from a flow</p>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="col-12 text-center">
		        
           </div>
		</div>
    	
    
    
    </div>
    <!-- <jhi-alert></jhi-alert> -->

    <div class="table-responsive" *ngIf="wireTapEndpoints">
        <table class="table table-bordered table-sm" *ngFor="let wireTapEndpoint of wireTapEndpoints ;trackBy: trackId" style="margin-bottom: 30px;">
            <thead>
                <tr>
                    <th class="bg-gray" colspan="2">
                        <span class="text-center">
                            <i>{{wireTapEndpoint.name}}</i>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td lass="w-25">
                        <span class="font-weight-bold">Type:</span>
                    </td>
                    <td class="w-75">
                        {{wireTapEndpoint.type}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Uri:</span>
                    </td>
                    <td>
                        {{wireTapEndpoint.uri}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Options:</span>
                    </td>
                    <td>
                        {{wireTapEndpoint.options}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Header:</span>
                    </td>
                    <td>
                        <div *ngIf="wireTapEndpoint.header">
                            <a [routerLink]="['../header', wireTapEndpoint.header?.id ]">{{wireTapEndpoint.header?.id}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="font-weight-bold">Service:</span>
                    </td>
                    <td>
                        <div *ngIf="wireTapEndpoint.service">
                            <a [routerLink]="['../service', wireTapEndpoint.service?.id ]">{{wireTapEndpoint.service?.id}}</a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot *ngIf="isAdmin">
                <tr>
                    <td colspan="2">
                        <div class="d-block pull-right">
                            <button type="submit"
                                [routerLink]="['/wire-tap-endpoint', wireTapEndpoint.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                            </button>
                            <button class="btn btn-danger btn-sm" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'wire-tap-endpoint/' + wireTapEndpoint.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
