<ng-template #namePopover let-message="message">
  <div [innerHtml]="namePopoverMessage"></div>
</ng-template>
<ng-template #logLevelPopover let-message="message">
  <div [innerHtml]="logLevelPopoverMessage"></div>
</ng-template>

<ng-template #componentPopover let-message="message">
  <div [innerHtml]="componentPopoverMessage"></div>
</ng-template>
<ng-template #messagePopover let-message="message">
  <div [innerHtml]="messagePopoverMessage"></div>
</ng-template>
<ng-template #connectionPopover let-message="message">
  <div [innerHtml]="connectionPopoverMessage"></div>
</ng-template>
<ng-template #popover let-message="message">
  <div [innerHtml]="popoverMessage"></div>
</ng-template>
<ng-template #hostnamePopover let-message="message">
  <div [innerHtml]="hostnamePopoverMessage"></div>
</ng-template>
<ng-template #portPopover let-message="message">
  <div [innerHtml]="portPopoverMessage"></div>
</ng-template>
<ng-template #timeoutPopover let-message="message">
  <div [innerHtml]="timeoutPopoverMessage"></div>
</ng-template>


<ng-template #testConnectionModal>
  <div class="modal-header">
    <h4 class="modal-title">Test Connection</h4>
    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="cancelModal()"></button>
  </div>
  <div class="modal-body" [formGroup]="testConnectionForm">
    <div class="form-group row">
      <div class="col-8">
        <label class="form-control-label" for="field_host">Host name</label>
        <i triggers="mouseenter:mouseleave" popoverTitle="Info"
           [popover]="hostnamePopover" container="body" placement="right"
        >
          <fa-icon icon="info-circle"></fa-icon>
        </i> <input type="text"
                    class="form-control" formControlName="connectionHost"
                    id="connectionHost" required/>
      </div>
      <div class="col-3">
        <label class="form-control-label" for="example-number-input">Port</label>
        <i triggers="mouseenter:mouseleave" popoverTitle="Info"
           [popover]="portPopover" container="body" placement="right"
        >
          <fa-icon icon="info-circle"></fa-icon>
        </i> <input type="number"
                    class="form-control" min="1" max="65535"
                    formControlName="connectionPort" id="connectionPort"/>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="form-group row">
      <div class="col-8">
        <label class="form-control-label" for="example-number-input">Timeout</label>
        <i triggers="mouseenter:mouseleave" popoverTitle="Info"
           [popover]="timeoutPopover" container="body" placement="right"
        >
          <fa-icon icon="info-circle"></fa-icon>
        </i> <input type="number"
                    class="form-control" formControlName="connectionTimeout"
                    id="connectionTimeout"/>
      </div>
      <div class="col-4"></div>
    </div>
    <div [innerHtml]="testConnectionMessage"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-fx btn-fx-secondary" (click)="cancelModal()">Close</button>
    <button type="button" class="btn btn-fx btn-fx-primary" (click)="testConnection()">Test</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-12"></div>
</div>

<div [ngClass]="useCanvas ? 'container-fluid flow-designer-page' : 'container'">

  <div class="row">

    <form [formGroup]="editFlowForm" class="form-fx-validate" [class.form-submitted]="formSubmitted" (ngSubmit)="save()" *ngIf="finished" novalidate jhiFieldTab>
      <jhi-alert-error></jhi-alert-error>
      <div class="form-group" [style.display]="'none'">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" *ngIf="flow" readonly formControlName="id"/>
      </div>

      <jhi-flow-editor-header
        [nameControl]="nameControl"
        [flowId]="flow?.id"
        [draftReason]="draftReason"
        [sourceComponent]="sourceComponent"
        [saving]="isSaving"
        (save)="save()"
        (saveAndStart)="save(true)"
      />

      <ng-template #stepEditor let-index>
        <jhi-flow-editor-step
          [step]="steps[index]"
          [index]="index"
          [stepForm]="stepFormAt(index)"
          [activeEditor]="'flow'"
          [onCanvas]="true"
          [routerKind]="selectedRouterKind"
          [deletable]="selectedStepDeletable"
          [formSubmitted]="formSubmitted"
          [sourceComponentsNames]="sourceComponentsNames"
          [sinkComponentsNames]="sinkComponentsNames"
          [actionComponentsNames]="actionComponentsNames"
          [languageComponentsNames]="languageComponentsNames"
          [routes]="routes"
          [messages]="messages"
          [connections]="connections"
          [routeCreated]="routeCreated"
          [messageCreated]="messageCreated"
          [connectionCreated]="connectionCreated"
          [uriPlaceholder]="uriPlaceholders[index]"
          [uriPopoverMessage]="uriPopoverMessages[index]"
          [uriList]="URIList[index]"
          [componentOptions]="componentOptions[index]"
          [stepOptions]="stepsOptions[index]"
          [selectedOptions]="selectedOptions[index]"
          [componentTypeCamelLink]="componentTypeCamelLinks[index]"
          [enableMessage]="enableMessage[index]"
          [enableConnection]="enableConnection[index]"
          [filterConnection]="filterConnection[index]"
          [connectionType]="connectionType[index]"
          [errorHandlerPopoverMessage]="errorHandlerPopoverMessage"
          [optionsPopoverMessage]="optionsPopoverMessage"
          [customOptions]="customOptions"
          (removeStep)="onDeleteStep(stepKeys[$event.index])"
          (addConnection)="addConnection($event.step, $event.index)"
          (componentTypeChange)="setTypeLinks($event.step, $event.index, $event.componentType)"
          (createOrEditRoute)="createOrEditRoute($event.step, $event.control)"
          (createOrEditMessage)="createOrEditMessage($event.step, $event.control)"
          (createOrEditConnection)="createOrEditConnection($event.step, $event.connectionType, $event.control)"
        ></jhi-flow-editor-step>
      </ng-template>

      @if (useCanvas) {
        <div class="flow-designer">
          <div class="flow-designer-toolbar">
            <button type="button" class="btn btn-fx btn-fx-ghost" (click)="undo()" [disabled]="!designer?.canUndo" title="Undo (Ctrl+Z)">
              <fa-icon icon="undo"></fa-icon><span>Undo</span>
            </button>
            <button type="button" class="btn btn-fx btn-fx-ghost" (click)="redo()" [disabled]="!designer?.canRedo" title="Redo (Ctrl+Y)">
              <fa-icon icon="redo"></fa-icon><span>Redo</span>
            </button>
            <button type="button" class="btn btn-fx btn-fx-ghost" (click)="autoArrangeCanvas()" [disabled]="!!canvasGraph?.readOnlyReason"
                    title="Lay the Flow out from left to right">
              <fa-icon icon="sitemap"></fa-icon><span>Auto-arrange</span>
            </button>
            <button type="button" class="btn btn-fx btn-fx-ghost" (click)="openFlowSettings()">
              <fa-icon icon="cogs"></fa-icon><span>Flow settings</span>
            </button>
            <div class="flow-designer-toolbar-end">
              <button type="button" class="btn btn-fx btn-fx-ghost" (click)="togglePanel()" aria-controls="flow-designer-panel"
                      [attr.aria-expanded]="!sidePanelCollapsed">
                <fa-icon [icon]="sidePanelCollapsed ? 'chevron-left' : 'chevron-right'"></fa-icon>
                <span>{{ sidePanelCollapsed ? 'Show editor' : 'Hide editor' }}</span>
              </button>
            </div>
          </div>
          <div class="flow-designer-body" #designerBody>
            @if (canvasGraph) {
            <div class="flow-designer-canvas">
                <jhi-flow-canvas
                  #flowCanvasRef
                  [graph]="canvasGraph"
                  [problems]="canvasProblems"
                  [selection]="selection"
                  [readOnly]="!!canvasGraph.readOnlyReason"
                  [components]="{ actions: actionComponentsNames, sinks: sinkComponentsNames }"
                  (selectionChange)="onSelectionChange($event)"
                  (openStep)="toggleStepEditor($event)"
                  (insertStep)="onInsertStep($event)"
                  (appendStep)="onAppendStep($event)"
                  (addBranch)="onAddBranch($event)"
                  (moveStep)="onMoveStep($event)"
                ></jhi-flow-canvas>
              <div class="flow-designer-alerts">
                @if (designerNotice) {
                  <div class="alert alert-warning py-2 mb-0">{{ designerNotice }}</div>
                }
                @if (designerMessage) {
                  <div class="alert alert-info alert-dismissible py-2 mb-0">
                    {{ designerMessage }}
                    <button type="button" class="btn-close py-2" aria-label="Close" (click)="designerMessage = undefined"></button>
                  </div>
                }
                @if (savingFlowFailed) {
                  <div class="alert alert-danger py-2 mb-0">{{ savingFlowFailedMessage }}</div>
                }
                @for (message of [invalidUriMessage, notUniqueUriMessage]; track $index) {
                  @if (message) {
                    <div class="alert alert-danger py-2 mb-0">{{ message }}</div>
                  }
                }
              </div>
            </div>
            <aside class="flow-designer-panel" id="flow-designer-panel" [class.d-none]="sidePanelCollapsed">
              <div class="flow-designer-panel-editor">
              @if (selection.type === 'step' && selectedStepIndex >= 0) {
                <ng-container *ngTemplateOutlet="stepEditor; context: { $implicit: selectedStepIndex }"></ng-container>
              } @else if (selectedLink; as link) {
                <jhi-link-editor
                  [graph]="canvasGraph!"
                  [link]="link"
                  [readOnly]="!!canvasGraph?.readOnlyReason"
                  [problem]="selectedLinkProblem"
                  (linkChange)="onLinkChange($event)"
                  (deleteBranch)="onDeleteBranch(link.to)"
                ></jhi-link-editor>
              } @else {
                <div class="card bg-light text-start mb-3">
                  <div class="card-body">
                    <h5 class="border-bottom">FLOW</h5>
                    <div class="mb-3">
                      <label class="form-control-label" for="field_logLevel">Log level</label>
                      <select class="form-select" id="field_logLevel" formControlName="logLevel">
                        @for (level of logLevelListType; track level) {
                          <option [value]="level">{{ level }}</option>
                        }
                      </select>
                    </div>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="checkbox" id="field_autoStart" formControlName="autoStart" />
                      <label class="form-check-label" for="field_autoStart">Start automatically when the Gateway starts</label>
                    </div>
                    @if (flowIsDraft) {
                      <p class="text-muted small mb-3">This Flow is a Draft, so it is saved with auto-start off until it is complete.</p>
                    } @else {
                      <div class="mb-3"></div>
                    }
                    <label class="form-control-label" for="field_notes">Notes</label>
                    <ngx-codemirror
                      *ngIf="flow"
                      class="notes-codemirror"
                      id="field_notes"
                      formControlName="notes"
                      [options]="notesEditorOptions()"
                      (codeMirrorLoaded)="refreshCodeMirror($event)">
                    </ngx-codemirror>
                  </div>
                </div>
                @if (errorStepIndex >= 0) {
                  <ng-container *ngTemplateOutlet="stepEditor; context: { $implicit: errorStepIndex }"></ng-container>
                }
              }
              </div>
              @if (selection.type !== 'flow') {
                <div class="flow-designer-minimap" title="Click or drag to move the view"
                     (pointerdown)="flowCanvasRef.onMinimapPointer($event)" (pointermove)="flowCanvasRef.onMinimapPointer($event)">
                  <ng-container *ngTemplateOutlet="flowCanvasRef.minimap"></ng-container>
                </div>
              }
            </aside>
            }
          </div>
        </div>
      } @else {

      <div class="card text-center" style="width: 54rem; background-color: var(--app-hover);">
        <div class="card-header">
          <br/>
          <ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="active2" orientation="horizontal">
            <li ngbNavItem="STEPS" formArrayName="stepsData" novalidate
                [ngStyle]="{'text-align': 'left' }">
              <a ngbNavLink>STEPS</a>
              <ng-template ngbNavContent>
                <br/>
                <hr/>
                <div style="min-height: 44rem;">
                  <jhi-flow-editor-step
                    *ngFor="let step of steps; index as index"
                    [step]="step"
                    [index]="index"
                    [stepForm]="stepFormAt(index)"
                    [activeEditor]="activeEditor"
                    [formSubmitted]="formSubmitted"
                    [sourceComponentsNames]="sourceComponentsNames"
                    [sinkComponentsNames]="sinkComponentsNames"
                    [actionComponentsNames]="actionComponentsNames"
                    [languageComponentsNames]="languageComponentsNames"
                    [routes]="routes"
                    [messages]="messages"
                    [connections]="connections"
                    [routeCreated]="routeCreated"
                    [messageCreated]="messageCreated"
                    [connectionCreated]="connectionCreated"
                    [uriPlaceholder]="uriPlaceholders[index]"
                    [uriPopoverMessage]="uriPopoverMessages[index]"
                    [uriList]="URIList[index]"
                    [componentOptions]="componentOptions[index]"
                    [stepOptions]="stepsOptions[index]"
                    [selectedOptions]="selectedOptions[index]"
                    [componentTypeCamelLink]="componentTypeCamelLinks[index]"
                    [enableMessage]="enableMessage[index]"
                    [enableConnection]="enableConnection[index]"
                    [filterConnection]="filterConnection[index]"
                    [connectionType]="connectionType[index]"
                    [errorHandlerPopoverMessage]="errorHandlerPopoverMessage"
                    [optionsPopoverMessage]="optionsPopoverMessage"
                    [customOptions]="customOptions"
                    (removeStep)="removeStep($event.step, $event.index)"
                    (addStep)="addStep($event.step, $event.index)"
                    (addConnection)="addConnection($event.step, $event.index)"
                    (componentTypeChange)="setTypeLinks($event.step, $event.index, $event.componentType)"
                    (createOrEditRoute)="createOrEditRoute($event.step, $event.control)"
                    (createOrEditMessage)="createOrEditMessage($event.step, $event.control)"
                    (createOrEditConnection)="createOrEditConnection($event.step, $event.connectionType, $event.control)"
                  ></jhi-flow-editor-step>
                </div>
              </ng-template>
            </li>

            <li ngbNavItem="NOTES" novalidate [ngStyle]="{'text-align': 'left' }">
              <a ngbNavLink>NOTES</a>
              <ng-template ngbNavContent>
                <ng-template #notesPopover let-message="message">
                  <div [innerHtml]="notesPopoverMessage"></div>
                </ng-template>
                <br/>
                <hr/>
                <div class="container col-lg-12"
                     style="min-height: 44rem; padding-left: 20px; padding-right: 20px; padding-top: 20px;">
                  <div class="form-group">
                    <ngx-codemirror
                      *ngIf="flow"
                      class="notes-codemirror"
                      id="field_notes"
                      formControlName="notes"
                      [options]="notesEditorOptions()"
                      (codeMirrorLoaded)="refreshCodeMirror($event)">
                    </ngx-codemirror>
                  </div>
                </div>
              </ng-template>
            </li>

          </ul>
          <div [ngbNavOutlet]="nav" class="ml-4"></div>
        </div>
      </div>

      }

      @if (!useCanvas) {
      <div *ngIf="savingFlowSuccess">
        <span class="text-success">*{{savingFlowSuccessMessage}}</span>
      </div>
      <div *ngIf="savingFlowFailed">
        <span class="text-danger">*{{savingFlowFailedMessage}}</span>
      </div>
      <div *ngIf="!!invalidUriMessage">
        <span class="text-danger">*{{invalidUriMessage}}</span>
      </div>
      <div *ngIf="!!notUniqueUriMessage">
        <span class="text-danger">*{{notUniqueUriMessage}}</span>
      </div>
      <br/>
      }
    </form>
  </div>
</div>
