<td id="topicRowID" [hidden]="!topicRowID"><a
	[routerLink]="['../topic', address.id ]">{{address.id}}</a>
</td>
<td>{{ address.address }}</td>
<td>{{ address.name }}</td>
<td>{{ address.numberOfConsumers }}</td>
<td>{{ address.numberOfMessages }}</td>
<td class="text-right">
    <div class="btn-group">
        <button type="submit" class="btn btn-info btn-sm" (click)="navigateToMessageBrowser(address.name)">
            <fa-icon icon="eye"></fa-icon>
            <span class="d-none d-md-inline">Browse</span>
        </button>

        <button type="submit" class="btn btn-primary btn-sm" (click)="navigateToMessageSender(address.name)">
            <fa-icon icon="envelope"></fa-icon>
            <span class="d-none d-md-inline">Send</span>
        </button>

        <button type="submit"
                class="btn btn-danger btn-sm"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="delete(address)">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline">Delete</span>
        </button>

        <button type="submit"
                class="btn btn-warning btn-sm"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="clear(address)">
            <fa-icon icon="trash"></fa-icon>
            <span class="d-none d-md-inline" *ngIf="brokerType==='classic'">Reset</span>
            <span class="d-none d-md-inline" *ngIf="brokerType==='artemis'">Clear</span>
        </button>
    </div>
</td>
