/* ==========================================================================
Main page styles
========================================================================== */
.background {
    background-image: url('../../content/images/landingspage/1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.jumbotron {
    background-color: #11ffee00;
}

.jumbotron-text {
    margin-top: 210px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

h1 {
    color: #353d47;
    font-family: 'Raleway', sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: #676767;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin: 240 0 0px;
    text-align: center;
}

p {
    color: #676767;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}

#login {
    color: white;
    background-color: #ee3a24;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
        background-size: contain;
    }
}
