<div class="background-parent">
  @if (account !== null) {
  <div>
    @if (account) {
      <div *ngIf="type==='INTEGRATION' || type==='FULL'">
        <jhi-flow>Loading flows...</jhi-flow>
      </div>
      <div *ngIf="type==='BROKER'">
        <jhi-broker>Loading broker...</jhi-broker>
      </div>
    }
  </div>
  } @else {
  <div style="margin-top: 1.5em;">
    <div class="jumbotron jumbotron-fluid foreground">
      <div class="container jumbotron-text">
        <h4 class="lead d-flex justify-content-center">A message gateway</h4>
        <h1 class="display-4 d-flex justify-content-center">
          <b>Assimbly</b>
        </h1>
        <p class="d-flex justify-content-center tab">
          <button (click)="login()"
                  class="btn btn-lg"
                  id="login">Sign in
          </button>
        </p>
      </div>
    </div>
  </div>
  }
</div>


