<div [ngSwitch]="isAuthenticated()" class="background-parent">
	<div *ngSwitchCase="true">
        <div *ngIf="type==='CONNECTOR' || type==='FULL'">
            <jhi-flow>Loading flows...</jhi-flow>
        </div>
        <div *ngIf="type==='BROKER'">
            <jhi-broker>Loading broker...</jhi-broker>
        </div>
	</div>
    <div *ngSwitchCase="false">
        <picture class="background" style="margin-top: 1.0em;">
            <source srcset="../../content/images/landingspage/1.webp" type="image/webp">
            <img src="../../content/images/landingspage/1.jpg" alt="logo">
        </picture>
		<div class="jumbotron jumbotron-fluid foreground">
			<div class="container jumbotron-text">
				<h4 class="lead d-flex justify-content-center">A message gateway</h4>
				<h1 class="display-4 d-flex justify-content-center">
					<b>Assimbly</b>
				</h1>
				<p class="d-flex justify-content-center tab">
					<button (click)="login()"
						class="btn btn-lg"
						id="login">Sign in
					</button>
				</p>
			</div>
		</div>
	</div>
</div>
