<h2>Maintenance</h2>
<hr>
<form (ngSubmit)="setMaintenance()">
    <p>In order to put flows into maintenance mode select flows from given list and set time period for maintenance</p>
    <div class="input-group px-0 mb-3 col-12 col-md-6 col-xl-4 float-right">
        <input [(ngModel)]="hours" type="number" name="hours" class="form-control" id="hours" placeholder="hours">
        <input [(ngModel)]="minutes" min="0" max="59" size="1" maxlength="2" type="number" name="minutes" class="form-control" id="minutes"
            placeholder="minutes" required>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Apply</button>
        </div>
    </div>
    <div class="table-responsive" *ngIf="flows">
        <table class="table table-striped">
            <thead>
                <tr class="d-flex" jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th class="col-1">
                        <button *ngIf="!allSelected" type="button" class="btn btn-primary btn-sm" (click)="selectAll()">Select all</button>
                        <button *ngIf="allSelected" type="button" class="btn btn-primary btn-sm" (click)="deselectAll()">Deselect all</button>
                    </th>
                    <th class="col-3" jhiSortBy="name">                   
                         <span>Flow</span>
                         <span class="fa fa-sort"></span>
                    </th>
                    <th class="col-8">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="d-flex" *ngFor="let flow of flows; let i = index">
                    <td class="col-sm-1">
                        <input [checked]="selectedFlows[i]" type="checkbox" name="flow.name" (change)="select($event, i, flow)" [disabled]="disableFlows[i]">
                    </td>
                    <td class="col-sm-3">{{flow.name}}</td>
                    <td class="col-sm-8">
                        <div *ngIf="!!maintenanceTimers[i]" class="text-center">{{messageFlow}}
                            <strong>{{maintenanceTimers[i]}}</strong>
                        </div>
                        <div *ngIf="maintenanceTimers[i] === ''" class="text-center">Set flow finished:
                            <i class="fa fa-check fa-lg text-success"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>