
<div *ngIf="maintenance">
    <h2><span>Maintenance</span> {{maintenance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Start Time</span></dt>
        <dd>
            <span>{{maintenance.startTime | date:'medium'}}</span>
        </dd>
        <dt><span>End Time</span></dt>
        <dd>
            <span>{{maintenance.endTime | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'maintenance/'+ maintenance.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
