<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="maintenance">
            <h2><span>Maintenance</span> {{maintenance.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Start Time</span></dt>
                <dd>
                    <span>{{maintenance.startTime}}</span>
                </dd>
                <dt><span>End Time</span></dt>
                <dd>
                    <span>{{maintenance.endTime}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{maintenance.duration}}</span>
                </dd>
                <dt><span>Frequency</span></dt>
                <dd>
                    <span>{{maintenance.frequency}}</span>
                </dd>
                <dt><span>Flow</span></dt>
                <dd>
                    <div *ngIf="maintenance.flowId">
                        <a [routerLink]="['/flow', maintenance.flowId, 'view']">{{maintenance.flowId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/maintenance', maintenance.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
