<div>
  <div class="d-flex justify-content-end align-items-center gap-2 mb-3">
    <button class="btn btn-fx btn-fx-secondary" type="button" (click)="refresh()" aria-label="Refresh">
      <fa-icon icon="sync"></fa-icon>
      <span class="d-none d-md-inline" jhiTranslate="metrics.refresh.button">Refresh</span>
    </button>
  </div>

  <h3 jhiTranslate="metrics.jvm.title">JVM Metrics</h3>

  @let metricsRef = metrics();
  @if (metricsRef && !updatingMetrics()) {
    <div class="row">
      <jhi-jvm-memory class="col-md-4" [updating]="updatingMetrics()" [jvmMemoryMetrics]="metricsRef.jvm" />

      <jhi-jvm-threads class="col-md-4" [threads]="threads()" />

      <jhi-metrics-system class="col-md-4" [updating]="updatingMetrics()" [systemMetrics]="metricsRef.processMetrics" />
    </div>
  }

  @if (metricsRef?.garbageCollector; as metricsRefGarbageCollector) {
    <jhi-metrics-garbagecollector [updating]="updatingMetrics()" [garbageCollectorMetrics]="metricsRefGarbageCollector" />
  }

  @if (updatingMetrics()) {
    <div class="d-flex justify-content-center me-3">
      <div class="spinner-border" role="status" aria-live="polite">
        <span class="visually-hidden" jhiTranslate="metrics.updating">Updating...</span>
      </div>
    </div>
  }

  @if (metricsRef?.['http.server.requests']; as metricsRefHttpServerRequests) {
    <jhi-metrics-request [updating]="updatingMetrics()" [requestMetrics]="metricsRefHttpServerRequests" />
  }

  @if (metricsRef?.services; as metricsRefServices) {
    <jhi-metrics-endpoints-requests [updating]="updatingMetrics()" [endpointsRequestsMetrics]="metricsRefServices" />
  }

  @if (metricsRef?.cache; as metricsRefCache) {
    <jhi-metrics-cache [updating]="updatingMetrics()" [cacheMetrics]="metricsRefCache" />
  }

  @if (metricsRef && metricsKeyExistsAndObjectNotEmpty('databases')) {
    <jhi-metrics-datasource [updating]="updatingMetrics()" [datasourceMetrics]="metricsRef.databases" />
  }
</div>
