<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="headerKeys">
            <h2><span>Header Keys</span> {{headerKeys.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{headerKeys.key}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{headerKeys.value}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{headerKeys.type}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                  <span>{{headerKeys.language}}</span>
                </dd>
                <dt><span>Header</span></dt>
                <dd>
                    <div *ngIf="headerKeys.headerId">
                        <a [routerLink]="['/header', headerKeys.headerId, 'view']">{{headerKeys.headerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/header-keys', headerKeys.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
