<div>
    <button class="btn btn-primary float-right jh-create-entity create-service" *ngIf="isAdmin" [routerLink]="['/', { outlets: { popup: ['service-new'] } }]">
        <span class="fa fa-plus"></span>
        <span>
            Create new Service
        </span>
    </button>
    <br/>
    <h2>
        <span>Service</span>
    </h2>
    <br/>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
                    <th jhiSortBy="name">
                        <span>Service name</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th jhiSortBy="type">
                        <span>Service type</span>
                        <span class="fa fa-sort"></span>
                    </th>
                    <th>
                        Details
                    </th>
                </tr>
            </thead>
            <tbody infinite-scroll>
                <tr *ngFor="let service of services">
                    <td>
                        {{service.name}}
                    </td>
                    <td>
                        {{service.type}}
                    </td>
                    <td>
                        <button type="button" *ngIf="!isAdmin" [routerLink]="['./', service.id ]" class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span> View details
                        </button>
                        <button type="button" *ngIf="isAdmin" [routerLink]="['/', { outlets: { popup: 'service/'+ service.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>&nbsp;
                            <span> Edit</span>
                        </button>
                        <button type="button" *ngIf="isAdmin" [routerLink]="['/', { outlets: { popup: 'service/'+ service.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" fragment="clone" class="btn btn-info btn-sm">
                            <span class="fa fa-clone"></span>&nbsp;
                            <span> Clone</span>
                        </button>
                        <button type="button" *ngIf="isAdmin" [routerLink]="['/', { outlets: { popup: 'service/'+ service.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
