<div>
    <h2>
        <span>Services</span>
        <button class="btn btn-primary float-right jh-create-entity create-service" [routerLink]="['/', { outlets: { popup: ['service-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Service
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="services">
        <table class="table table-striped">
            <thead>
            <tr>
            <th id="serviceTitleID" [hidden]="!serviceTitleID"><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Type</span></th>
            <th><span>Url</span></th>
            <th><span>Username</span></th>
            <th><span>Password</span></th>
            <th><span>Driver</span></th>
            <th><span>Configuration</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let service of services ;trackBy: trackId">
                <td  id="serviceRowID" [hidden]="!serviceRowID"><a [routerLink]="['../service', service.id ]">{{service.id}}</a></td>
                <td>{{service.name}}</td>
                <td>{{service.type}}</td>
                <td>{{service.url}}</td>
                <td>{{service.username}}</td>
                <td>{{service.password}}</td>
                <td>{{service.driver}}</td>
                <td>{{service.configuration}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../service', service.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service/'+ service.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'service/'+ service.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
