<div>
    <button class="btn btn-primary float-right jh-create-entity create-service" [routerLink]="['/', { outlets: { popup: ['service-new'] } }]">
        <span class="fa fa-plus"></span>
        <span>
            Create new Service
        </span>
    </button>
    <br/>
    <h2>
        <span>Service</span>
    </h2>
    <br/>
    <div class="form-group">
        <label>
            <strong>Service name:</strong>
        </label>
        <ng-select [items]="services" bindLabel="name" id="field_service" [(ngModel)]="selectedService" (change)="filterServiceKeys()"></ng-select>
        <br/>
        <label>
            <strong>Service type:</strong>
        </label>
        <div class="row">
            <div class="col-md-11">
                <ng-select [items]="typeServices" bindLabel="type" bindValue="type" id="field_service_type" [(ngModel)]="selectedService.type" [disabled]="disabledServiceType"></ng-select>
            </div>
            <div class="col-md-1 text-right">
              	<button type="submit" [routerLink]="['../service', selectedService.id ]" class="btn btn-info">
	            	<span class="fa fa-eye"></span>
        		</button>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
</div>

<jhi-service-keys *ngIf="services.length > 0" [serviceKeys]="serviceKeys" [serviceId]="selectedService.id">Loading routes...</jhi-service-keys>