<div>
  <div class="row">
    <div class="col-10">
      <h2>
        <span>Services</span>
      </h2>
    </div>
    <div class="col-2">
      <a
        role="button"
        class="btn btn-sm right-border-radius-0 assimbly-link assimbly-gateway-img"
        href="https://github.com/assimbly/gateway/wiki/Services"
        placement="right"
        title="Assimbly Documentation"
        target="_blank"
      >
        <picture>
          <source srcset="../../../content/images/assimbly_transparant.webp" />
          <img src="../../../content/images/assimbly_transparant.png" alt="assibmly-logo" />
        </picture>
      </a>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2">
      <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-service" [routerLink]="['/service/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span>Create Service</span>
      </button>
    </div>
  </div>
  <br />
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
          <th jhiSortBy="name">
            <span>Service name</span>
            <span class="fa fa-sort"></span>
          </th>
          <th jhiSortBy="type">
            <span>Service type</span>
            <span class="fa fa-sort"></span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody infinite-scroll>
        <tr *ngFor="let service of services">
          <td style="width:20%">
            {{ service.name }}
          </td>
          <td style="width:65%">
            {{ service.type }}
          </td>
          <td style="width:15%" class="text-right">
            <div class="btn-group flex-btn-group-container">
              <button
                type="button"
                [routerLink]="['/service', service.id, 'edit']"
                queryParamsHandling="merge"
                class="btn btn-primary btn-sm"
              >
                <span class="fa fa-pencil"></span>&nbsp;
                <span> Edit</span>
              </button>
              <button
                type="button"
                [routerLink]="['/service', service.id, 'edit']"
                queryParamsHandling="merge"
                fragment="clone"
                class="btn btn-info btn-sm"
              >
                <span class="fa fa-clone"></span>&nbsp;
                <span> Clone</span>
              </button>
              <button
                type="button"
                [routerLink]="['/', { outlets: { popup: 'service/' + service.id + '/delete' } }]"
                queryParamsHandling="merge"
                class="btn btn-danger btn-sm"
              >
                <span class="fa fa-remove"></span>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
