<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="connectionKeys">
            <h2><span>Connection Keys</span> {{connectionKeys.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{connectionKeys.key}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{connectionKeys.value}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{connectionKeys.type}}</span>
                </dd>
                <dt><span>Connection</span></dt>
                <dd>
                    <div *ngIf="connectionKeys.connectionId">
                        <a [routerLink]="['/connection', connectionKeys.connectionId, 'view']">{{connectionKeys.connectionId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/connection-keys', connectionKeys.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
