/* ============================================================== Bootstrap tweaks ===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;

    &:hover {
        color: #533f03;
        font-weight: bold;

        /* make sure browsers use the pointer cursor for anchors, even with no href */
        cursor: pointer;
    }
}

/* ========================================================================== Browser Upgrade Prompt ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ========================================================================== Generic styles ========================================================================== */
/* Error highlight on input fields */

.ng-valid {
    &[required],
    &.required {
        border-left: 5px solid green;
    }
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.invalid-field-message {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.ng-select-disabled > .ng-select-container {
    background-color: #e9ecef !important;
}

/* other generic styles */

.jh-card {
    background-color: white;
    padding: 1.5%;
    min-height: 700px;
    height: 100%;
    margin-top: 20px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ========================================================================== Custom alerts for notification ========================================================================== */

.alerts .alert {
    text-overflow: ellipsis;
}

.alert {
    pre {
        background: none;
        border: none;
        font: inherit;
        color: inherit;
        padding: 0;
        margin: 0;
    }

    .popover pre {
        font-size: 10px;
    }
}

.alerts .toast {
    position: fixed;
    width: 100%;

    &.left {
        left: 5px;
    }

    &.right {
        right: 5px;
    }

    &.top {
        top: 55px;
    }

    &.bottom {
        bottom: 55px;
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ========================================================================== entity tables helpers ========================================================================== */
/* Remove Bootstrap padding from the element http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */

.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */

.flex-btn-group-container {
    display: -webkit-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    white-space: nowrap;
}

/* ========================================================================== entity detail page css ========================================================================== */

.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }

        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ========================================================================== ui bootstrap tweaks ========================================================================== */

.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ========================================================================== custom assimbly css ========================================================================== */

#fromTab.active,
#toTab.active,
#toTab0.active,
#toTab1.active,
#toTab2.active,
#errorTab.active {
    background-color: crimson;
    border-color: white;
    color: white;
}

#fromTab,
#toTab,
#toTab0,
#toTab1,
#toTab2,
#errorTab {
    background-color: grey;
    border-color: white;
    color: white;
}

#tabBackground {
    background-color: whitesmoke;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid whitesmoke;
}

.detailsTable {
    width: 50%;
}

.lastItemBorder {
    border-bottom: 1px solid #e9ecef;
}

.btn {
    &.disabled,
    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.input-group-append button.btn,
.left-border-radius-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    ng-select {
        flex: 1 1 auto;
    }

    .ng-select-container {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.right-border-radius-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ng-select.ng-select-single .ng-select-container {
    height: 38px;
}

.assimbly-link {
    align: right;
    float: right;
}

.assimbly-gateway-img img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height: 50px;
}

.activemq-link {
    align: right;
    float: right;
}

.activemq-broker-img {
    background-image: url('../images/activemq.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60px;
    height: 50px;
}

.activemq-link img {
    width: 50px;
    height: 50px;
    vertical-align: text-bottom;
}

.popover {
    min-width: 200px;
    max-width: 500px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
}

@media (min-width: 768px) {
    .flow-btns .btn {
        width: 80px;
    }
}

.bg-gray {
    background-color: #dee2e6;
}

.h-20 {
    height: 20px;
}

.padding-button {
    padding-left: 11px;
    padding-right: 10px;
}

.p-button-camel {
    padding: 5px 7px !important;
}

.p-question-button {
    padding-left: 25px;
    padding-right: 28px;
}

.flow-camel-button img {
    margin-top: 5px;
    width: 80%;
}

.flow-assimbly-button img {
    width: 60%;
}

.flow-header-button {
    background-image: url('../images/new_page.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
}

.wiretap-header-button {
    background-image: url('../images/new_page.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    width: 66px;
}

.wiretap-camel-button {
    background-image: url('../images/apache-camel.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
    width: 67px;
}

.assimbly {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../images/assimbly.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2 / 1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .assimbly {
        background: url('../images/assimbly.png') no-repeat center top;
        background-size: contain;
    }
}

/* jhipster-needle-css-add-main JHipster will add new css style */

.popover {
    max-width: 30%;
}

.border-bottom-none {
    border-bottom: none !important;
}

.nounderline {
    text-decoration: none !important;
}

.btn-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none;
    background-repeat: no-repeat;
    border: none;
    cursor: default;
    overflow: hidden;
    outline: none;
}

.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}

.btn-arrow-right {
    padding-left: 36px;
}

.btn-arrow-left {
    padding-right: 36px;
}

.btn-arrow-right {
    &:before,
    &:after {
        /* make two squares (before and after), looking similar to the button */
        content: '';
        position: absolute;
        top: 3.5px;

        /* move it down because of rounded corners */
        width: 22px;

        /* same as height */
        height: 22px;

        /* button_outer_height / sqrt(2) */
        background: inherit;

        /* use parent background */
        border: inherit;

        /* use parent border */
        border-left-color: transparent;

        /* hide left border */
        border-bottom-color: transparent;

        /* hide bottom border */
        border-radius: 0px 4px 0px 0px;

        /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
        -webkit-border-radius: 0px 4px 0px 0px;
        -moz-border-radius: 0px 4px 0px 0px;
    }
}

.btn-arrow-left {
    &:before,
    &:after {
        /* make two squares (before and after), looking similar to the button */
        content: '';
        position: absolute;
        top: 3.5px;

        /* move it down because of rounded corners */
        width: 22px;

        /* same as height */
        height: 22px;

        /* button_outer_height / sqrt(2) */
        background: inherit;

        /* use parent background */
        border: inherit;

        /* use parent border */
        border-left-color: transparent;

        /* hide left border */
        border-bottom-color: transparent;

        /* hide bottom border */
        border-radius: 0px 4px 0px 0px;

        /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
        -webkit-border-radius: 0px 4px 0px 0px;
        -moz-border-radius: 0px 4px 0px 0px;
    }
}

.btn-arrow-right {
    &:before,
    &:after {
        transform: rotate(45deg);

        /* rotate right arrow squares 45 deg to point right */
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
    }
}

.btn-arrow-left {
    &:before,
    &:after {
        transform: rotate(225deg);

        /* rotate left arrow squares 225 deg to point left */
        -webkit-transform: rotate(225deg);
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
    }
}

.btn-arrow-right:before,
.btn-arrow-left:before {
    /* align the "before" square to the left */
    left: -10px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
    /* align the "after" square to the right */
    right: -10px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
    /* bring arrow pointers to front */
    z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
    /* hide arrow tails background */
    background-color: transparent;
}

.increase-popover-width {
    width: 1200px;
    max-width: 1200px;
}

ng-select select-dropdown > div {
    position: relative;
    z-index: 100;
}

.dropdown-toggle::after {
    display:none;
}