<div>
  <ng-template #statsTemplate>
    <div [innerHtml]="brokerInfo"></div>
  </ng-template>
  <ng-template #infoModal>
    <div class="modal-header">
      <h4 class="modal-title">Broker info</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="cancelModal()"></button>
    </div>
    <div class="modal-body">
      <div [innerHtml]="brokerDetails"></div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-fx btn-fx-secondary" (click)="cancelModal()">Close</button>
    </div>
  </ng-template>

  <jhi-search-toolbar [(query)]="searchText" placeholder="Filter by broker name" persistKey="searchBrokerText" inputId="searchBrokerId">
    <ng-container actions>
      <button
        *ngIf="brokers?.length === 0"
        id="jh-create-entity"
        class="btn btn-fx btn-fx-primary jh-create-entity create-broker"
        [routerLink]="['/broker/new']"
        aria-label="Create Broker"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="d-none d-md-inline"> Create Broker</span>
      </button>
      <button
        *ngIf="brokers?.length > 0"
        class="btn btn-fx btn-fx-secondary"
        type="button"
        (click)="loadAll()"
        aria-label="Refresh"
      >
        <fa-icon icon="sync"></fa-icon>
        <span class="d-none d-md-inline"> Refresh</span>
      </button>
    </ng-container>
  </jhi-search-toolbar>

  <jhi-data-table
    [columns]="columns"
    [(sortState)]="sortState"
    [hasRows]="!!filteredBrokers.length"
    [loading]="brokersLoading"
    [emptyMessage]="'No broker is configured'"
    ariaLabel="Broker"
  >
    <tr *ngFor="let rowBroker of filteredBrokers; trackBy: trackId">
      <td class="table-fx-identity">
        <a [routerLink]="['/broker', rowBroker.id, 'edit']">
          <jhi-truncate [text]="rowBroker.name" />
        </a>
      </td>
      <td class="text-end table-fx-numeric">{{ formatMetric(totalConsumers) }}</td>
      <td class="text-end table-fx-numeric">{{ formatMetric(totalMessages) }}</td>
      <td class="text-end">
        <jhi-row-actions>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            [routerLink]="['/broker', rowBroker.id, 'edit']"
          >
            <fa-icon icon="edit"></fa-icon>
            <span>Edit</span>
          </button>
          <button
            jhiPrimaryAction
            type="button"
            class="btn btn-fx btn-fx-sm btn-fx-ghost"
            (click)="getBrokerInfo(rowBroker.id)"
            [ngbPopover]="statsTemplate"
            popoverTitle="Stats"
            placement="left"
            container="body"
            triggers="click"
            [autoClose]="'outside'"
            aria-label="Stats"
          >
            <fa-icon icon="chart-bar"></fa-icon>
            <span class="d-none d-md-inline">Stats</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item"
            (click)="openInfoModal(infoModal)"
          >
            <fa-icon icon="info"></fa-icon>
            <span>Info</span>
          </button>
          <button
            jhiOverflowAction
            type="button"
            ngbDropdownItem
            class="btn-fx-dropdown-item btn-fx-dropdown-danger"
            (click)="delete(rowBroker)"
          >
            <fa-icon icon="trash"></fa-icon>
            <span>Delete</span>
          </button>
        </jhi-row-actions>
      </td>
      <td class="text-end">
        <jhi-status-controls
          [busy]="disableActionBtns"
          [tone]="statusTone"
          [showStart]="!isBrokerStarted"
          [showStop]="true"
          [stopDisabled]="isBrokerStopped"
          [showRestart]="!isBrokerRestarted"
          (start)="start()"
          (stop)="stop()"
          (restart)="restart()"
        />
      </td>
    </tr>
  </jhi-data-table>
</div>
