<ng-template #moveMessageModal>
    <div class="modal-header">
        <h4 class="modal-title">Move message</h4>
        <button type="button" class="close" aria-label="Close" (click)="cancelModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <label style="float: left; text-align: left;">Source:</label>
            <div style="width:3px; height:auto; display:inline-block;"></div>
            <input id="sourceEndpoint" [(ngModel)]="endpointName" disabled/>
        </div>
        <br/>
        <div class="row">
            <label style="float: left; text-align: left;">Target:</label>
            <div style="width:5px; height:auto; display:inline-block;"></div>
            <input id="targetEndpoint" [(ngModel)]="targetEndpointName"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary"  (click)="cancelModal()">Close</button>
        <div style="width:3px; height:auto; display:inline-block;"></div>
        <button type="button" class="btn btn-primary"  (click)="moveMessage(selectedMessage)">Move</button>
    </div>
</ng-template>

<div class="row mt-3" style="margin-left: 0.3em">
    <h2>Browse Messages</h2><br/>
</div>

<div class="row">
    <div class="col-9">
        <h4 style="margin-left: 0.3em"><b><i>{{subtitle}}</i></b></h4>
    </div>
    <div class="col-2-5">
        <div ngbDropdown class="d-inline-block" *ngIf="messages?.length > 0" >
            <button class="btn btn-outline-primary" id="dropdownMenuActions" ngbDropdownToggle style="min-width: 160px;">Actions</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <button ngbDropdownItem (click)="openModal(moveMessageModal)">Move</button>
                <button ngbDropdownItem (click)="deleteMessage(selectedMessage)">Delete</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block" *ngIf="messages?.length > 0" >
            <button class="btn btn-outline-primary" id="dropdownMenuActions2" ngbDropdownToggle style="min-width: 160px;">Save</button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                <button ngbDropdownItem (click)="saveMessage(selectedMessage, false)" *ngIf="messages?.length > 0">Message</button>
                <button ngbDropdownItem (click)="saveMessage(selectedMessage, true)" *ngIf="messages?.length > 0">Body</button>
                <button ngbDropdownItem (click)="saveAllMessages()" *ngIf="messages?.length > 0">All Messages</button>
            </div>
        </div>
        <div class="d-inline-block">
            <button class="btn btn-primary" (click)="refreshMessages()">
                <span class="fa fa-refresh"></span> <span>Refresh</span>
            </button>
        </div>
    </div>
    <div class="col-0-5"></div>
</div>

<!-- uncomment for adding searching to the table
<div class="row">
    <div class="col-3">
        <input type="text" align="left" style="margin-left: 0.3em"
               [(ngModel)]="searchText"
               id="searchTextId" name="searchText"
               placeholder="Filter By Messages Name"/>
    </div>
    <div class="col-9">
    </div>
</div>-->

<br />

<div class="container-fluid" *ngIf="isLoading">
    <br />
    <div class="row">
        <div class="col-6">
            Loading messages...
        </div>
    </div>

</div>

<div class="container-fluid" *ngIf="messages?.length > 0">
    <div class="row">
        <div class="col-6">
            <div class="table-responsive" [ngStyle]="{'visibility':finished ? 'visible' : 'hidden'}">
                <table class="table table-striped table-condensed">
                    <thead class="transparant">
                    <tr>
                        <th [style.display]="'none'"><span>ID</span></th>
                        <th><span>No.</span></th>
                        <th class="border-bottom-none" (click)="sortByTimestamp()"><span>Timestamp</span>
                            <span class="fa fa-sort"></span></th>
                        <th><span>MessageID</span></th>
                        <th class="border-bottom-none">
                    </tr>
                    </thead>
                    <tbody *ngIf="messages" infinite-scroll>
                    <tr jhi-broker-message-browser-row (click)="showMessage(message)" [ngClass]="{'highlight': message.messageid === selectedHighlight  }"
                        *ngFor="let message of  (messages | MessageSearchByMessageId: searchText) ;trackBy: trackTimestamp"
                        [message]="message"  ng-init="$last && finished()"></tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-outline-primary" *ngIf="page > 1"  (click)="previousPage()">Previous</button>
            <div style="width:3px; height:auto; display:inline-block;" *ngIf="page > 1"></div>
            <button type="button" class="btn btn-primary" *ngIf="messagesCount > (page * 3)" (click)="nextPage()">Next</button>
        </div>
        <div class="col-6" style="position: fixed; left: 50%; width: 100%;" >
            <ul ngbNav #nav="ngbNav" class="nav-pills"  [(activeId)]="active" orientation="horizontal">
                <li ngbNavItem="0">
                    <a ngbNavLink>Body</a>
                    <ng-template ngbNavContent>
                        <br/>
                        <ace-editor #editor [(text)]="selectedMessage.body" [mode]="selectedMessage.fileType" [theme]="'eclipse'" contenteditable="false" style="min-height: 600px; width: 96%; overflow: auto; border: 1px solid #ced4da"></ace-editor>
                    </ng-template>
                </li>
                <li ngbNavItem="1">
                    <a ngbNavLink>Headers</a>
                    <ng-template ngbNavContent>
                        <br/>
                        <div class="table-responsive" [ngStyle]="{'visibility':finished ? 'visible' : 'hidden'}">
                            <table class="table table-striped table-condensed">
                                <thead class="transparant">
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                                    [callback]="reset.bind(this)">
                                    <th jhiSortBy="key" class="border-bottom-none"><span>Key</span><span class="fa fa-sort"></span></th>
                                    <th><span>Value</span></th>
                                    <th class="border-bottom-none">
                                </tr>
                                </thead>
                                <tbody infinite-scroll>
                                    <tr *ngFor="let key of objectKeys(selectedMessage.headers)">
                                        <td id="headerRowKey" class="text-nowrap">{{key}}</td>
                                        <td id="headerRowValue">{{selectedMessage.headers[key]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>
                <li ngbNavItem="2">
                    <a ngbNavLink>JMS Headers</a>
                    <ng-template ngbNavContent>
                        <br/>
                        <div class="table-responsive" [ngStyle]="{'visibility':finished ? 'visible' : 'hidden'}">
                            <table class="table table-striped table-condensed">
                                <thead class="transparant">
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse"
                                    [callback]="reset.bind(this)">
                                    <th jhiSortBy="key" class="border-bottom-none"><span>Key</span><span class="fa fa-sort"></span></th>
                                    <th><span>Value</span></th>
                                    <th class="border-bottom-none">
                                </tr>
                                </thead>
                                <tbody infinite-scroll>
                                <tr *ngFor="let key of objectKeys(selectedMessage.jmsHeaders)">
                                    <td id="jmsHeaderRowKey" class="text-nowrap">{{key}}</td>
                                    <td id="jmsHeaderRowValue">{{selectedMessage.jmsHeaders[key]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </li>

            </ul>
            <div [ngbNavOutlet]="nav" class="ml-4"></div>
        </div>
    </div>
</div>
