<div *ngIf="header">
    <h2>
        <span>Header</span> {{header.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt>
            <span>Name</span>
        </dt>
        <dd>
            <span>{{header.name}}</span>
        </dd>
    </dl>

    <button type="button" [routerLink]="['/header']" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;
        <span> Back</span>
    </button>
    <button type="button" [routerLink]="['/', { outlets: { popup: 'header/'+ header.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
        class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;
        <span> Edit</span>
    </button>
    <button type="button" [routerLink]="['/', { outlets: { popup: 'header/'+ header.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge"
        fragment="clone" class="btn btn-info">
        <span class="fa fa-clone"></span>&nbsp;
        <span> Clone</span>
    </button>
    <button type="button" [routerLink]="['/', { outlets: { popup: 'header/'+ header.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge"
        class="btn btn-danger">
        <span class="fa fa-remove"></span>
        <span class="d-none d-md-inline">Delete</span>
    </button>

</div>