<div>
  <h2>
    <span>Headers</span>
  </h2>
  <jhi-alert></jhi-alert>
  <br />
  <div class="table-responsive" *ngIf="headers">
    <table class="table">
      <thead>
        <tr>
          <th [style.display]="'none'">
            <span>ID</span>
          </th>
          <th>
            <span>Key</span>
          </th>
          <th>
            <span>Value</span>
          </th>
          <th>
            <span>Type</span>
          </th>
          <th>
            <span>Language</span>
          </th>
          <th [style.display]="'none'">
            <span>Message</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let header of headers; trackBy: trackId; let idx = index">
          <td [style.display]="'none'">
            <a [routerLink]="['../header', header.id]">{{ header.id }}</a>
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="header.key"
              value="header.key"
              name="headers-key-{{ idx }}"
              id="headers-key-{{ idx }}"
              required
              maxlength="255"
              [jhiExistingHeader]="headersArray"
              [disabled]="header.isDisabled"
              #key="ngModel"
            />
            <div *ngIf="key.invalid && (key.dirty || key.touched)" class="invalid-field-message">
              <span *ngIf="key.errors.required">Key is required.</span>
              <span *ngIf="key.errors.existingHeaders">Key already exists.</span>
            </div>
          </td>
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="header.value"
              name="headers-value-{{ idx }}"
              id="headers-value-{{ idx }}"
              required
              maxlength="1000"
              value="header.value"
              [disabled]="header.isDisabled"
              #value="ngModel"
            />
            <div *ngIf="value.invalid && (value.dirty || value.touched)" class="invalid-field-message">
              <span *ngIf="value.errors.required">Value is required.</span>
            </div>
          </td>
          <td>
            <select
              class="form-control form-select"
              id="field_header_type"
              name="headers-type-{{ idx }}"
              id="headers-type-{{ idx }}"
              [(ngModel)]="header.type"
              [disabled]="header.isDisabled"
            >
              <option [ngValue]="type" *ngFor="let type of typeHeader">{{ type }}</option>
            </select>
          </td>
          <td>
            <select
              class="form-control form-select"
              id="field_header_language"
              name="headers-language-{{ idx }}"
              id="headers-language-{{ idx }}"
              [(ngModel)]="header.type"
              [disabled]="header.isDisabled"
            >
              <option [ngValue]="language" *ngFor="let language of languageHeader">{{ language }}</option>
            </select>
          </td>
          <td [style.display]="'none'">
            <div *ngIf="header.messageId">
              <a [routerLink]="['../header', header.messageId]">{{ header.messageId }}</a>
              <input type="text" class="form-control" id="id" name="id" [(ngModel)]="header.messageId" readonly />
            </div>
          </td>
          <td>
            <div class="btn-group flex-btn-group-container">
              <button type="button" class="btn btn-success" title="Add" (click)="addHeader()">
                <span class="fa fa-plus"></span>
              </button>
              <button type="button" title="Remove" *ngIf="!header.id" class="btn btn-danger" (click)="removeHeader(idx)">
                <span class="fa fa-remove"></span>
              </button>
              <button type="button" title="Save" *ngIf="!header.id" class="btn btn-primary" (click)="save(header, idx)">
                <span class="fa fa-save"></span>
              </button>
              <button type="button" title="View" *ngIf="header.id" class="btn btn-info" [routerLink]="['../header', header.id]">
                <span class="fa fa-eye"></span>
              </button>
              <button
                type="button"
                title="Update"
                *ngIf="header.id && !header.isDisabled"
                class="btn btn-primary"
                (click)="save(header, idx)"
              >
                <span class="fa fa-check"></span>
              </button>
              <button
                type="button"
                title="Edit"
                *ngIf="header.id && header.isDisabled"
                queryParamsHandling="merge"
                class="btn btn-primary"
                (click)="editHeader(header)"
              >
                <span class="fa fa-pencil"></span>
              </button>
              <button
                type="button"
                title="Clone"
                *ngIf="header.id && header.isDisabled"
                queryParamsHandling="merge"
                class="btn btn-info"
                (click)="cloneHeader(header)"
              >
                <span class="fa fa-clone"></span>
              </button>
              <button
                type="submit"
                title="Delete"
                *ngIf="header.id"
                class="btn btn-danger"
				(click)="deleteHeader(header)"
				>
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
