  <div name="editForm">
    <div class="modal-body">
	<form role="form" [formGroup]="editForm" novalidate>
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" *ngIf="!show" [hidden]="!editForm.get('id')!.value">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name" formControlName="name"
                   required maxlength="255" [jhiExistingRouteNames]='routeNames'/>
            <div *ngIf="editForm.value.name.invalid && (editForm.value.name.name.dirty || editForm.value.name.touched)" class="invalid-field-message">
                <span *ngIf="editForm.value.name.errors.required" >Name is required.</span>
                <span *ngIf="editForm.value.name.errors.existingRouteName">Name already exists.</span>
            </div>
        </div>
        <div class="form-group" *ngIf="!show">
            <label class="form-control-label" for="field_type">Type</label>
            <select type="text" class="form-control" name="type" id="field_type" formControlName="type">
                <option value="xml">xml</option>
            </select>
        </div>
		<br/>
		<div class="form-group" >
			<ngx-codemirror
				class="form-control" name="content" id="field_content"
                    formControlName="content"
   				  [options]="{
				lineNumbers: true,
				theme: 'default',
				mode: 'xml'
			  }"
				>
			</ngx-codemirror>
        </div>
		</form>
    </div>
	<div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="clear()" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="save(true)"  id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
            <fa-icon icon="save" style="color: white;"></fa-icon>&nbsp;<span>Save</span>
        </button>		
    </div>
</div>
